/* faq */


#interior-nav { padding: 2px 8px 2px; background-color: $maroon-extra-dark; margin: 15px 0 0; }

.SAC, .CHIL {display:none}

#interior-nav a { display: block; width: 98%; color: $gray-extra-light; font-family: "Antenna", sans-serif; letter-spacing: 0.025em; font-size: .825em; }

#interior-nav a:hover {
  color:white;
}

#interior-nav .x {
  border-bottom: 1px $gray-extra-light solid;
}

#interior-nav .x.after .accordion:after {
  float: right;
  margin-right: -5%;
  content: '+';
  font-family: 'Antenna', sans-serif;
  font-size: 1.35em;
  color: #e1e1e1;
  margin-top: -10%;
}

#interior-nav .panel {
  border-bottom: none;
}

#interior-nav  .x.after .active:after {
  display: inline;
  content: "-"; }

#interior-nav .x:nth-last-child(1) {
  border-bottom: none;
}

.multilevel-linkdiv-0 {
  max-height: 0;
  margin: 0;
}

#interior-nav .panel.show a {
  margin-bottom: 10px;
  margin-left: 10px;
}
