/* storyforms-accordion */

#accordion {
  display: block;
  margin: 0;
  padding: 10px 0;
}

h4.accordion {
  margin: 16px 0 14px !important;
  width: 92%;
  font-family:"Antenna", sans-serif;
  font-size: .95em;
  line-height: 1.35;
  text-transform: uppercase;
  color: $gray-extra-dark;
}

#accordion .accordion:after {
  float: right;
  margin-left: 5px;
  margin-right: -8%;
  content: '+';
  font-family: 'Antenna', sans-serif;
  font-size: 1.35em;
  color: $gray-extra-dark;
}

#accordion .active:after {
  display: inline;
  margin-right: -8%;
  content: "-";
}

.panel {
   max-height: 0;
   border-bottom: solid 1px $gray-light;
   overflow: hidden;
   transition: max-height 0.5s ease-in-out;
}

.panel.show {
   opacity: 1;
   max-height: 500px;
}

.panel p.body {
  margin: 5px 0 25px 0;
  padding: 0 0 0 20px;
  font-size: .975em;
  line-height: 1.85;
}

#accordion-nested {
  display: block;
  margin: 0;
}

h4.accordion-nested {
  margin: 16px 0 14px !important;
  width: 92%;
  font-family:"Antenna", sans-serif;
  font-size: .95em;
  line-height: 1.35;
  text-transform: uppercase;
  color: $gray-extra-dark;
}

#accordion-nested .accordion-nested:after {
  float: right;
  margin-left: 5px;
  margin-right: -8%;
  content: '+';
  font-family: 'Antenna', sans-serif;
  font-size: 1.35em;
  color: $gray-extra-dark;
}

#accordion-nested .active:after {
  display: inline;
  margin-right: -8%;
  content: "-";
}

.panel-nested {
   max-height: 0;
   border-bottom: solid 1px $gray-light;
   overflow: hidden;
   transition: max-height 0.5s ease-in-out;
}

.panel-nested.show {
   opacity: 1;
   max-height: 500px;
}

.panel-nested p.body {
  margin: 5px 0 25px 0;
  padding: 0 0 0 20px;
  font-size: .975em;
  line-height: 1.85;
}

/* storyforms-accordion */
/* faq */

#get-started { margin: 15px 0 0; }

#get-started { padding: 16px 8px 12px; background-color: $maroon-extra-dark; }

#get-started.panel{ border: 0 none !important; box-shadow: none; }

#get-started.panel {
  float: left;
  margin: 0;
  border: 0;
  width: 100%;
  border-top: 1px solid $gray-light;
  border-bottom: 0 none !important;
  border-radius: 0;
  box-shadow: none;
}

#get-started h4.accordion { margin: 0 !important; font-size: .925em; }

#get-started h4.accordion { display: block; width: 98%; color: $white; font-family: "Antenna", sans-serif; letter-spacing: 0.025em; font-size: .825em;}

#get-started .panel {
  float: left;
  width: 100%;
  box-shadow: none;
  color: $gray-light !important;
}

#main-content #get-started .panel-heading .accordion-toggle span.accordion-icon {
  float: right;
  display: block;
  width: auto;
  height: auto;
  filter:invert(100%);
}

#main-content #get-started .panel-heading .accordion-toggle.collapsed span.accordion-icon img {
  margin: 0;
  padding: 0;
  width: 12px;
  height: 16px;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  transition-duration: .25s;
}

#get-started .accordion:after {
  float: right;
  margin-left: 5px;
  content: '+';
  font-family: 'Antenna', sans-serif;
  font-size: 1.35em;
  color: $gray-light;
}

#get-started .active:after {
  display: inline;
  content: "-";
}

#get-started .panel:nth-last-child(1) {
  border-bottom: none;
}

/* END - CSS */
