body.law {
  background-image: none !important;
}

body.law h1.display,
body.law h4.subhead {
  font-family: 'Arnhem Bold', 'Georgia', serif !important;
  color: blue !important;
}

body.law h2.secondary-explainer {
  font-family: 'Arnhem Blond', 'Georgia', serif !important;
  letter-spacing: -.0175em;
  font-weight: lighter;
  font-style: italic;
}

body.law p.body, body.law p.body.explainer {
  font-family: 'Arnhem Blond', 'Georgia', serif !important;
}

h6.faq {
  font-family: 'Arnhem Bold', 'Georgia', serif !important;
  text-transform: none !important;
  font-size: 100%;
}

.section-top {
  padding-top: 50px;
  border-top: 1px solid $gray
}

#accordion h4.subhead a {
  font-family: "Antenna", sans-serif;
}

.nested h4.subhead a {
  font-family: 'Arnhem Bold', 'Georgia', serif !important;
  text-transform: none;
  font-size: 110%;
}

.nested .panel-body {
  padding: 0px 10px 0px 10px !important;
  margin-top: 0px !important;
}

.nested .panel-heading {
  padding: 10px !important;
}

button.btn {
  border: 1px solid $maroon;
  background-color: white;
  color: $maroon;
  margin-right: 10px;
  border-radius: 40px;
  font-family: "Antenna", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}
