/* body */

/* REMOVE WHEN APPROVED */

body { background: $gray-light; margin: 0; padding: 0; }

p { float: left; width: 100%; }

#profiles-overview { padding: 40px 40px 0; background: $white; }

#profiles { padding: 0 40px 40px; background: $white; }

#profiles .col-md-4 { padding-top: 40px; border-top: solid 1px $gray-light; }

#profiles .col-md-4 img { margin-top: 0; }

#profiles .card a.btn.btn-primary {
  font-family: 'Antenna Bold', sans-serif;
  font-size: .7em;
  letter-spacing: .015em;
  color: $white;
  border: none;
  text-transform: uppercase;
}

/* REMOVE WHEN APPROVED */

/* CSS BEGINS */

#main-content, #main-wrapper {
  margin-top: 10px !important;
}

#wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -2;
}

#content-wrapper {
  position: relative;
  padding-top: 120px;
  padding-bottom: 60px;
  z-index: -2;
}

#story-spacer-top { padding-top: 40px !important; }

/* header */

#luc-header {
  position: fixed;
}

/* audience - directory header */

#audience-directory-header {
  position: fixed;
  padding: 8px 0;
  width: 100%;
  height: 35px;
  max-height: 35px;
  background: $maroon-extra-dark;
  ul {
    margin: 0;
  }
  ul li {
    display: inline;
    float: left;
    padding: 0;
    text-transform: uppercase;
    border: none;
    &:first-child {
      border: none;
    }
    &:hover {
      background: none;
    }
    a {
      font-size: .75em !important;
      color: $gray-light;
      &:hover {
        color: $white;
      }
    }
  }
}

#audience-directory-header ul#directory-nav li {
  float: right;
}

#luc-header #audience-directory-header li a {
  padding: 0 5px;
}

/* global-header */

#global-header {
  margin-top: 35px;
  padding: 30px 20px 15px;
  background: $bg-overlay-extra-dark;
}

#global-header a.navbar-brand {
  float: right;
  margin: 0;
  padding: 0;
  width: auto;
  height: auto;
  img {
    margin: 0;
    padding: 0;
    width: auto;
    height: 45px;
    opacity: .8;
  }
}

#global-header h1 {
  position: relative;
  bottom: -5px;
  margin: 0 auto;
  padding: 0;
  width: auto;
  height: auto;
  font-family: 'Antenna Light', 'Georgia', sans-serif !important;
  font-size: 2.5em;
  font-weight: 100;
  line-height: 1;
  letter-spacing: 0;
  text-align: left;
  text-transform: none;
  background: none;
  a, a.navbar-brand-mobile {
    margin: 0;
    padding: 0;
    font-family: 'Antenna Light', 'Georgia', serif !important;
    color: $gray-extra-light;
    transition: color .2s;
  }
  &:hover {
    color: $white;
  }
}

#global-header h1 a.navbar-brand-mobile {
  display: none !important;
  @include media-breakpoint-down(md) {
    display: block !important;
    display: flex;
    align-items: flex-end;
    padding: 0 0 0 20px;
  }
}

/* header */

#luc-header .navbar-default .navbar-nav>.active>a,
#luc-header .navbar-default .navbar-nav>.active>a:focus,
#luc-header .navbar-default .navbar-nav>.active>a:hover {
  color: $gray;
}

#luc-header {
  margin: 0 0 40px 0;
  padding: 0;
  width: 100%;
  border: 0 none;
  border-radius: 0;
  z-index: 10;
}

#luc-header .navbar-collapse,
#luc-header #mobile-navbar-header,
#luc-cta li#luc-information ul li a,
#luc-header .navbar-default .navbar-nav>.active>a,
#luc-header .navbar-default .navbar-nav>.active>a:focus,
#luc-header .navbar-default .navbar-nav>.active>a:hover,
.dropdown-menu,
#luc-header ul#luc-navigation .dropdown-menu,
#luc-header li#luc-information .dropdown-menu,
#luc-header li#luc-search .dropdown-menu {
  background-color: lighten($gray-dark, 20%);
  a {
    &:hover {
      background-color: lighten($gray-dark, 10%);
    }
  }
}

#luc-header li#luc-information,
#luc-header li#luc-search a,
#luc-header li#luc-search {
  transition: background-color .2s;
  &:hover {
    background-color: lighten($gray-dark, 15%) !important;
  }
}

#luc-search.dropdown.open ul#drop {
  background: $bg-overlay-extra-dark;
}

#navbar-header {
  display: block;
  width: 100%;
  border-top: solid 1px $gray-dark;
  border-radius: 0%;
  a {
    font-family: 'Antenna', sans-serif;
    text-transform: uppercase;
  }
}

#navbar-header > button {
  background: $bg-overlay-dark;
  border: none;
}

#luc-header .nav.navbar-nav {
  width: auto;
  background-color:  rgba(0,0,0,0);
}

#luc-header .navbar-collapse {
  padding: 0;
}

/* header navigation - first-level - general */

#luc-navigation ul {
  padding: 0 20px 2px;
}

#luc-header li {
  margin: 0;
  padding: 0;
  font-size: .75em;
  letter-spacing: .025em;
  text-transform: none;
  border-right: solid 1px $gray-dark;
  &:first-of-type { border-left: solid 1px $gray-dark; }
  a {
    padding: 22px 20px 8px;
    color: $gray-light;
    background-color: rgba(0,0,0,0);
    transition: background-color .2s;
  }
  &:hover {
    z-index: 100000;
  }
}

/* header navigation - first-level - cta > info + cta > search */

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background: none;
}

/* header navigation - first-level - position */

#luc-cta li#luc-information, #luc-cta li#luc-search {
  position: relative;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 52px;
  height: 50px;
}

/* header navigation - first-level - cta */

#luc-cta {
  float: right;
  ul {
    margin: 0;
  }
}

#luc-cta li {
  float: left;
  width: 70px;
  padding: 0%;
  border-left: solid 1px $gray-dark;
  border-right: none;
  a {
    box-sizing: border-box;
    padding: 22px 10px 8px;
    width: 100%;
    font-family: 'Antenna', sans-serif;
    letter-spacing: .025em;
    text-align: center;
    text-transform: uppercase;
  }
}

/* header navigation - first-level - cta > info */

#luc-cta li#luc-information a {
  margin: 25%;
  padding: 0;
  width: 50%;
  height: 50%;
  border: none;
  border-radius: 50%;
  text-align: left;
  text-transform: none;
}

#luc-header li span.information-icon {
  position: absolute;
  top: 60%;
  bottom: 25%;
  left: 0;
  right: 0;
  height: 20%;
  font-family: 'Arnhem Blond Italic', 'Georgia', serif !important;
  font-size: 1.25em;
  line-height: 0;
  text-align: center;
  border: none;
}

/* header navigation - first-level - cta > search */

#luc-search.dropdown.open ul#drop {
  margin-bottom: 0;
  height: 100vh;
  z-index: 10000;
}

#luc-cta li#luc-search a {
  margin: 0;
  padding: 0 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 1em;
  -webkit-text-stroke: 2px lighten($bg-overlay, 48%);
  line-height: 0;
  color: $white;
  border-left: none;
}

#luc-search > a > span:hover { background: none; }

#luc-search > a > span:first-of-type { border: none !important; }

#luc-search #drop form .form-group:focus,
#luc-search #drop form .form-group:active,
#luc-search #drop form .form-group input {
  background: none;
  box-shadow: none;
}

#luc-search #drop form .form-control:focus {
    box-shadow: none;
    outline: 0 none;
}

#luc-search #drop form .form-group,
#luc-search #drop form .form-group:hover {
  background-color: lighten($gray, 20%);
  box-shadow: 0px 3px 3px rgba(0,0,0,.5);
}

#luc-header li#luc-search button.btn {
  color: $gray-light;
  border-color: $maroon-extra-dark;
  background-color: $maroon-extra-dark;
  transition: background .2s;
    &:hover {
      color: darken($gray-light, 10%);
      border-color: darken($maroon-extra-dark, 10%);
      background-color: darken($maroon-extra-dark, 10%);
    }
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0 0 none !important;
  outline: none !important;
  outline-color: none !important;
  box-shadow: none !important;
}

/* dropdown menu */

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  float: left;
  min-width: 250px;
  padding: 0;
  margin: 0;
  font-size: 1em;
  text-align: left;
  list-style: none;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.15);
  box-shadow: 0 0 6px rgba(0,0,0,.15);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 1000;
  li.divider {
    padding: 0 !important;
    height: 1px !important;
  }
}

#luc-header ul#luc-navigation .dropdown-menu,
#luc-header li#luc-information .dropdown-menu,
#luc-header li#luc-search .dropdown-menu {
  margin: 0;
  padding: 0;
  font-size: 1em;
  letter-spacing: .025em;
  text-transform: none;
  li {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: solid 1px $gray;
    border-left: 0;
    border-radius: 0;
    font-size: 1em;
  }
  li a {
    margin: 0;
    padding: 15px 20px;
    width: 100%;
    height: auto;
    line-height: none;
    text-transform: none;
    border: 0 none;
    border-radius: 0;
    :first-child { border-top: 0 none; }
  }
}

#luc-header li#luc-search a {
/*  margin: auto auto;
  padding: 0;*/
  width: 100%;
  height: 100%;
}

#luc-header li#luc-search a img {
  margin: 23%;
  padding:10%;
  width: 50%;
  height: 50%;
  border: 0;
  border: none;
  border-radius: 50%;
}

#luc-cta li#luc-information a,
#luc-header li#luc-search a img {
  background: lighten($gray-extra-dark, 20%);
}

#luc-information > ul.dropdown-menu { left: initial; right: -52px; }

#luc-search > ul.dropdown-menu { left: initial; right: 0; }

#luc-search > ul.dropdown-menu {
  padding: 0;
  min-width: 100vw;
  width: 100vw;
  color: $gray;
}

#luc-search > ul.dropdown-menu .form-group, { width: 100vw; height: 100px; }

#luc-search > ul.dropdown-menu input {
  padding: 30px 40px;
  width: 80vw;
  height: 100px;
  font-size: 2em;
  border: 0;
}

#luc-search > ul.dropdown-menu button {
  float: right;
  margin: 35px 40px 35px 0;
  padding: 6px 12px 8px;
  width: 10vw;
  height: 30px;
  font-size: 1em;
}


/* form */

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darken($gray, 15%) !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: darken($gray, 15%) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: darken($gray, 15%) !important;
}

#luc-search > ul.dropdown-menu .form-inline:hover,
#luc-search > ul.dropdown-menu .form-group:hover,
#luc-header li :hover #searchLaw:hover { background: none; }

/* footer */

#luc-footer {
  position: relative;
  display: block;
  bottom: 0;
  margin: 40px 0 0 0;
  padding: 15px 0;
  width: 100%;
  height: auto;
  color: $gray-extra-light;
}

@media (max-width: 992px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
}

/* makes drop down rollover active */
