.box {
  margin: 0 auto;
  background: #f1f1f1;
  min-height: 350px;
}

.content {
  padding: 10%;
  border-radius: 0 0 3px 3px;
}

.box-image {
  width: 100%;
  overflow: hidden;
  padding: 0 0 50%;
  position: relative;
  height: 200px;

  &::before {
    left: 0;
    bottom: 0;
    content: '';
    width: 50%;
    position: absolute;
    border-bottom: 19px solid #f1f1f1;
    border-right: 19px solid transparent;
  }
  &::after {
    bottom: 0;
    left: 50%;
    content: '';
    width: 50%;
    position: absolute;
    border-bottom: 19px solid #f1f1f1;
    border-left: 19px solid transparent;
  }
}
