/* body */

body { background: $gray-light; margin: 0; padding: 0; }

#profiles-overview { padding: 40px 40px 0; background: $white; }

#profiles { padding: 0 40px 40px; background: $white; }

#profiles .col-md-4 { padding-top: 40px; border-top: solid 1px $gray-light; }

#profiles .col-md-4 img { margin-top: 0; }

#profiles .card a.btn.btn-primary {
  font-family: 'Antenna Bold', sans-serif;
  font-size: .7em;
  letter-spacing: .015em;
  color: $white;
  border: none;
  text-transform: uppercase;
}

/* CSS BEGINS */

#wrapper {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: $gray;
  background: url('/images/bg-water.jpg') no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -2;
}

#content-wrapper {
  position: relative;
  padding-top: 120px;
  padding-bottom: 60px;
  z-index: -2;
}

#story-spacer-top { padding-top: 40px !important; }

/* global-header */

#global-header {
  padding: 20px 20px;
  background: $white;
}

#global-header h1 {
  margin: 0;
  font-family: 'Arnhem Bold', 'Georgia', serif !important;
  font-size: 3.25em;
  line-height: 1;
}

/* header */

#luc-header .navbar-default .navbar-nav>.active>a,
#luc-header .navbar-default .navbar-nav>.active>a:focus,
#luc-header .navbar-default .navbar-nav>.active>a:hover {
  background-color: lighten($bg-overlay, 20%);
  color: $gray;
}

#luc-header {
  margin: 0 0 40px 0;
  padding: 0;
  width: 100%;
  border: 0 none;
  border-radius: 0;
  background: $bg-overlay;
}

#navbar-header {
  display: block;
  width: 100%;
  border-radius: 0%;
  z-index: +2;
  a {
    font-family: 'Antenna', sans-serif;
  }
}

#luc-header a.navbar-brand {
  padding: 5px 15px;
  width: auto;
  img {
    margin: 0;
    float: left;
    width: auto;
    height: 100%;
  }
}

#luc-header a.navbar-brand-mobile {
  display: none;
  @include media-breakpoint-down(md) { display: block; }
}

#navbar-header > button {
  background: $bg-overlay-dark;
  border: none;
}

#luc-header .nav.navbar-nav {
  width: auto;
  background-color:  rgba(0,0,0,0);
}

#luc-header .navbar-collapse {
  padding: 0 0 0 15px;
}

/* header navigation - first-level - general */

#luc-navigation ul {
  padding: 0 20px 2px;
}

#luc-header li {
  margin: 0;
  padding: 0;
  font-size: .75em;
  letter-spacing: .025em;
  text-transform: none;
  a {
    padding: 25px 20px 5px;
    color: $gray-light;
    background-color: rgba(0,0,0,0);
    transition: background-color .2s;
  }
  :hover {
    background-color: darken($bg-overlay, 10%);
  }
}

/* header navigation - first-level - cta > info + cta > search */

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  background: none;
}

/* header navigation - first-level - position */

#luc-cta li#luc-information, #luc-cta li#luc-search {
  position: relative;
  padding: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 52px;
  height: 50px;
}

/* header navigation - first-level - cta */

#luc-cta { float: right; }

#luc-cta li {
  float: left;
  width: 70px;
  padding: 0%;
  border-left: solid 1px $white;
  a {
    box-sizing: border-box;
    padding: 18px 10px 12px;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
  }
}

/* header navigation - first-level - cta > info */

#luc-cta li#luc-information a {
  margin: 25%;
  padding: 0;
  width: 50%;
  height: 50%;
  border: solid 1.5px white;
  border-radius: 50%;
  text-align: left;
  text-transform: none;
  :hover {
    background: none;
  }
}

#luc-header li span.information-ellipse {
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 0;
  right: 0;
  height: 20%;
  font-size: 1.65em;
  line-height: 0;
  text-align: center;
  :hover {
    background: none;
  }
}

/* header navigation - first-level - cta > search */

#luc-search.dropdown.open ul#drop {
  height: 100vh;
  background: darken($bg-overlay-extra-dark, 10%);
  z-index: 10000;
}

#luc-cta li#luc-search a {
  margin: 0;
  padding: 12px 0 0 0;
  width: 100%;
  height: 100%;
  font-size: 2em;
  -webkit-text-stroke: 2px lighten($bg-overlay, 48%);
  line-height: 0;
  color: $white;
}

#luc-search > a > span:hover { background: none; }

#luc-search #drop form .form-group:focus,
#luc-search #drop form .form-group:active,
#luc-search #drop form .form-group input {
  background: none;
  box-shadow: none;
}

#luc-search #drop form .form-control:focus {
    box-shadow: none;
    outline: 0 none;
}

#luc-search #drop form .form-group,
#luc-search #drop form .form-group:hover {
  background: $white;
  box-shadow: 0px 3px 3px rgba(0,0,0,.5);
}

#luc-header li#luc-search button.btn {
  color: $maroon-dark;
  border-color: $maroon-dark;
  background: lighten($bg-overlay, 90%);
  transition: background .2s;
}

#luc-header li#luc-search button.btn:hover {
  color: $maroon-dark;
  border-color: $maroon-dark;
  background-color: lighten($bg-overlay, 70%);
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus {
  outline: 0 0 none !important;
  outline: none !important;
  outline-color: none !important;
  box-shadow: none !important;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  float: left;
  min-width: 200px;
  padding: 0;
  margin: 0;
  font-size: 1em;
  text-align: left;
  list-style: none;
  background-color: $bg-overlay-extra-dark;
  border: none;
  border-radius: 0px;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,.15);
  box-shadow: 0 0 6px rgba(0,0,0,.15);
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  z-index: 1000;
  li.divider {
    padding: 0 !important;
    height: 1px !important;
  }
}

#luc-header ul#luc-navigation .dropdown-menu,
#luc-header li#luc-information .dropdown-menu,
#luc-header li#luc-search .dropdown-menu {
  margin: 0;
  padding: 0;
  font-size: 1em;
  letter-spacing: .025em;
  text-transform: none;
  li {
    float: left;
    width: 100%;
    margin: 0;
    padding: 0;
    border-top: solid 1px $gray;
    border-left: 0;
    border-radius: 0;
    font-size: 1em;
  }
  li a {
    margin: 0;
    padding: 15px 20px;
    width: 100%;
    height: auto;
    line-height: none;
    border: 0 none;
    border-radius: 0;
    :first-child { border-top: 0 none; }
  }
}

#luc-information > ul.dropdown-menu { left: initial; right: -52px; }

#luc-search > ul.dropdown-menu { left: initial; right: 0; }

#luc-search > ul.dropdown-menu {
  padding: 0;
  min-width: 100vw;
  width: 100vw;
  color: $gray;
  background-color: $white;
}

#luc-search > ul.dropdown-menu .form-group, { width: 100vw; height: 100px; }

#luc-search > ul.dropdown-menu input {
  padding: 30px 5vw;
  width: 80vw;
  height: 100px;
  font-size: 2em;
  border: 0;
}

#luc-search > ul.dropdown-menu button {
  float: right;
  margin: 35px 40px 35px 0;
  padding: 6px 12px 8px;
  width: 10vw;
  height: 30px;
  font-size: 1em;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: darken($gray, 15%) !important;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: darken($gray, 15%) !important;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: darken($gray, 15%) !important;
}

#luc-search > ul.dropdown-menu .form-inline:hover,
#luc-search > ul.dropdown-menu .form-group:hover,
#luc-header li :hover #searchLaw:hover { background: none; }

/* footer */

#luc-footer {
  position: fixed;
  display: block;
  bottom: 0;
  margin: 40px 0 0 0;
  padding: 15px 0;
  width: 100%;
  height: auto;
  background: $bg-overlay;
}

@media (max-width: 992px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-toggle {
    display: block;
    position: relative;
    float: right;
    padding: 9px 10px;
    margin-top: 8px;
    margin-right: 15px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
}

/* makes drop down rollover active */
