body.law {
  background-image: none !important;
}

a { cursor:pointer; }

body.law h1.display,
body.law h4.subhead {
  font-family: 'Arnhem Bold', 'Georgia', serif !important;
  font-size: 4em;
}

h1.number {
  font-family: 'Arnhem Bold', 'Georgia', serif !important;
  font-size: 5em;
  letter-spacing: -0.015em;
}

body.law h2.secondary-explainer {
  font-family: 'Antenna Bold', sans-serif !important;
  text-transform: uppercase;
  font-size: 1.4em;
}

h5.subhead { font-size: .95em; font-family: "Antenna Bold", sans-serif; }

h6.faq {
  font-family: 'Antenna', serif !important;
  text-transform: none !important;
  font-size: 100%;
}

p.faq a  {
  color:#272727 !important;
}

p.faq  {
  margin: 0 !important;
}

p.number{
  font-family: "Antenna Light", sans-serif;
}

p.name {
  font-family: 'Arnhem Bold', 'Georgia', serif !important;
  font-size: 1.1em;
}

blockquote.small {
  font-family: "Myriad Pro", sans-serif;
  font-weight: normal;
  margin: 0 !important;
}

a.cta {
  background-color: transparent;
  color: $maroon-dark;
  letter-spacing: 0;
}

a.cta.small {
  font-size: .725em !important;
}

a.cta:hover {
  background-color: transparent;
  color: $maroon;
  letter-spacing: 0;
}

ul li {
 list-style-position: outside;
}

li span.antenna {
  font-family: "Antenna", sans-serif;
  text-transform: uppercase;
}

.footnote { margin-top: 20px; border-top: 1px solid #e1e1e1;}

.section-top {
  padding-top: 35px;
  margin-top: 35px;
  border-top: 1px solid $gray-light;
}

#accordion h4.subhead a {
  font-family: "Antenna Bold", sans-serif;
}

#accordion.panel-group {
  width: 100%;
}

#accordion .panel-heading {padding: 15px 0 13px;}

.nested h4.subhead a {
  font-family: 'Antenna', sans-serif !important;
  text-transform: uppercase;
  font-size: .9em;
}

.nested .panel-body {
  padding: 0px 10px 0px 10px !important;
  margin-top: 0px !important;
}

.nested .panel-heading {
  padding: 10px !important;
}

button.btn {
  border: 1px solid $maroon-dark;
  background-color: white;
  color: $maroon-dark;
  margin-right: 10px;
  border-radius: 40px;
  font-family: "Antenna", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

button.btn:hover {
  background-color: $maroon-extra-dark;
}
