#luc-header {
  margin: 0 0 40px 0;
  padding: 0;
  border: 0 none;
}

#navbar-header { width: 100%; }

#luc-header a.navbar-brand { padding: 0; img { margin: 0; height: 100%; } }

#luc-header .nav.navbar-nav { width: auto; }

#luc-header .nav.navbar-nav li {
  margin: 0;
  padding: 0;
  font-size: .7em;
  text-transform: none;
  a {
    padding: 25px 10px 5px;
    color: $gray-light;
  }
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  background-color: lighten($bg-overlay, 20%);
  color: $gray;
}

#luc-cta {
  float: right;
}

#luc-information.nav.navbar-nav li, #luc-cta.nav.navbar-nav li {
  height: 100%;
  display: flex;
}

#luc-information.nav.navbar-nav li a, #luc-cta.nav.navbar-nav li a {
  padding: 10px 10px;
}

#luc-footer { margin: 40px 0 0 0; }
