body.law {
  background-image: none !important;
}

a { cursor:pointer; }

body.law h1.display,
body.law h4.subhead {
  font-family: 'Arnhem Bold', 'Georgia', serif !important;
  font-size: 4em;
}

body.law h2.secondary-explainer {
  font-family: 'Antenna Bold', sans-serif !important;
  text-transform: uppercase;
<<<<<<< HEAD
=======
  font-size: 1.45em;
>>>>>>> abd0666f76486b60adc667741175e3fd48678e55
}

h5 { font-size: 1em; }

h6.faq {
  font-family: 'Antenna Light', serif !important;
  text-transform: none !important;
  font-size: 100%;
}

.section-top {
  padding-top: 40px;
  margin-top: 40px;
  border-top: 1px solid $gray-light;
}

#accordion h4.subhead a {
  font-family: "Antenna Bold", sans-serif;
}

#accordion.panel-group {
  width: 100%;
}

.nested h4.subhead a {
  font-family: 'Antenna', sans-serif !important;
  text-transform: uppercase;
  font-size: .9em;
}

.nested .panel-body {
  padding: 0px 10px 0px 10px !important;
  margin-top: 0px !important;
}

.nested .panel-heading {
  padding: 10px !important;
}

button.btn {
  border: 1px solid $maroon-dark;
  background-color: white;
  color: $maroon-dark;
  margin-right: 10px;
  border-radius: 40px;
  font-family: "Antenna", sans-serif;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 20px;
}

button.btn:hover {
  background-color: $maroon-extra-dark;
}
