
</div>

<div class="col-md-3 col-sm-6">
  <div id="interior-nav" class="BAL">
   <div class="x after">
     <h4 class="accordion"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110085&amp;chid=8&amp;lang=en">Apply</a></h4>
     <div class="multilevel-linkdiv-0 panel">
       <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110092&amp;chid=8&amp;lang=en">Juris Doctorate</a><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110093&amp;chid=8&amp;lang=en">MJ</a><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110094&amp;chid=8&amp;lang=en">LLM</a>
       <a
         href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110216&amp;chid=8&amp;lang=en">Certificate</a>
     </div>
   </div>
   <div class="x after">
     <h4 class="accordion"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110086&amp;chid=8&amp;lang=en">Financial Aid</a></h4>
     <div class="multilevel-linkdiv-0 panel">
       <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110095&amp;chid=8&amp;lang=en">MJ Tuition and Fees</a><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110096&amp;chid=8&amp;lang=en">LLM Tuition and Fees</a>
     </div>
   </div>
   <div class="x">
     <h4 class="accordion"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110087&amp;chid=8&amp;lang=en">FAQ</a></h4></div>
   <div class="x">
     <h4 class="accordion"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110088&amp;chid=8&amp;lang=en">ABA Required Disclosures</a></h4></div>
   <div class="x">
     <h4 class="accordion"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110089&amp;chid=8&amp;lang=en">Let's Get Started (JD Degree Program)</a></h4></div>
   <div class="x">
     <h4 class="accordion"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110090&amp;chid=8&amp;lang=en">Let's Get Started (MJ Degree Program)</a></h4></div>
   <div class="x">
     <h4 class="accordion"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110091&amp;chid=8&amp;lang=en">Let's get Started (LLM Degree Program)</a></h4></div>
  </div>

</div>
</div>
