<div class="container-fluid p-0 m-b-30">
<div id="story-refer-panel" class="container p-0 equal-box-container" style="background: #eeeeee;">
  <div class="refer-image">
    <img  class="m-t-0 m-b-0 image-object-cover" src="http://placehold.it/1000x560">
  </div>
  <div class="refer-content equal-box" style="background: #eeeeee;">
    <div class="story-content-padding-medium">
      <h6 class="category" style="margin: 0 0 10px 0; font-family: 'Antenna Light', sans-serif;"> School of Law</h5>
      <h1 class="home-lede">Big headgline our community</h1>
      <p class="body">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua dolore dolore cta.<a class="cta" href="https://luc.edu"> Read more</a></p>
    </div>
  </div>
</div>
</div>
