
</div>
</div>

<div class="col-md-3 col-sm-6">

  <div class="container-fluid p-0">
  <div class="container story-content-padding p-0" style="width: 100%;">
    <div class="col-md-12 p-0">
      <div id="interior-nav" class="m-t-15">
        <h4 class="accordion">Knowledge</h4>
        <div class="panel">
          <ul>
            <li class="">link</li>
            <li class="">link</li>
            <li class="">link</li>
          </ul>
        </div>
        <h4 class="accordion">Skills</h4>
        <div class="panel">
          <ul>
            <li class="">link</li>
            <li class="">link</li>
            <li class="">link</li>
          </ul>
        </div>
        <h4 class="accordion">Professional Values</h4>
        <div class="panel">
          <ul>
            <li class="">link</li>
            <li class="">link</li>
            <li class="">link</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  </div>


</div>
