
</div>

<div class="col-md-3 col-sm-6">
  <div id="interior-nav" class="m-t-15 BAL">
<h4 class="accordion"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=109958&amp;chid=8&amp;lang=en">About</a></h4><h4 class="accordion"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=109959&amp;chid=8&amp;lang=en">Admission</a>
<ul class="multilevel-linkul-0">
<li><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110085&amp;chid=8&amp;lang=en">Apply</a></li>
<li><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110086&amp;chid=8&amp;lang=en">Financial Aid</a></li>
<li><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110087&amp;chid=8&amp;lang=en">FAQ</a></li>
<li><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110088&amp;chid=8&amp;lang=en">ABA Required Disclosures</a></li>
<li><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110089&amp;chid=8&amp;lang=en">Let's Get Started (JD Degree Program)</a></li>
<li><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110090&amp;chid=8&amp;lang=en">Let's Get Started (MJ Degree Program)</a></li>
<li><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110091&amp;chid=8&amp;lang=en">Let's get Started (LLM Degree Program)</a></li>

</ul>
</h4><h4 class="accordion"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=109960&amp;chid=8&amp;lang=en">Academics</a></h4><h4 class="accordion"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=109961&amp;chid=8&amp;lang=en">Faculty</a></h4><h4 class="accordion"><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=109962&amp;chid=8&amp;lang=en">Student Life</a></h4></div>


</div>
</div>
