<div class="col-md-12 row section-top" id="Numbers">
<h2 class="secondary-explainer">By the numbers</h2>
<p class="body">
  The School of Law and Loyola's Office of Student Financial Assistance are committed to helping students secure the necessary financial resources to make their legal education at Loyola affordable.
</p>

<div class="col-md-12 p-0 m-t-20">
<div class="col-md-4 equal-box p-l-0">
<h1 class="number m-t-0 m-b-0">88%</h1>
<p class="number small m-t-0">EMPLOYMENT RATE 10 MONTHS AFTER GRADUATION</p>
</div>
<div class="col-md-4 rule-left">
<h1 class="number m-t-0 m-b-0">00</h1>
<p class="number small m-t-0">lorem ipsum numbers here here info explainer</p>
</div>
<div class="col-md-4 rule-left">
<h1 class="number m-t-0 m-b-0">00</h1>
<p class="number small m-t-0">lorem ipsum numbers here here info explainer</p>
</div>
</div>
</div>
