<div id="law-interior" class="container-fluid bg-white story-content-padding">
  <div class="col-md-12">
    <h5 class="label"><span style="font-family: 'Antenna Light', sans-serif;"> Interior</span></h5>
    <h1 class="display m-b-20 m-t-0">Lorem ipsum headline</h1>
  </div>
  <div class="col-md-9 rule-left-spacing">
    <div class="col-md-12 row">
    <p class="body">
          Loyola's Juris Doctor (JD) program combines the academic rigor you expect with the practical experience you'll need to rise above the competition. We know there's more to a legal education than mastering "black letter" law. Working with our nationally-recognized faculty, you'll learn to effectively apply the law to real-world scenarios. As a Loyola graduate, you'll be prepared for practice from day one, ready to meet (and exceed) the demands of prospective clients and employers.
    </p>

    <p class="body">
          Loyola's Juris Doctor (JD) program combines the academic rigor you expect with the practical experience you'll need to rise above the competition. We know there's more to a legal education than mastering "black letter" law. Working with our nationally-recognized faculty, you'll learn to effectively apply the law to real-world scenarios. As a Loyola graduate, you'll be prepared for practice from day one, ready to meet (and exceed) the demands of prospective clients and employers.
    </p>
<div class="col-md-4">
    <div class="box">
    <div class="box-image" style="background-image: url('http://via.placeholder.com/350x150');">
    </div>
    <div class="content">
      <h3>hedgline</h3>
    </div>
  </div>
</div>
</div>
