<div id="profiles-overview" class="col-md-9">
  <p class="body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Cras vitae vulputate justo. In et orci justo. Donec vel nulla eu leo ultricies rhoncus non ultrices ante. Morbi blandit cursus ex, ac gravida purus venenatis et.
  </p>
  <p class="body">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Cras vitae vulputate justo. In et orci justo. Donec vel nulla eu leo ultricies rhoncus non ultrices ante. Morbi blandit cursus ex, ac gravida purus venenatis et.
  </p>
</div>
<div id="profiles" class="col-md-9" style="padding: 40px; background: white;">
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/1000x560" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Donec vel nulla eu leo ultricies rhoncus non ultrices ante.</p>
        <a href="#" id="profileAction" class="btn btn-primary" onclick="openNav()">Profile</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/1000x560" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Donec vel nulla eu leo ultricies rhoncus non ultrices ante.</p>
        <a href="#" class="btn btn-primary" onclick="openNav()"&#9776;>Profile</a>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img class="card-img-top" src="http://placehold.it/1000x560" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Donec vel nulla eu leo ultricies rhoncus non ultrices ante.</p>
        <a href="#" class="btn btn-primary" onclick="openNav()"&#9776;>Profile</a>
      </div>
    </div>
  </div>
</div>
