<!-- story - carousel -->
<div id="content-populate">
	<div class="wrapper">
	<div class="col-md-9">
		<div class="repositioned-element-image row">
			 <a><span id="bullet-one" class="bullet-number display">1</span></a>
			 <a><span id="bullet-two" class="bullet-number display">2</span></a>
			 <a><span id="bullet-three" class="bullet-number display">3</span></a>
			 <a><span id="bullet-four" class="bullet-number display">4</span></a>
			 <a><span id="bullet-five" class="bullet-number display">5</span></a>
			 <img class="graphic-main-image m-t-0 m-b-0" src="http://via.placeholder.com/950x650">
		</div>
	</div>
	<div id="hidden-details">
		<div id="content-one" class="col-md-3" style="display:none;">
			<img src="http://via.placeholder.com/1000x560">
			<h5 class="label"> Label goes here </h5>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div id="content-two" class="col-md-3" style="display:none;">
			<img src="http://via.placeholder.com/1000x560">
			<h5 class="label"> Label two goes here </h5>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div id="content-three" class="col-md-3" style="display:none;">
			<img src="http://via.placeholder.com/1000x560">
			<h5 class="label"> Label three goes here </h5>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div id="content-four" class="col-md-3" style="display:none;">
			<img src="http://via.placeholder.com/1000x560">
			<h5 class="label"> Label four goes here </h5>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div id="content-five" class="col-md-3" style="display:none;">
			<img src="http://via.placeholder.com/1000x560">
			<h5 class="label"> Label four goes here </h5>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
	</div>
</div>
</div>

<script>
$(document).ready(function(){
		$("#bullet-one").click(function(){
			  $('#content-one').show().siblings("div").hide();
		});
		$("#bullet-two").click(function(){
				$('#content-two').show().siblings("div").hide();
		});
		$("#bullet-three").click(function(){
				$('#content-three').show().siblings("div").hide();
		});
		$("#bullet-four").click(function(){
				$('#content-four').show().siblings("div").hide();
		});
		$("#bullet-five").click(function(){
				$('#content-five').show().siblings("div").hide();
		});
});
</script>
