/*================================================
B3 - GLOBAL HEADER - HEADER - 021218
================================================*/

/* NAME: b3-framework-fix.css */
/* LOCATION: http://luc.edu/media/luc.edu/b3/css/ */
/* PURPOSE: styles framework overrides canvas B3 base - 021617 */
/* EXAMPLE: http://www.luc.edu/commencement */

/*================================================
================================================*/

#cta a button span.give { display: none !important; }

#social-wrapper { flex: none !important; }

#wordmark-wrapper { padding-left: 0 !important; }

#sub-header #masthead h2.label-chapter.display a { padding-left: 15px !important; }

nav#global.navbar { padding: 0 !important; }

nav#global.navbar { margin: 0; padding: 0 !important; }

#global-links { width: 100% !important; }

#global-links li {
	float: left !important;
	margin: 0 !important;
	padding: 0 5px !important;
	font-size: .9em !important;
}

nav#global ul#global-links li a { padding: 0 !important; }

#global-form { padding: 0 3px !important; }

#global-form .links .btn,
#global-dropdown-gray .btn,
#global-form .btn {
	width: 100% !important;
	border-radius: 0 !important;
	color: #888888 !important;
	background-color: #e2e2e2 !important;
}

#global-form button.btn,
#footer-global-form button.btn,
#global-dropdown-gray button.btn { margin: 0 !important; }

#global-form .form-control, #footer-global-form .form-control { margin: 0 !important; padding: 0 5px !important; }

#global-form input.form-control, #footer-global-form input.form-control { color: #888888 !important; font-size: .8em !important; }
#global-form input::placeholder, #footer-global-form input::placeholder  { color: #e2e2e2 !important; font-size: .8em !important; }

#global-form .search .btn, #footer-global-form .btn { border-radius: 0 !important; }

#global-form .search-wrapper .input-group-btn.links.col-xs-3,
#global-form .search-wrapper .input-group-btn.search.col-xs-2 { padding-left: 0; padding-right: 0; }

#global-form input, #footer-global-form input { float: left !important; }

#footer-links { width: 100%; }

@media (max-width: 992px) {

	#global-links li:last-child { display: none !important; }

}

@media (max-width: 415px) {

	#magazine-story { margin-top: 30px !important; }

	#header.jumbotron .col-md-12, #header.jumbotron #wordmark-wrapper { padding: 0 !important; }

	#wordmark-wrapper a { display: block !important; }

	#sub-header #masthead { padding: 15px 0 10px !important; }

	nav#nav-box a { margin-left: 0; margin-right: 10px !important; }

	#sub-header #masthead h2.label-chapter.display { font-size: 1.85em !important; line-height: 1.25 !important; }

}

/* END - CSS */
/*
     FILE ARCHIVED ON 20:49:22 May 08, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 14:57:15 May 11, 2018.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 58.853 (3)
  esindex: 0.008
  captures_list: 82.895
  CDXLines.iter: 14.514 (3)
  PetaboxLoader3.datanode: 97.464 (5)
  exclusion.robots: 0.204
  exclusion.robots.policy: 0.174
  RedisCDXSource: 2.788
  PetaboxLoader3.resolve: 1696.87 (2)
  load_resource: 1763.514
*/
