/*================================================
STORY - CAROUSEL - 121017
================================================*/

@charset "UTF-8";
/* CSS Document */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img { width: 100%; margin: 0; }

/* this hides nav bullets and ol numbers */
ol.carousel-indicators li { display:none !important; }

/* this is the control arrows */
.carousel a:link {
  color: $gray-extra-light;
}

.carousel-control.left {
  background-image: none !important;
  background-image: none !important;
  opacity: 1;
}

.carousel-control.right {
  background-image: none !important;
  background-image: none !important;
  opacity: 1;
}

.carousel-control.left,
.carousel-control.right {
  height: 100%;
  @include media-breakpoint-down(xs) { height: 54%; }
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  text-shadow: none;
  @include media-breakpoint-down(xs) {
    text-shadow: 0px 0px 5px rgba(0,0,0,.6);
    filter: alpha(opacity=50);
  }
}

#story-full-carousel .glyphicon-chevron-left:before,
#story-full-carousel .glyphicon-chevron-right:before {
  font-size: 1.25em;
}

/* carousel-caption */
.carousel-caption {
  position: relative;
  left: 0px;
  right: 0px;
  bottom: 0px;
  top: 100%;
  height: auto;
  z-index: 10;
  padding: 15px 50px 15px 15px;
	text-align: left;
  color: #fff;
  text-shadow: none;
	background-color: $gray-light;
  overflow: hidden;
	p.caption {
		margin: 0;
    padding: 0;
    width: 95%;
    height: auto;
    max-height: 80px;
    font-size: .925em;
    line-height: 1.5;
		color: $gray-extra-dark;
	}
	p.caption a {
		margin: 0 0 0 5px;
		color: $patina;
	}
  @include media-breakpoint-down(xs) {
    min-height: 150px;
    max-height: 150px;
  }
}

.caption {
  color: $gray-extra-dark;
}

.timestamp {
  margin-right: 10px;
  font-family: 'Antenna Bold', sans-serif;
  font-size: 1em;
  color: $gray-extra-dark;
}

.credit {
  margin-left: 10px;
  font-family: 'Antenna', sans-serif;
  font-size: .775em;
  letter-spacing: .015em;
  color: $gray-extra-dark;
}

/* counter */
.counter {
	position: absolute;
	right: 0;
	bottom: 0;
  padding: 10px;
  height: auto;
  font-family: 'Antenna', sans-serif;
  font-size: .85em;
  letter-spacing: .05em;
  color: $gray-light;
  background: $gray-dark;
  @include media-breakpoint-down(xs) {
    padding: 5px;
  }
}

/*fade effect on carousel*/
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.container-fluid.carousel.slide { padding: 0px; }
