/*================================================
STORY - CAROUSEL - 121017
================================================*/

@charset "UTF-8";
/* CSS Document */

.carousel a:visited, .carousel a:hover, .carousel a:focus { color: $gray-extra-light; }

#story-half-carousel .carousel {
  position: relative;
}

#story-half-carousel .controllers {
  top: 0px;
}

#story-half-carousel .circle {
  position: absolute;
  margin-top: 10%;
  left: 64.35%;
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0, 0.7);
	border-radius: 50%;
	z-index: 10000;
  @include media-breakpoint-down(lg) {
    margin-left: -1%;
  }
  @include media-breakpoint-down(md) {
    margin-top: 109%;
    left: 80%;
    height: 50px;
    width: 100px;
    border-radius: 25px;
  }
  @include media-breakpoint-down(xs) {
    left: 62%;
  }
}

#story-half-carousel .carousel-control.left,
#story-half-carousel .carousel-control.right {
  display: -ms-flex;
	display: -webkit-flex;
	display: flex;
  margin-top: 3px;
  width: 50%;
  height: 100%;
  background-image: none;
  z-index: +1;
  @include media-breakpoint-down(sm) {
    margin-top: -12px;
  }
}

#story-half-carousel .carousel-control.left {
	margin-left: 0;
}

#story-half-carousel .carousel-control.right {
	margin-right: 0;
}

#story-half-carousel .carousel-control .glyphicon-chevron-left,
#story-half-carousel .carousel-control .glyphicon-chevron-right {
  display: -ms-flex;
	display: -webkit-flex;
	display: flex;
  justify-content: center;
  align-content: center;
	text-align: center;
	width: auto;
}

#story-half-carousel .glyphicon-chevron-left:before,
#story-half-carousel .glyphicon-chevron-right:before {
  font-size: .8em;
  @include media-breakpoint-down(sm) {
    font-size: 1.25em;
  }
}

#story-half-carousel .glyphicon-chevron-left:before {
  margin-left: 5px;
  @include media-breakpoint-down(xs) {
    margin-left: 0px;
  }
}

#story-half-carousel .glyphicon-chevron-right:before {
  margin-right: 5px;
  @include media-breakpoint-down(xs) {
    margin-right: 0px;
  }
}

body.noscroll {
    overflow: hidden;
}

#story-half-carousel .carousel-caption-split {
  position: relative;
	margin-top: 60%;
  padding: 0 30px 0 0;
  overflow-y: scroll;
	text-align: left !important;
	height: 450px;
  max-height: 450px;
  @include media-breakpoint-down(md) {
    margin: 60px 10px 50px;
    padding: 0;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    display: block;
    overflow: visible;
  }
}

.carousel-caption-wrapper {
  position: relative;
  padding: 0 40px 0 40px;
  height: 100%;
  @include media-breakpoint-down(lg) {
    float: left;
    width: 90%;
    padding: 0 20px;
  }
  @include media-breakpoint-down(md) {
    width: 100%;
    max-width: 100%;
  }
  @include media-breakpoint-down(sm) {
    padding: 0 20px;
  }
}

.carousel-caption-fade {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 90%;
  height: 100px;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(225, 225, 225, 1) 100%);
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(225, 225, 225, 1) 100%);
  background-image: -o-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(225, 225, 225, 1) 100%);
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(225, 225, 225, 1) 100%);
  background-image: -ms-linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(225, 225, 225, 1) 100%);
  z-index: +1;
  @include media-breakpoint-down(md) {
    display: none;
  }
}

#story-half-carousel .holder {
	height: 800px;
  @include media-breakpoint-down(xs) {
    height: auto;
  }
}

#story-half-carousel .carousel-inner {
	background-color: #e1e1e1;
  img { margin: 0 !important; }
  @include media-breakpoint-down(lg) {
		height: auto;
	}
}

#story-half-carousel .carousel-inner .col-md-8 {
  @include media-breakpoint-down(md) {
    float: left;
    width: 100%;
    max-width: 100%;
  }
}

#story-half-carousel img.horizontal {
	margin-top: 105px;
  @include media-breakpoint-down(md) {
    margin-top: 0px !important;
  }
}

#story-half-carousel img {
  margin-top: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#story-half-carousel .vertical {
  @include media-breakpoint-down(md) {
	  overflow-y: scroll;
  }
  @include media-breakpoint-down(xs) {
    padding-bottom: 20px;
  }
}

#story-half-carousel .carousel-caption-split .vertical {
  @include media-breakpoint-down(xs) {
    margin-top: 5%;
    padding-bottom: 5%;
    height: 131px !important;
    overflow-y: scroll;
  }
}

#story-half-carousel .holder {
  @include media-breakpoint-down(md) {
    width: 100%;
	  height:auto;
  }
}

#sub-header #masthead h2.label-chapter.display {
  @include media-breakpoint-down(xs) {
	   font-size: .95em;
  }
}
