$enable-flex:               true;
$enable-grid-classes:       true;

@import '../scss/variables';
@import '../scss/mixins';
@import 'canvas-custom-variables';
@import 'storyforms';
@import 'storyforms-audio-player';
@import 'storyforms-carousel';
@import 'storyforms-carousel-split';
@import 'storyforms-hover-grid';
@import 'storyforms-opacity-slider';
@import 'storyforms-content-populate';
