$enable-flex:               true;
$enable-grid-classes:       true;

@import '../scss/variables';
@import '../scss/mixins';
@import 'canvas-custom-variables';
@import 'canvas';
@import 'canvas-numbers';
@import 'canvas-parallax';
@import 'canvas-parallax-slides';
