<div class="container-fluid p-0">
<div id="story-chart-multi" class="container story-content-padding equal-box-container">
  <div class="col-md-12">
    <div class="col-md-4 rule-right-small equal-box chart-col-wrapper">
      <h4 class="subhead m-t-0 m-b-0">Subhead herehere</h4>
      <p class="body explainer m-b-10">Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit.</p>
      <div class="chart-wrapper">
        <div id="chart02"></div>
      </div>
      <div class="chart-content">
      <ul class="key">
        <li class="category small"><span class="key-box one"></span>Key category one</li>
        <li class="category small"><span class="key-box two"></span>Key category one</li>
        <li class="category small"><span class="key-box three"></span>Key category three</li>
        <li class="category small"><span class="key-box four"></span>Key category four</li>
        <li class="category small"><span class="key-box five"></span>Key category five</li>
      </ul>
      <p class="body explainer small chart-date">As of Month 00, 0000</p>
    </div>
    </div>
    <div class="col-md-4 rule-right-small rule-right-small-spacing equal-box chart-col-wrapper">
      <h4 class="subhead m-t-0 m-b-0">Subhead herehere</h4>
      <p class="body explainer m-b-10">Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit.</p>
      <div class="chart-wrapper">
        <div id="chart03"></div>
      </div>
      <ul class="key">
        <li class="category small"><span class="key-box one"></span>Key category one</li>
        <li class="category small"><span class="key-box two"></span>Key category one</li>
        <li class="category small"><span class="key-box three"></span>Key category three</li>
        <li class="category small"><span class="key-box four"></span>Key category four</li>
        <li class="category small"><span class="key-box five"></span>Key category five</li>
      </ul>
      <p class="body explainer small chart-date">As of Month 00, 0000</p>
    </div>
    <div class="col-md-4 equal-box rule-right-small-spacing equal-box chart-col-wrapper">
      <h4 class="subhead m-t-0 m-b-0">Subhead herehere</h4>
      <p class="body explainer m-b-10">Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit.</p>
      <div class="chart-wrapper">
        <div id="chart04"></div>
      </div>
      <ul class="key">
        <li class="category small"><span class="key-box one"></span>Key category one</li>
        <li class="category small"><span class="key-box two"></span>Key category one</li>
        <li class="category small"><span class="key-box three"></span>Key category three</li>
        <li class="category small"><span class="key-box four"></span>Key category four</li>
        <li class="category small"><span class="key-box five"></span>Key category five</li>
      </ul>
      <p class="body explainer small chart-date">As of Month 00, 0000</p>
    </div>
  </div>
</div>
</div>

<script>
  //chart-02 ******************************
  var storyChart02 = c3.generate({
    bindto: '#chart02',
    interaction: {
      enabled: false
    },
    legend: {
      show: false
    },
    padding: {
      left: 0,
      right: 0,
      top: 0,
      bottom: 0
    },
    data: {
      columns: [
        ['data1', 12],
        ['data2', 11],
        ['data3', 4],
        ['data4', 4],
        ['data5', 2],
      ],
      type: 'pie',
      colors: {
        data1: '#680013',
        data2: '#272727',
        data3: '#525252',
        data4: '#888888',
        data5: '#cccccc',
      },
      onclick: function(d, i) {
        console.log("onclick", d, i);
      },
      onmouseover: function(d, i) {
        console.log("onmouseover", d, i);
      },
      onmouseout: function(d, i) {
        console.log("onmouseout", d, i);
      }
    },
    pie: {
      title: "chart02",
      label: {
        format: function(value, ratio, id) {
          return d3.format('#')(value);
        }
      }
    }
  });
  //chart-03 ******************************
  var storyChart03 = c3.generate({
    bindto: '#chart03',
    interaction: {
      enabled: false
    },
    legend: {
      show: false
    },
    padding: {
      left: 0,
      right: 0,
      top: 0,
      bottom: 0
    },
    data: {
      columns: [
        ['data1', 12],
        ['data2', 11],
        ['data3', 4],
        ['data4', 4],
        ['data5', 2],
      ],
      type: 'pie',
      colors: {
        data1: '#680013',
        data2: '#272727',
        data3: '#525252',
        data4: '#888888',
        data5: '#cccccc',
      },
      onclick: function(d, i) {
        console.log("onclick", d, i);
      },
      onmouseover: function(d, i) {
        console.log("onmouseover", d, i);
      },
      onmouseout: function(d, i) {
        console.log("onmouseout", d, i);
      }
    },
    pie: {
      title: "chart03",
      label: {
        format: function(value, ratio, id) {
          return d3.format('#')(value);
        }
      }
    }
  });
  //chart-04 ******************************
  var storyChart04 = c3.generate({
    bindto: '#chart04',
    interaction: {
      enabled: false
    },
    legend: {
      show: false
    },
    padding: {
      left: 0,
      right: 0,
      top: 0,
      bottom: 0
    },
    data: {
      columns: [
        ['data1', 12],
        ['data2', 11],
        ['data3', 4],
        ['data4', 4],
        ['data5', 2],
      ],
      type: 'pie',
      colors: {
        data1: '#680013',
        data2: '#272727',
        data3: '#525252',
        data4: '#888888',
        data5: '#cccccc',
      },
      onclick: function(d, i) {
        console.log("onclick", d, i);
      },
      onmouseover: function(d, i) {
        console.log("onmouseover", d, i);
      },
      onmouseout: function(d, i) {
        console.log("onmouseout", d, i);
      }
    },
    pie: {
      title: "chart04",
      label: {
        format: function(value, ratio, id) {
          return d3.format('#')(value);
        }
      }
    }
  });
</script>
