<div class="container-fluid p-0 equal-box-container">
    <div class="col-md-12 p-0 ie-fix-table">
        <div class="col-md-6 p-0 equal-box ie-fix">
            <img  class="float-left m-t-0 m-b-0 image-object-cover" src="http://placehold.it/1000x1000">
        </div>
        <div class="col-md-6 p-0 equal-box bg-gray-extra-dark pull-right">
            <div class="story-content-padding">
              <div class="col-md-12">
                <h1 class="number display m-b-0">00,000</h1>
                <p class="caption display medium m-b-0 p-b-0"><span class="leadin">Lorem ipsum dolor sit amet.</span> Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis. Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis.</p>
              </div>
            </div>
        </div>
    </div>
</div>
