<div class="container-fluid bg-white p-t-20">
  		<div class="card-hover">
  			<img class="image" src="/images/1000x560-image1-exp.png" />
  			<div class="overlay">
  				<img class="image" src="/images/1000x560-image2-exp.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/1000x560-image1-exp.png" />
  			<div class="overlay">
  				<img class="image" src="/images/1000x560-image2-exp.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/1000x560-image1-exp.png" />
  			<div class="overlay">
  				<img class="image" src="/images/1000x560-image2-exp.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/1000x560-image1-exp.png" />
  			<div class="overlay">
  				<img class="image" src="/images/1000x560-image2-exp.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/1000x560-image1-exp.png" />
  			<div class="overlay">
  				<img class="image" src="/images/1000x560-image2-exp.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/1000x560-image1-exp.png" />
  			<div class="overlay">
  				<img class="image" src="/images/1000x560-image2-exp.png" />
  			</div>
  		</div>
</div>
