<div class="container-fluid story-content-padding equal-box-container">
  <div class="col-md-12 p-0">
    <div class="col-md-4 rule-right-small equal-box">
      <div id="chart05" class="chart-wrapper chart" style="float: left;"></div>
      <h4 class="subhead m-t-0">Subhead herehere</h4>
      <ul class="key">
        <li class="category small"><span class="key-box one"></span>Key category one</li>
        <li class="category small"><span class="key-box two"></span>Key category one</li>
        <li class="category small"><span class="key-box three"></span>Key category three</li>
        <li class="category small"><span class="key-box four"></span>Key category four</li>
        <li class="category small"><span class="key-box five"></span>Key category five</li>
      </ul>
      <p class="body explainer small">As of Month 00, 0000</p>
    </div>
    <div class="col-md-4 rule-right-small rule-right-small-spacing equal-box">
      <div id="chart06" class="chart-wrapper chart" style="float: left;"></div>
      <h4 class="subhead m-t-0">Subhead herehere</h4>
      <ul class="key">
        <li class="category small"><span class="key-box one"></span>Key category one</li>
        <li class="category small"><span class="key-box two"></span>Key category one</li>
        <li class="category small"><span class="key-box three"></span>Key category three</li>
        <li class="category small"><span class="key-box four"></span>Key category four</li>
        <li class="category small"><span class="key-box five"></span>Key category five</li>
      </ul>
      <p class="body explainer small">As of Month 00, 0000</p>
    </div>
    <div class="col-md-4 rule-right-small-spacing equal-box">
      <div id="chart07" class="chart-wrapper chart" style="float: left;"></div>
      <h4 class="subhead m-t-0">Subhead herehere</h4>
      <ul class="key">
        <li class="category small"><span class="key-box one"></span>Key category one</li>
        <li class="category small"><span class="key-box two"></span>Key category one</li>
        <li class="category small"><span class="key-box three"></span>Key category three</li>
        <li class="category small"><span class="key-box four"></span>Key category four</li>
        <li class="category small"><span class="key-box five"></span>Key category five</li>
      </ul>
      <p class="body explainer small">As of Month 00, 0000</p>
    </div>
  </div>
</div>

<script>
  //chart-05 ******************************
  var StoryChart05 = c3.generate({
    bindto: '#chart05',
    interaction: {
      enabled: false
    },
    legend: {
      show: false
    },
    padding: {
      left: 0,
      right: 0,
      top: 0,
      bottom: 0
    },
    data: {
      columns: [
        ['data1', 12],
        ['data2', 11],
        ['data3', 4],
        ['data4', 4],
        ['data5', 2],
      ],
      type: 'pie',
      colors: {
        data1: '#680013',
        data2: '#272727',
        data3: '#525252',
        data4: '#888888',
        data5: '#cccccc',
      },
      onclick: function(d, i) {
        console.log("onclick", d, i);
      },
      onmouseover: function(d, i) {
        console.log("onmouseover", d, i);
      },
      onmouseout: function(d, i) {
        console.log("onmouseout", d, i);
      }
    },
    pie: {
      title: "chart05",
      label: {
        format: function(value, ratio, id) {
          return d3.format('#')(value);
        }
      }
    }
  });
  //chart-06 ******************************
  var StoryChart06 = c3.generate({
    bindto: '#chart06',
    interaction: {
      enabled: false
    },
    legend: {
      show: false
    },
    padding: {
      left: 0,
      right: 0,
      top: 0,
      bottom: 0
    },
    data: {
      columns: [
        ['data1', 12],
        ['data2', 11],
        ['data3', 4],
        ['data4', 4],
        ['data5', 2],
      ],
      type: 'pie',
      colors: {
        data1: '#680013',
        data2: '#272727',
        data3: '#525252',
        data4: '#888888',
        data5: '#cccccc',
      },
      onclick: function(d, i) {
        console.log("onclick", d, i);
      },
      onmouseover: function(d, i) {
        console.log("onmouseover", d, i);
      },
      onmouseout: function(d, i) {
        console.log("onmouseout", d, i);
      }
    },
    pie: {
      title: "chart06",
      label: {
        format: function(value, ratio, id) {
          return d3.format('#')(value);
        }
      }
    }
  });
  //chart-07 ******************************
  var StoryChart07 = c3.generate({
    bindto: '#chart07',
    interaction: {
      enabled: false
    },
    legend: {
      show: false
    },
    padding: {
      left: 0,
      right: 0,
      top: 0,
      bottom: 0
    },
    data: {
      columns: [
        ['data1', 12],
        ['data2', 11],
        ['data3', 4],
        ['data4', 4],
        ['data5', 2],
      ],
      type: 'pie',
      colors: {
        data1: '#680013',
        data2: '#272727',
        data3: '#525252',
        data4: '#888888',
        data5: '#cccccc',
      },
      onclick: function(d, i) {
        console.log("onclick", d, i);
      },
      onmouseover: function(d, i) {
        console.log("onmouseover", d, i);
      },
      onmouseout: function(d, i) {
        console.log("onmouseout", d, i);
      }
    },
    pie: {
      title: "chart07",
      label: {
        format: function(value, ratio, id) {
          return d3.format('#')(value);
        }
      }
    }
  });
</script>
