<div class="container-fluid p-0 hidden-xs hidden-sm">
  <img class="m-0" src="http://luc.edu/media/lucedu/loyolamagazine/images/storypackages/martyr-award-quinn-center-dance-dresses.jpg"/>
</div>
<div class="container-fluid p-0 hidden-md hidden-lg">
  <img class="m-0"src="http://luc.edu/media/lucedu/loyolamagazine/images/storypackages/martyr-award-quinn-center-dance-dresses-mobile.jpg"/>
</div>
<div class="container-fluid bg-gray-light">
  <p class="caption"><span class="category timestamp">00:00:00</span>Image 03 ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Cras vitae vulputate justo.<span class="credit">By Someone Herehere</span></p>
</div>
