<div class="container-fluid story-content-padding equal-box-container">
  <div class="col-md-6 col-xs-12 rule-right-small equal-box chart-col-wrapper">
    <h4 class="subhead m-t-0 m-b-0">Subhead herehere</h4>
    <p class="body explainer m-b-10">Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit.</p>
    <div class="chart-wrapper">
      <div id="chart05"></div>
    </div>
    <ul class="key">
      <li class="category small"><span class="key-box one"></span>Key category one</li>
      <li class="category small"><span class="key-box two"></span>Key category two</li>
      <li class="category small"><span class="key-box three"></span>Key category three</li>
    </ul>
    <p class="body explainer small chart-date">As of Month 00, 0000</p>
  </div>
  <div class="col-md-6 col-xs-12 rule-right-small-spacing equal-box chart-col-wrapper">
    <h4 class="subhead m-t-0 m-b-0">Subhead herehere</h4>
    <p class="body explainer m-b-10">Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit.</p>
    <div class="chart-wrapper">
      <div id="chart06"></div>
    </div>
    <ul class="key">
      <li class="category small"><span class="key-box one"></span>Key category one</li>
      <li class="category small"><span class="key-box two"></span>Key category two</li>
    </ul>
    <p class="body explainer small chart-date">As of Month 00, 0000</p>
  </div>
</div>

<script>
  //chart-05 ******************************
  var storyChart05 = c3.generate({
    bindto: '#chart05',
    interaction: {
      enabled: true
    },
    legend: {
      show: false
    },
    padding: {
      left: 55,
      right: 15
    },
    data: {
      x: 'x',
      columns: [
        ['x', '2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01', '2014-01-01', '2015-01-01'],
        ['data1', 30, 200, 100, 400, 150, 250],
        ['data2', 70, 250, 170, 470, 200, 320],
        ['data3', 10, 20, -30, 50, 70, 30]
      ]
    },
    color: {
      pattern: ['#680013', '#888888', '#cccccc']
    },
    point: {
      r: 3
    },
    axis: {
      x: {
        type: 'timeseries',
        padding: {
          left: 30,
          right: 30
        },
        label: {
          text: 'X Label',
          position: 'outer-center'
        },
        tick: {
          format: function(x) {
            return x.getFullYear();
          }
          //format: '%Y' // format string is also available for timeseries data
        }
      },
      y: {
        max: 600,
        min: -100,
        padding: {
          top: 100,
          bottom: 30
        },
        label: {
          text: 'Y Label',
          position: 'outer-middle'
        },
        tick: {
          format: d3.format("$,")
          //                format: function (d) { return "$" + d; }
        }
      },
    },
    grid: {
      y: {
        lines: [{
          value: 0,
          text: '',
          axis: 'y',
          position: 'middle'
        }]
      }
    },
  });
  //chart-06 ******************************
  var storyChart06 = c3.generate({
    bindto: '#chart06',
    interaction: {
      enabled: true
    },
    legend: {
      show: false
    },
    axis: {
      x: {
        type: 'category',
        tick: {
          rotate: 0,
          multiline: false
        },
        categories: ['Category A', 'Category B', 'Category C', 'Category D', 'Category E', 'Category F'],
        show: true
        },
        height: 300
    },
    labels: true,
    padding: {
      left: 0,
      right: 0,
      top: 0,
      bottom: 0
    },
    type: 'bar',
    data: {
      columns: [
        ['data1', 30, 200, 100, 400, 150, 250],
        ['data4', 130, 100, 140, 200, 150, 50]
      ],
      type: 'bar',
      colors: {
        data1: '#680013',
        data2: '#272727',
        data3: '#525252',
        data4: '#888888',
        data5: '#cccccc',
      },
      onclick: function(d, i) {
        console.log("onclick", d, i);
      },
      onmouseover: function(d, i) {
        console.log("onmouseover", d, i);
      },
      onmouseout: function(d, i) {
        console.log("onmouseout", d, i);
      }
    },
    bar: {
      title: "chart06",
      label: {
        format: function(value, ratio, id) {
          return d3.format('#')(value);
        }
      }
    }
  });
</script>
