<div class="container-fluid story-content-padding equal-box-container">
  <div class="col-md-12 p-0">
    <div class="col-md-6 rule-left-spacing equal-box">
      <div id="chart1" class="chart-wrapper"></div>
        <h4>Subhead herehere</h4>
        <ul class="key">
          <li class="category small"><span class="key-box one"></span>Tentatively agreed to sections</li>
          <li class="category small"><span class="key-box two"></span>Initial Proposals Made</li>
          <li class="category small"><span class="key-box three"></span>Sections Pending Union Counter</li>
          <li class="category small"><span class="key-box four"></span>Sections Pending Management Counter</li>
          <li class="category small"><span class="key-box five"></span>Proposals yet to be Discussed</li>
        </ul>
        <p class="body explainer small">As of December 19, 2017</p>
      </div>
    <div class="col-md-6 rule-left-spacing equal-box">
    </div>
  </div>
</div>

<script>

//chart-01 ******************************

var donut1 = c3.generate({
        bindto: '#chart1',
        interaction: {
            enabled: false
        },
        legend: {
            show: false
        },
        size: {
            width: 285
        },
        padding: {
            left: 0,
            right: 0,
            top: 0,
            bottom: 0
        },
        data: {
            columns: [
                ['data1', 12],
                ['data2', 11],
                ['data3', 4],
                ['data4', 4],
                ['data5', 2],
            ],
        type : 'pie',
        colors: {
                data1: '#680013',
                data2: '#272727',
                data3: '#525252',
                data4: '#888888',
                data5: '#cccccc',
            },
            onclick: function (d, i) { console.log("onclick", d, i); },
            onmouseover: function (d, i) { console.log("onmouseover", d, i); },
            onmouseout: function (d, i) { console.log("onmouseout", d, i); }
        },
       pie: {
            title: "chart1",
            label: {
                format: function (value, ratio, id) {
                    return d3.format('#')(value);
                }
            }
        }
    });
</script>
