<div id="story-text" class="container-fluid story-content-padding">
  <div class="col-md-9">
    <h4 class="subhead">Subhead here</h4>
    <p class="body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.
    </p>
    <p class="body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.
    </p>
  </div>
</div>
