<div class="container-fluid p-0 hidden-xs hidden-sm">
  <img class="m-0" src="http://luc.edu/media/lucedu/loyolamagazine/images/storypackages/martyr-award-quinn-center-dance-dresses.jpg"/>
</div>
<div class="container-fluid p-0 hidden-md hidden-lg">
  <img class="m-0"src="http://luc.edu/media/lucedu/loyolamagazine/images/storypackages/martyr-award-quinn-center-dance-dresses-mobile.jpg"/>
</div>
<div class="container-fluid bg-gray-light">
  <p class="caption">
    Members of the Ballet Folkorico Teochimalli practice at the Quinn Community Center. The center was honored during a November 16 award presentation at Loyola's Health Sciences Campus.
  </p>
</div>
