<div class="container-fluid p-0">
<div id="story-introduction" class="container story-content-padding bg-white">
  <div class="col-md-12">
    <h5 class="label small">Label herehere <span style="font-family: 'Antenna Light', sans-serif;"> Label readout herehere</span></h5>
    <h1 class="display m-b-30">Headgline here here</h1>
  </div>
  <div class="col-md-9 rule-left-spacing">
    <span class="leadin">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span>
    <p class="intro">
      Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum.
    </p>
    <p class="body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum. Nunc elementum fringilla nisi.
    </p>
    <img class="m-t-30" src="http://placehold.it/1000x560"/>
    <span class="category timestamp">
      00:00:00
    </span>
    <p class="caption small m-b-30">
      Image 03 ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Cras vitae vulputate justo.</p>
    <span class="credit">
      By Someone Herehere
    </span>
    <p class="body">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula.
    </p>
  </div>
  <div class="col-md-3 col-sm-6 rule-left">
    <h4 class="subhead m-t-0">Headgline here</h4>
    <img src="http://placehold.it/1000x1500">
    <p class="body small">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim.
    </p>
  </div>
  <div class="col-md-3 col-sm-6 rule-left">
    <blockquote class="blockquote medium rule-top">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.<cite class="cite m-t-10 small">Someone Namehere</cite>
    </blockquote>
    <h1 class="number display large">000</h1>
    <p class="number extra-small m-t-0 m-b-0 rule-bottom">This is text that explains the reason for the number.</p>
    <h1 class="number display large">000</h1>
    <p class="number extra-small m-t-0 m-b-0 rule-bottom">This is text that explains the reason for the number.</p>
    <h1 class="number display large">000</h1>
    <p class="number extra-small m-t-0 m-b-0">This is text that explains the reason for the number.</p>
  </div>
</div>
