<div class="container-fluid p-0 equal-box-container background-extra-dark">
    <div class="col-md-12 p-0 ie-fix-table">
        <div class="col-md-6 p-0 equal-box ie-fix">
            <img  class="float-left m-t-0 m-b-0 image-object-cover" src="http://placehold.it/1000x1000">
        </div>
        <div class="col-md-6 p-0 equal-box bg-gray-extra-dark pull-right">
            <div class="story-content-padding">
              <div class="col-md-12">
                <h4 class="subhead">Subhead here consectetur adipiscing elit ras vitae</h4>
                <p class="body">Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Cras vitae vulputate justo cursus leo at auctor.</p>
              </div>
            </div>
        </div>
    </div>
</div>
