<div class="container-fluid p-0 overlay-relative">
  <img class="float-left m-0" src="http://luc.edu/media/lucedu/loyolamagazine/images/storypackages/martyr-award-quinn-center-dance-dresses.jpg"/>
  <div class="overlay-absolute overlay-40 equal-box-container">
    <div class="story-content-padding equal-box">
      <div class="flex-bottom-vertically">
        <blockquote class="blockquote-overlay display uppercase"><span class="open-quote">&lsquo;</span>Blockquote Lorem ipsum dolor sit amet elit.</blockquote>
        <cite class="cite-overlay m-t-0 m-b-0">— Someone Namehere</cite>
      </div>
    </div>
  </div>
</div>
