<div class="container-fluid p-0">
<div id="story-text-blockquote-sentence" class="container story-content-padding bg-gray-extra-dark">
  <div class="col-md-12">
    <div class="col-md-9 p-0">
      <blockquote class="blockquote-standard display uppercase blockquote-sentence-case"><span class="open-quote">&lsquo;</span>Blockquote lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam.</blockquote>
      <cite class="cite-standard m-t-0 m-b-0">— Someone Namehere</cite>
    </div>
  </div>
</div>
</div>
