<div id="story-full-carousel-photo-shelter" class="container-fluid p-0 carousel slide carousel-fade" data-interval="false">
  <style>[data-ps-embed-type=slideshow autoplay=false] > iframe {position: absolute; top: 0; left: 0;}</style>
  <div class="story-full-carousel-photo-shelter-wrapper" data-ps-embed-type="slideshow" data-ps-embed-gid="G0000Okeo4t1oyZY"></div>
  <script src="https://loyolachicago.photoshelter.com/js/psEmbed.js"></script>
  <script>_psEmbed("https://loyolachicago.photoshelter.com");</script>
</div>
