<div class="container-fluid story-content-padding" style="width: 100%;">
  <div class="col-md-12">
    <h3 class standalone>Headline anim pariatur cliche</h3>
    <p class="body m-b-30">
      Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird
      on it squid single-origin coffee nulla assumenda shoreditch et.
    </p>

    <div class="panel-group accord-blk" id="accordion">

      <div class="panel">
        <div class="panel-heading">
          <h4 class="subhead uppercase">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              Collapsible group with one-column body
            </a>
          </h4>
        </div><!-- panel-heading -->
        <div id="collapseOne" class="panel-collapse collapse">
          <h3 class="standalone">Headgline here here here headline here</h3>
          <div class="panel-body">
            <p class="body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
            </p>
          </div>
        </div><!-- panel-collapse -->
      </div><!-- panel -->

      <div class="panel">
        <div class="panel-heading">
          <h4 class="subhead uppercase">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              Collapsible group with two-column body
            </a>
          </h4>
        </div><!-- panel-heading -->
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="col-md-6">
              <p class="body small">
                <span class="leadin">Anim pariatur cliche reprehenderit</span> enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
              </p>
            </div>
            <div class="col-md-6">
              <p class="body small">
                <span class="leadin">Nihil anim keffiyeh helvetica</span> craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </p>
            </div>
          </div>
        </div><!-- panel-collapse -->
      </div><!-- panel -->

      <div class="panel">
        <div class="panel-heading uppercase">
          <h4 class="subhead display">
            <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              Collapsible group with three-column body
            </a>
          </h4>
        </div><!-- panel-heading -->
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            <div class="col-md-4">
              <p class="body small">
                <span class="leadin">Anim pariatur cliche reprehen</span> enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
              </p>
            </div>
            <div class="col-md-4 rule-left-small">
              <p class="body small">
                <span class="leadin">Nihil anim keffiyeh helvetica</span> put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt.
              </p>
            </div>
            <div class="col-md-4 rule-left-small">
              <p class="body small">
                <span class="leadin">Nihil anim keffiyeh helvetica</span> raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </p>
            </div>
          </div>
        </div><!-- panel-collapse -->
      </div><!-- panel -->

    </div>
  </div>
</div>
