<div class="container-fluid story-content-padding equal-box-container">
  <div id="hover-grid-container" class="container-fluid canvas-base">
  	<div class="container canvas-content">

  		<div class="card-hover">
  			<img class="image" src="/images/hover-grid/1000x560-image1-exp.png" />
  			<div class="overlay">
  				<img class="image" src="/images/hover-grid/1000x560-image2-exp.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/hover-grid/1000x560-image1-exp.png" />
  			<div class="overlay">
  				<img class="image" src="/images/hover-grid/1000x560-image2-exp.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/hover-grid/1000x560-image1-exp.png" />
  			<div class="overlay">
  				<img class="image" src="/images/hover-grid/1000x560-image2-exp.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/hover-grid/1000x560-image1-exp.png" />
  			<div class="overlay">
  				<img class="image" src="/images/hover-grid/1000x560-image2-exp.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/hover-grid/1000x560-image1-exp.png" />
  			<div class="overlay">
  				<img class="image" src="/images/hover-grid/1000x560-image2-exp.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/hover-grid/1000x560-image1-exp.png" />
  			<div class="overlay">
  				<img class="image" src="/images/hover-grid/1000x560-image2-exp.png" />
  			</div>
  		</div>
  	</div>
  </div>
</div>
