<div id="story-refer-panel" class="container-fluid  equal-box-container p-0" style="background: #eeeeee;">
  <div class="refer-image">
    <img  class="m-t-0 m-b-0 image-object-cover" src="http://placehold.it/320x320">
  </div>
  <div class="refer-content equal-box" style="background: #eeeeee;">
    <div class="story-content-padding-medium">
      <p class="body m-b-0 refer-short"><span class="leadin">This is a bold lead-in to a paragraph</span> Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat.<a class="cta maroon" href="https://luc.edu"> Read more</a></p>
      <p class="body m-b-0 refer-long"><span class="leadin">This is a bold lead-in to a paragraph</span> Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat.  Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut massa consequat.<a class="cta maroon" href="https://luc.edu"> Read more</a></p>
    </div>
  </div>
</div>
