<div class="container-fluid bg-white story-content-padding">
  <h5 class="label">Martyrs Award 2017 <span style="font-family: 'Antenna Light', sans-serif;"> Quinn Community Center</span></h5>
  <h1 class="display">The center of a community</h1>
  <p class="intro">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum. Nunc elementum fringilla nisi. Cras sapien urna, molestie ullamcorper imperdiet quis, vulputate ut metus.
  </p>
</div>
