<div class="container-fluid p-0">
<div id="story-image-multi-text" class="container story-content-padding equal-box-container">
  <div class="col-md-12">
    <div class="col-md-4 rule-left-small-spacing equal-box">
      <img class="float-left m-t-0 m-b-15" src="http://placehold.it/1000x560"/>
      <span class="leadin">
        Lorem ipsum dolor sit amet.
      </span>
      <p class="caption small m-b-0 p-b-0">
        Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis.
      </p>
    </div>
    <div class="col-md-4 p-0 rule-left-small rule-left-small-spacing equal-box">
      <img class="float-left m-t-0 m-b-15" src="http://placehold.it/1000x560"/>
      <span class="leadin">
        Lorem ipsum dolor sit amet.
      </span>
      <p class="caption small m-b-0 p-b-0">
        Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis. Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit.
      </p>
    </div>
    <div class="col-md-4 rule-left-small equal-box">
      <img class="float-left m-t-0 m-b-15" src="http://placehold.it/1000x560"/>
      <span class="leadin">
        Lorem ipsum dolor sit amet.
      </span>
      <p class="caption small m-b-0 p-b-0">
        Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis.
      </p>
    </div>
  </div>
</div>
</div>
