<!-- Placed at the end of the document so the pages load faster -->
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js">
</script>
<!--Javascript file functions.js -->
<!--
<script type="text/javascript" src="https://www.luc.edu/media/b3/js/functions.js">
</script>
-->
<script>
$(window).on('scroll', function() {
	if ($(window).scrollTop() >= 10) {
	$('h1.text-muted').fadeIn('slow');
	} else {
	$('h1.text-muted').fadeOut('slow');
	}
	});
</script>
<!-- Custom JS files-->
<!-- build:customjs -->
<!-- endbuild -->
