<!-- footer-address -->
<div class="container-fluid bg-gray" id="footer-address">
	<div class="container">
		<div class="row">
			<div class="col-sm-9">
				<div class="vcard">
<!-- navigation object : Home Footer -->
					<div class="footercard">
						<span class="fn org"> Loyola University Chicago </span> &middot; <span class="adr"> <span class="street-address"> 1032 W. Sheridan Rd. </span>, <span class="locality"> Chicago </span>, <span class="region"> IL </span> <span class="postal-code"> 60660 </span> </span> &middot; <span class="tel"> 773.274.3000 </span> <a class="email" href="mailto:webmaster@luc.edu"> webmaster@luc.edu </a> 
					</div>
					<div>
						<a href="http://www.luc.edu/info/copyright_disclaimer.shtml">© Copyright &amp; Disclaimer 2014</a> <img class="logo photo" src="http://www.luc.edu/media/home/images/luc-logo.png" style="visibility:hidden;width:0px;height:0px;"> 
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<a class="logo-tag" href="http://www.luc.edu"> <img class="img-responsive" src="http://www.luc.edu/media/home/images/loyola-logo-tag.png" alt="Loyola University Chicago"> </a> 
			</div>
		</div>
	</div>
</div>