<!-- BEGIN FOOTER -->
<!-- footer-content -->
<!-- footer-content cta -->
		<div class="container-fluid" id="cta">
			<div class="container">
				<div class="row">
					<div class="col-md-9">
						<div class="col-span-20">
							<div class="btn-group">
								<button class="btn cta">Apply<span class="apply">&nbsp;now</span></button> <button class="btn dropdown-toggle cta" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down"></i></button> 
								<ul class="dropdown-menu">
									<li><a href="http://uao.luc.edu/apply/" onclick="ga('send', 'event', 'Clicks', 'Apply-Undergraduate', 'Home Page');">Undergraduate</a></li>
									<li><a href="http://gpem.luc.edu/apply/" onclick="ga('send', 'event', 'Clicks', 'Apply-Graduate', 'Home Page');">Graduate/ Professional</a></li>
									<li><a href="http://gpem.luc.edu/apply/" onclick="ga('send', 'event', 'Clicks', 'Apply-Adult', 'Home Page');">Adult Education</a></li>
								</ul>
							</div>
						</div>
						<div class="col-span-20">
							<div class="btn-group">
								<button class="btn cta"><span class="info">Get&nbsp;</span>info</button> <button class="btn dropdown-toggle cta" data-toggle="dropdown"><i class="glyphicon glyphicon-chevron-down"></i></button> 
								<ul class="dropdown-menu">
									<li><a href="http://uao.luc.edu/register/?id=09e1ac8b-c620-43cc-afe7-325cad54eec2" onclick="ga('send', 'event', 'Clicks', 'RFI-Undergraduate', 'Home Page');">Undergraduate</a></li>
									<li><a href="http://www.luc.edu/gpem/rfi" onclick="ga('send', 'event', 'Clicks', 'RFI-Graduate', 'Home Page');">Graduate/ Professional</a></li>
									<li><a href="http://www.luc.edu/adult-education/rfi/index.shtml" onclick="ga('send', 'event', 'Clicks', 'RFI-Adult', 'Home Page');">Adult Education</a></li>
								</ul>
							</div>
						</div>
						<div class="col-span-20">
							<a href="http://www.luc.edu/visit.shtml" onclick="ga('send', 'event', 'Clicks', 'Come Visit', 'Home Page');"> <button class="btn cta visit"><span class="visit">Come&nbsp;</span>visit</button></a> 
						</div>
						<div class="col-span-20">
							<a href="http://www.luc.edu/###/" onclick="ga('send', 'event', 'Clicks', 'Degrees', 'Home Page');"> <button class="btn cta">Degrees</button></a> 
						</div>
						<div class="col-span-20">
							<a href="http://www.luc.edu/give/" onclick="ga('send', 'event', 'Clicks', 'Give to Loyola', 'Home Page');"> <button class="btn cta">Give<span class="give">&nbsp;to Loyola</span></button></a> 
						</div>
					</div>
					<div id="social-wrapper" class="col-md-3 col-md-12">
<!-- navigation object : cta-social-icons -->
						<ul class="social" id="social">
<!-- FACEBOOK -->
							<li><a target="_blank" href="http://www.facebook.com/LoyolaChicago" class='icon-fb' target="_self" title="Follow Us on Facebook"></a></li>
<!-- TWITTER -->
							<li><a target="_blank" href="http://www.twitter.com/LoyolaChicago" class='icon-tw' target="_self" title="Follow Us on Twitter"></a></li>
<!-- FLICKR -->
							<li><a target="_blank" href="http://www.flickr.com/photos/loyolauniversitychicago/" class='icon-fl' target="_self" title="Follow Us on Flickr"></a></li>
<!-- LINKEDIN -->
							<li><a target="_blank" href="http://www.linkedin.com/edu/loyola-university-chicago-18277" class='icon-li' target="_self" title="Follow Us on LinkedIn"></a></li>
<!-- RSS LINK -->
<!-- YOUTUBE -->
							<li><a target="_blank" href="http://www.youtube.com/LoyolaChicago" class='icon-yt' target="_self" title="Follow Us on You Tube"></a></li>
<!-- PINTEREST -->
<!-- INSTAGRAM -->
							<li><a target="_blank" href="http://instagram.com/loyolachicago" class='icon-instagram' target="_self" title="Follow Us on Instagram"></a></li>
<!-- GOOGLE+ -->
						</ul>
					</div>
				</div>
			</div>
		</div>