<!-- AUDIENCE - DIRECTORY - HEADER -->
<div id="audience-directory-header">
<div-class="container-fluid">
  <ul id="audience-nav" class="col-md-6 pull-left">
    <li class="category small"><a href="#">Prospective students</a></li>
    <li class="category small"><a href="#">Current students</a></li>
    <li class="category small"><a href="#">Alumni</a></li>
  </ul>
  <ul id="directory-nav" class="col-md-5 pull-right">
    <li class="category small"><a href="#">Support LUC</a></li>
    <li class="category small"><a href="#">Locus</a></li>
    <li class="category small"><a href="#">Directory</a></li>
    <li class="category small"><a href="#">Contact</a></li>
    <li class="category small"><a href="#">A-Z</a></li>
  </ul>
</div>
</div>
