<!-- main-content -->
	<div class="container" id="main-content">
		<div class="row">
			@@include('./b3-canvas/canvas-image-overlay.html')
			@@include('./b3-canvas/canvas-intro.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->
			@@include('./b3-canvas/canvas-tabs.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->
			@@include('./b3-canvas/canvas-2-col.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->
			@@include('./b3-canvas/canvas-2-col-imgs.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->			
			@@include('./b3-canvas/canvas-3-col-imgs.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->			
			@@include('./b3-canvas/canvas-4-col-imgs.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->			
			@@include('./b3-canvas/canvas-3-col-numbers.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->	
			@@include('./b3-canvas/canvas-4-col-numbers.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->	
			@@include('./b3-canvas/canvas-combo-col-numbers.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->	
			@@include('./b3-canvas/canvas-buttons.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->	
			@@include('./b3-canvas/canvas-2-col-img-accordion.html')
			@@include('./b3-canvas/canvas-spacer.html') <!-- spacer -->
			@@include('./b3-canvas/canvas-image-overlay-partial.html')
		</div>
	</div>
<!-- main-content -->