<!-- main-content -->
<div class="container" id="main-content">
	<div class="row">
		<div id="centerColumn" class="col-md-6 col-md-push-3 module">
			<div class="col-sm-12 bg-white col-padding-add">
				<h1>Color Palette</h1>
				<p>Loyola University Chicago</p>
				<ul class="grid-row">
					<li class="grid-square maroon-extra-dark"><p class="grid-square-content"><span>Maroon Extra Dark</span><span class="hex">#481123</span></p></li>
					<li class="grid-square maroon-dark"><p class="grid-square-content"><span>Maroon Dark</span><span class="hex">#711a37</span></p></li>
					<li class="grid-square maroon"><p class="grid-square-content"><span>Maroon</span><span class="hex">#922247</span></p></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square gold-extra-dark"><p class="grid-square-content"><span>Gold Extra Dark</span><span class="hex">#513b00</span></p></li>
					<li class="grid-square gold-dark"><p class="grid-square-content"><span>Gold Dark</span><span class="hex">#9e7200</span></p></li>
					<li class="grid-square gold"><p class="grid-square-content"><span>Gold</span><span class="hex">#eaaa00</span></p></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square gray-extra-dark"><p class="grid-square-content"><span>Gray Extra Dark</span><span class="hex">#363636</span></p></li>
					<li class="grid-square gray-dark"><p class="grid-square-content"><span>Gray Dark</span><span class="hex">#5f5f5f</span></p></li>
					<li class="grid-square gray"><p class="grid-square-content"><span>Gray</span><span class="hex">#959595</span></p></li>
					<li class="grid-square gray-light"><p class="grid-square-content"><span>Gray Light</span><span class="hex">#d5d5d5</span></p></li>
					<li class="grid-square gray-extra-light"><p class="grid-square-content"><span>Gray Extra Light</span><span class="hex">#f1f1f1</span></p></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square lake-extra-dark"><p class="grid-square-content"><span>Lake Extra Dark</span><span class="hex">#0b3b52</span></p></li>
					<li class="grid-square lake-dark"><p class="grid-square-content"><span>Lake Dark</span><span class="hex">#11587b</span></p></li>
					<li class="grid-square lake"><p class="grid-square-content"><span>Lake</span><span class="hex">#1882b5</span></p></li>
					<li class="grid-square lake-light"><p class="grid-square-content"><span>Lake Light</span><span class="hex">#b8e2f5</span></p></li>
					<li class="grid-square lake-extra-light"><p class="grid-square-content"><span>Lake Extra Light</span><span class="hex">#e5f3fa</span></p></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square patina-extra-dark"><p class="grid-square-content"><span>Patina Extra Dark</span><span class="hex">#123a38</span></p></li>
					<li class="grid-square patina-dark"><p class="grid-square-content"><span>Patina Dark</span><span class="hex">#237571</span></p></li>
					<li class="grid-square patina"><p class="grid-square-content"><span>Patina</span><span class="hex">#35b0a9</span></p></li>
					<li class="grid-square patina-light"><p class="grid-square-content"><span>Patina Light</span><span class="hex">#bcebe8</span></p></li>
					<li class="grid-square patina-extra-light"><p class="grid-square-content"><span>Patina Extra Light</span><span class="hex">#e9f7f6</span></p></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square terracotta-extra-dark"><p class="grid-square-content"><span>Terra Cotta Extra Dark</span><span class="hex">#3a2d1f</span></p></li>
					<li class="grid-square terracotta-dark"><p class="grid-square-content"><span>Terra Cotta Dark</span><span class="hex">#6b543a</span></p></li>
					<li class="grid-square terracotta"><p class="grid-square-content"><span>Terra Cotta</span><span class="hex">#aa8761</span></p></li>
					<li class="grid-square terracotta-light"><p class="grid-square-content"><span>Terra Cotta Light</span><span class="hex">#e0d3c4</span></p></li>
					<li class="grid-square terracotta-extra-light"><p class="grid-square-content"><span>Terra Cotta Extra Light</span><span class="hex">#d5d5d5</span></p></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square taupe-extra-dark"><p class="grid-square-content"><span>Taupe Extra Dark</span><span class="hex">#35342b</span></p></li>
					<li class="grid-square taupe-dark"><p class="grid-square-content"><span>Taupe Dark</span><span class="hex">#565547</span></p></li>
					<li class="grid-square taupe"><p class="grid-square-content"><span>Taupe</span><span class="hex">#8e8c75</span></p></li>
					<li class="grid-square taupe-light"><p class="grid-square-content"><span>Taupe Light</span><span class="hex">#cecdc4</span></p></li>
					<li class="grid-square taupe-extra-light"><p class="grid-square-content"><span>Taupe Extra Light</span><span class="hex">#f2f1ee</span></p></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square bg-overlay-extra-dark"><p class="grid-square-content"><span>Background Overlay Extra Dark</span><span class="hex">rgba(0,0,0,.85)</span></p></li>
					<li class="grid-square bg-overlay-dark"><p class="grid-square-content"><span>Background Overlay Dark</span><span class="hex">rgba(0,0,0,.7)</span></p></li>
					<li class="grid-square bg-overlay"><p class="grid-square-content"><span>Background Overlay</span><span class="hex">rgba(0,0,0,.5)</span></p></li>
					<li class="grid-square bg-overlay-light"><p class="grid-square-content"><span>Background Overlay Light</span><span class="hex">rgba(0,0,0,.35)</span></p></li>
					<li class="grid-square bg-overlay-extra-light"><p class="grid-square-content"><span>Background Overlay Extra Light</span><span class="hex">rgba(0,0,0,.2)</span></p></li>
				</ul>
				</div>
			</div>
			<div id="rightColumn" class="col-md-3 col-md-push-3 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 right_column  - this used to be nav547-->
					<h1>
						This is the related content module
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum. Nunc elementum fringilla nisi. Cras sapien urna, molestie ullamcorper imperdiet quis, vulputate ut metus. 
					</p>
				</div>
			</div>
			<div id="leftColumn" class="col-md-3 col-md-pull-9 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 left_column  - this used to be nav546-->
					<h1>
						This is the navigation module
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum. Nunc elementum fringilla nisi. Cras sapien urna, molestie ullamcorper imperdiet quis, vulputate ut metus. 
					</p>
				</div>
			</div>
		</div>
	</div>
<!-- main-content -->