<!-- main-content -->
<div class="container-fluid" id="main-content">
<!-- interior-wrapper -->
<div class="container" id="interior-wrapper">
	<div class="development-nav">
		<ul>
			<h5 class="category">Page Templates</h5>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="interior.html">Interior</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="typography.html">Typography</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="color-palette.html">Color Palette</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="storyforms.html">Storyforms</a></li>
			<li style="font-size:1.2em; padding: 2px 0;"><a href="canvas.html">Canvas</a></li>
		</ul>
	</div>
</div>
<!-- interior-wrapper close -->
</div>
<!-- main-content -->
