<!-- main-content -->
	<div id="main-content">
		@@include('./canvas-parallax/canvas-parallax-top-image.html') <!-- parallax - top - image -->
		@@include('./canvas-parallax/canvas-parallax-2-col.html') <!-- parallax - panel -->
		@@include('./canvas-parallax/canvas-parallax-slide-03.html') <!-- parallax - slide - image -->
		@@include('./canvas-parallax/canvas-parallax-slide-04.html') <!-- parallax - slide - content -->
		@@include('./canvas-parallax/canvas-parallax-slide-05.html') <!-- parallax - slide - image -->
		@@include('./canvas-parallax/canvas-parallax-slide-06.html') <!-- parallax - slide - content -->
		@@include('./canvas-parallax/canvas-parallax-slide-07.html') <!-- parallax - slide - image -->
		@@include('./canvas-parallax/canvas-parallax-slide-08.html') <!-- parallax - slide - content -->
		@@include('./canvas-parallax/canvas-parallax-slide-09.html') <!-- parallax - slide - image -->
		@@include('./canvas-parallax/canvas-parallax-slide-10.html') <!-- parallax - slide - content -->
		@@include('./canvas-parallax/canvas-parallax-slide-11.html') <!-- parallax - slide - content -->
		@@include('./canvas-parallax/canvas-parallax-slide-12.html') <!-- parallax - slide - image -->
		@@include('./canvas-parallax/canvas-parallax-slide-13.html') <!-- parallax - slide - content -->
		@@include('./canvas-parallax/canvas-parallax-slide-14.html') <!-- parallax - slide - image -->
		@@include('./canvas-parallax/canvas-parallax-slide-15.html') <!-- parallax - slide - content -->
		@@include('./canvas-parallax/canvas-parallax-slide-16.html') <!-- parallax - slide - image -->
	</div>
<!-- main-content -->
