<!-- main-content -->
	<div id="main-content" class="container ">
		@@include('./crime-scene/story-crime-scene-audio.html') <!-- story-audio -->
		<div id="story-wrapper" class="col-md-12 p-r-0 p-l-0 bg-white container-fluid">
			@@include('./crime-scene/story-crime-scene-introduction.html') <!-- story-introduction -->
			@@include('./crime-scene/story-crime-scene-content-populate.html') <!-- story-content-populate -->
			@@include('./crime-scene/story-crime-scene-text-blockquote-sentence.html') <!-- story-blockquote-sentence -->
			@@include('./crime-scene/story-crime-scene-image-multi-text.html') <!-- story-image-multi-text -->
			@@include('./crime-scene/story-crime-scene-refer.html') <!-- story-refer-text -->
		</div>
		<!-- story-wrapper -->
	</div>
<!-- main-content -->
