<!-- main-content -->
<div class="container-fluid" id="main-content">
<!-- interior-wrapper -->
<div class="container" id="interior-wrapper">
	<div class="development-nav bg-white p-t-30 p-b-30 p-l-30 p-r-30">
		<ul>
			<h2 class="display m-b-20">Page Templates</h2>
			<li style="font-size:1.2em; padding: 2px 0; list-style: none;"><a class="label small" href="interior.html">Interior</a></li>
			<li style="font-size:1.2em; padding: 2px 0; list-style: none;"><a class="label small" href="typography.html">Typography</a></li>
			<li style="font-size:1.2em; padding: 2px 0; list-style: none;"><a class="label small" href="color-palette.html">Color Palette</a></li>
			<li style="font-size:1.2em; padding: 2px 0; list-style: none;"><a class="label small" href="storyforms.html">Storyforms</a></li>
			<li style="font-size:1.2em; padding: 2px 0; list-style: none;"><a class="label small" href="storyforms-complex.html">Storyforms Complex</a></li>
			<li style="font-size:1.2em; padding: 2px 0; list-style: none;"><a class="label small" href="canvas.html">Canvas</a></li>
			<li style="font-size:1.2em; padding: 2px 0; list-style: none;"><a class="label small" href="law-programs.html">Law Programs</a></li>
			<li style="font-size:1.2em; padding: 2px 0; list-style: none;"><a class="label small" href="law-interior.html">Law Interior</a></li>
			<li style="font-size:1.2em; padding: 2px 0; list-style: none;"><a class="label small" href="law-canvas.html">Law Canvas</a></li>
			<li style="font-size:1.2em; padding: 2px 0; list-style: none;"><a class="label small" href="canvas-parallax.html">Canvas Parallax</a></li>
			<li style="font-size:1.2em; padding: 2px 0; list-style: none;"><a class="label small" href="crime-scene.html">Crime scene</a></li>
			<li style="font-size:1.2em; padding: 2px 0; list-style: none;"><a class="label small" href="STEM.html">STEM</a></li>
		</ul>
	</div>
</div>
<!-- interior-wrapper close -->
</div>
<!-- main-content -->
