<!-- main-content -->
	<div id="main-content" class="container ">
		<div id="story-wrapper" class="col-md-12 p-r-0 p-l-0 bg-white container-fluid">
			<!-- @@include('./storyforms-complex/story-content-populate.html') story-content-populate -->
			<!-- @@include('./storyforms-complex/divider-content-populate.html') -->
			@@include('./storyforms-complex/story-opacity-slider.html') <!-- story-opacity-slider -->
			@@include('./storyforms-complex/divider-image-grid-hover.html')
			@@include('./storyforms-complex/story-image-multi-hover.html') <!-- story-image-grid-reveal -->
			@@include('./storyforms-complex/divider-image-grid-hover.html')
			@@include('./storyforms/story-chart-text.html') <!-- story-chart-text -->
			@@include('./storyforms/divider-chart-text.html')
			@@include('./storyforms/story-chart-multi.html') <!-- story-chart-multi -->
			@@include('./storyforms/divider-chart-multi.html')
			@@include('./storyforms/story-chart.html') <!-- story-chart -->
			@@include('./storyforms/divider-chart.html')
			@@include('./storyforms/story-chart-types.html') <!-- story-charts-types -->
			@@include('./storyforms/divider-chart-types.html')
		</div>
		<!-- story-wrapper -->
	</div>
<!-- main-content -->
