<!-- main-content -->
	<div class="container" id="main-content">
		<div class="row">
			<div id="centerColumn" class="col-md-9 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 center  - this used to be nav548-->

<!-- typography -->

<!-- typography -->
<!-- section START -->
	<section class="section">
		<div class="container" style="width: 100%; padding-left: 0; padding-right: 0;">

			<div class="image">
				<img  src="http://placehold.it/1000x560" alt="This is a placeholder image">
				<p class="credit">Byline Name Herehere</p>
				<h3 class="standalone">h3 standalone headline</h3>
				<p class="caption">This is a caption for this image lorem ipsum unum hereum. This is a caption for this image lorem ipsum unum hereum. This is a caption for this image lorem ipsum unum hereum.</p>
			</div>

<section><div class="spacer-section"><hr></div></section>

			<h5 id="breadcrumbs" class="label"><a href="">Breadcrumbs&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;</a><a href="">Page link one&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;</a><a href="">Page link two&nbsp;&nbsp;&nbsp;&gt;&nbsp;&nbsp;&nbsp;</a>Current page</h5>
			<h2 class="secondary-alternate arnhem">H2 secondary-alternate</h2>
			<h3 class="standalone-alternate">H3 standalone</h3>
			<h4 class="subhead">H4 subhead</h4>
			<h5 class="label">H5 label</h5>
			<h6 class="category bold">H6 category bold</h6>
			<h6 class="category light">H6 category light</h6>

<section><div class="spacer-section"><hr></div></section>

			<h1 class="primary-alternate display arnhem-bold">H1 primary-alternate display </h1>
			<p class="body intro alternate"><span class="lead-in">Lorem ipsum dolor sit amet, elit.</span> Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies.</p>

			<p class="body alternate"><span class="lead-in">Lorem ipsum dolor sit amet, elit.</span> Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies.</p>

			<p class="body alternate explainer">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies.</p>

			<p class="body alternate endnote">Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies.</p>

<section><div class="spacer-section"><hr></div></section>

			<p class="body intro"><span class="lead-in">Lorem ipsum dolor sit amet, elit.</span> Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies.</p>

			<p class="body"><span class="lead-in">Lorem ipsum dolor sit amet, elit.</span> Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies.</p>

			<p class="body explainer">Lorem ipsum dolor sit amet, elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies.</p>

			<p class="body explainer">Lorem ipsum dolor sit amet, elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies.</p>

			<p class="body endnote">Lorem ipsum dolor sit amet, elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies.</p>

<section><div class="spacer-section"><hr></div></section>

			<blockquote>
				<p>This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.</p>
				<cite>— Blockquote cite, CEO, <a href="javascript:void(0);" title="Title herehere">Link here</a></cite>
			</blockquote>

<section><div class="spacer-section"><hr></div></section>

			<div class=body-group>
				<p class="body bold">This question is body alternate bold consectetur?</p>
				<p class="body alternate">This answer is paragraph body explainer alternate. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
			</div>

<section><div class="spacer-section"><hr></div></section>

			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Apply now</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Request Info</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Visit us</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Deposit now</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Register now</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">RSVP now</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Learn more</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Read more</a></p>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Give to Loyola</a></p>

<section><div class="spacer-section"><hr></div></section>

			<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Apply now</button></div>
			<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Request info</button></div>
			<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Visit us</button></div>
			<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Register now</button></div>
			<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">RSVP now</button></div>
			<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Learn more</button></div>
			<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Read more</button></div>
			<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Give to Loyola</button></div>
			<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Submit</button></div>

		</div>
	</div>
<!-- main-content -->
