<!-- main-content -->
	<div id="main-content" class="container ">
		<div id="story-wrapper" class="col-md-12 p-r-0 p-l-0 bg-white container-fluid">
			@@include('./law-interior/law-interior-open.html') <!-- xxx -->
			@@include('./law-interior/law-interior-lede.html') <!-- xxx -->
			@@include('./law-interior/law-interior-content.html') <!-- xxx -->
		  @@include('./law-interior/law-interior-module.html') <!-- xxx -->
			@@include('./law-interior/law-interior-nav.html') <!-- xxx -->
		</div>
		<!-- story-wrapper -->
	</div>
<!-- main-content -->
