<!-- main-content -->
	<div class="container" id="main-content">
		<div class="row">

			<div id="topColumn" class="col-md-12">
				@@include('./b3-modules/module-announcement.html') <!-- module - announcement -->
				@@include('./b3-modules/module-pano.html') <!-- module - pano -->
			</div>

			<div id="centerColumn" class="col-md-6 col-md-push-3 module">
				<!-- navigation object: Get B3 center  - this used to be nav548-->
				@@include('./b3-modules/module-pano.html') <!-- module - pano -->
			</div>

			<div id="rightColumn" class="col-md-3 col-md-push-3 module">
				<!-- navigation object: Get B3 right_column  - this used to be nav547-->
				@@include('./b3-modules/module-cta.html') <!-- module - cta -->
			</div>

			<div id="leftColumn" class="col-md-3 col-md-pull-9 module">
				<!-- navigation object: Get B3 left_column  - this used to be nav546-->			
				@@include('./b3-modules/module-cta.html') <!-- module - cta -->						
			</div>

		</div>
	</div>
<!-- main-content -->