<!-- main-content -->
	<div id="main-content" class="container ">
		<div id="story-wrapper" class="col-md-12 p-r-0 p-l-0 bg-white container-fluid">
			@@include('./storyforms-complex/story-content-populate.html')
			@@include('./storyforms-complex/divider-content-populate.html') <!-- caption -->
			@@include('./storyforms-complex/story-image-multi-hover.html')
			@@include('./storyforms-complex/divider-image-grid-hover.html') <!-- caption -->
		</div>
		<!-- story-wrapper -->
	</div>
<!-- main-content -->
