<!-- main-content -->
	<div class="container" id="main-content">
		<div class="row">
			<div id="topColumn" class="col-md-12">

<!-- module - announcement -->
				<div class="col-md-12 module-base announcement">
					<h4 class="subhead">Announcement: <span>Spring begins January 6. Get your <a class="cta" href="###">application</a> in now.</span></h4>
				</div>
			
<!-- module - pano-full -->
				<div class="col-md-12 module pano" data-image-link="http://www.luc.edu/media/lucedu/patternlibrary/images/pattern-library-campus.jpg" adjsize="enlarge-200 horizontal-08-vertical-09" style="background-image:url('http://www.luc.edu/media/lucedu/patternlibrary/images/pattern-library-campus.jpg')">
					<h6>Label herehere</h6>
						<div class="col-md-12 overlay">
							<h1 class="display"><a href="###">Headline herehere</a></h1>
							<h4 class="subhead reverse">Lorem ipsum unum hereum unum lorem ipsum hereumerum unim lorimnus ibus unim lorem. <a class="cta" href="###">Read More</a></h4>
    				</div>
				</div>
			
			</div>
			<div id="centerColumn" class="col-md-6 col-md-push-3 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 center  - this used to be nav548-->
					<h1>
						This is hello the main content of the page
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum. Nunc elementum fringilla nisi. Cras sapien urna, molestie ullamcorper imperdiet quis, vulputate ut metus. 
					</p>
				</div>
			</div>
			<div id="rightColumn" class="col-md-3 col-md-push-3 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 right_column  - this used to be nav547-->
					<h1>
						This is the related content module
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum. Nunc elementum fringilla nisi. Cras sapien urna, molestie ullamcorper imperdiet quis, vulputate ut metus. 
					</p>
				</div>
			</div>
			<div id="leftColumn" class="col-md-3 col-md-pull-9 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 left_column  - this used to be nav546-->
					<h1>
						This is the navigation module
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum. Nunc elementum fringilla nisi. Cras sapien urna, molestie ullamcorper imperdiet quis, vulputate ut metus. 
					</p>
				</div>
			</div>
		</div>
	</div>
<!-- main-content -->