<!-- main-content -->
	<div id="main-content" class="container">
		<div id="story-wrapper" class="col-md-12 p-l-0 p-r-0 bg-white">
			@@include('./storyforms/story-carousel-counter.html') <!-- story-carousel-counter -->
			@@include('./storyforms/divider-carousel.html')
			@@include('./storyforms/story-image-caption.html') <!-- story-image-caption -->
			@@include('./storyforms/divider-image-caption.html')
			@@include('./storyforms/story-introduction.html') <!-- story-introduction -->
			@@include('./storyforms/divider-introduction.html')
			@@include('./storyforms/story-text.html') <!-- story-text -->
			@@include('./storyforms/divider-text.html')
			@@include('./storyforms/story-image-side-caption.html') <!-- story-image-side-caption -->
			@@include('./storyforms/divider-image-side-caption.html')
			@@include('./storyforms/story-image-multi-text.html') <!-- story-image-side-caption -->
			@@include('./storyforms/divider-image-multi-text.html')
			@@include('./storyforms/story-image-text-display.html') <!-- story-image-text-display -->
			@@include('./storyforms/divider-image-text-display.html')
			@@include('./storyforms/story-text-display.html') <!-- story-text-display -->
			@@include('./storyforms/divider-text-display.html')
			@@include('./storyforms/story-multi-text-display.html') <!-- story-multi-text-display -->
			@@include('./storyforms/divider-multi-text-display.html')
			@@include('./storyforms/story-chart-text.html') <!-- story-chart-text -->
			@@include('./storyforms/divider-chart-text.html')
			@@include('./storyforms/story-chart-multi.html') <!-- story-chart-multi -->
			@@include('./storyforms/divider-chart-multi.html')
			@@include('./storyforms/story-chart.html') <!-- story-chart -->
			@@include('./storyforms/divider-chart.html')
			@@include('./storyforms/story-chart-types.html') <!-- story-charts-types -->
			@@include('./storyforms/divider-chart-types.html')
		</div>
		<!-- story-wrapper -->
	</div>
<!-- main-content -->
