<!-- main-content -->
<div class="container" id="main-content">
	<div class="row">
		<div id="centerColumn" class="col-md-9 col-md-push-3 module">
			<div class="col-sm-12 bg-white col-padding-add">
				<h1>Color Palette</h1>
				<p>Loyola University Chicago</p>
				<ul class="grid-row">
					<li class="grid-square maroon-extra-dark" data-id="Maroon Extra Dark"></li>
					<li class="grid-square maroon-dark" data-id="Maroon Dark"></li>
					<li class="grid-square maroon" data-id="Maroon"></li>
					<li class="grid-square maroon-light"data-id="Maroon Light"></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square gold-extra-dark" data-id="Gold Extra Dark"></li>
					<li class="grid-square gold-dark" data-id="Gold Dark"></li>
					<li class="grid-square gold" data-id="Gold">></li>
					<li class="grid-square gold-light" data-id="Gold Light"></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square gray-extra-dark" data-id="Gray Extra Dark"></li>
					<li class="grid-square gray-dark" data-id="Gray Dark"></li>
					<li class="grid-square gray" data-id="Gray"></li>
					<li class="grid-square gray-light" data-id="Gray Light"></li>
					<li class="grid-square gray-extra-light" data-id="Gray Extra Light"></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square lake-extra-dark" data-id="Lake Extra Dark"></li>
					<li class="grid-square lake-dark" data-id="Lake Dark"></li>
					<li class="grid-square lake" data-id="Lake"></li>
					<li class="grid-square lake-light" data-id="Lake Light"></li>
					<li class="grid-square lake-extra-light" data-id="Lake Extra Light"></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square patina-extra-dark" data-id="Patina Extra Dark"></li>
					<li class="grid-square patina-dark" data-id="Patina Dark"></li>
					<li class="grid-square patina" data-id="Patina"></li>
					<li class="grid-square patina-light" data-id="Patina Light"></li>
					<li class="grid-square patina-extra-light" data-id="Patina Extra Light"></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square terracotta-extra-dark" data-id="Terracotta Extra Dark"></li>
					<li class="grid-square terracotta-dark" data-id="Terracotta Dark"></li>
					<li class="grid-square terracotta" data-id="Terracotta"></li>
					<li class="grid-square terracotta-light" data-id="Terracotta Light"></li>
					<li class="grid-square terracotta-extra-light" data-id="Terracotta Extra Light"></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square taupe-extra-dark" data-id="Taupe Extra Dark"></li>
					<li class="grid-square taupe-dark" data-id="Taupe Dark"></li>
					<li class="grid-square taupe" data-id="Taupe"></li>
					<li class="grid-square taupe-light" data-id="Taupe Light"></li>
					<li class="grid-square taupe-extra-light" data-id="Taupe Extra Light"></li>
				</ul>
				<ul class="grid-row">
					<li class="grid-square-bg bg-overlay-extra-dark"><p class="grid-square-content"><span>Background Overlay Extra Dark</span><span class="hex">rgba(0,0,0,.85)</span></p></li>
					<li class="grid-square-bg bg-overlay-dark"><p class="grid-square-content"><span>Background Overlay Dark</span><span class="hex">rgba(0,0,0,.7)</span></p></li>
					<li class="grid-square-bg bg-overlay"><p class="grid-square-content"><span>Background Overlay</span><span class="hex">rgba(0,0,0,.5)</span></p></li>
					<li class="grid-square-bg bg-overlay-light"><p class="grid-square-content"><span>Background Overlay Light</span><span class="hex">rgba(0,0,0,.35)</span></p></li>
					<li class="grid-square-bg bg-overlay-extra-light"><p class="grid-square-content"><span>Background Overlay Extra Light</span><span class="hex">rgba(0,0,0,.2)</span></p></li>
				</ul>
				</div>
			</div>
			<!-- right column -->
			<!--
			<div id="rightColumn" class="col-md-3 col-md-push-3 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 right_column  - this used to be nav547
					<h1>
						This is the related content module
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum. Nunc elementum fringilla nisi. Cras sapien urna, molestie ullamcorper imperdiet quis, vulputate ut metus.
					</p>
				</div>
			</div>
			-->
			<div id="leftColumn" class="col-md-3 col-md-pull-9 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 left_column  - this used to be nav546-->
					<h1>
						This is the navigation module
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum. Nunc elementum fringilla nisi. Cras sapien urna, molestie ullamcorper imperdiet quis, vulputate ut metus.
					</p>
				</div>
			</div>
		</div>
	</div>
<!-- main-content -->
