<!-- main-content -->
	<div id="main-content" class="container">
		<div id="story-wrapper" class="col-md-12 p-l-0 p-r-0 bg-white">
			@@include('./storyforms/story-carousel-counter.html') <!-- story-carousel-counter -->
			@@include('./storyforms/divider-carousel.html')
			@@include('./storyforms/story-image-caption.html') <!-- story-image-caption -->
			@@include('./storyforms/divider-image-caption.html')
			@@include('./storyforms/story-introduction.html') <!-- story-introduction -->
			@@include('./storyforms/divider-introduction.html')
			@@include('./storyforms/story-text.html') <!-- story-text -->
			@@include('./storyforms/divider-text.html')
			@@include('./storyforms/story-image-side-caption.html') <!-- story-image-side-caption -->
			@@include('./storyforms/divider-image-side-caption.html')
			@@include('./storyforms/story-multi-image-text.html') <!-- story-image-side-caption -->
			@@include('./storyforms/divider-multi-image-text.html')
		</div>
		<!-- story-wrapper -->
	</div>
<!-- main-content -->
