<!-- main-content -->
<!-- Test CSS -->
	<div id="main-wrapper" class="container-fluid canvas-law">
		<div id="content-wrapper" class="p-l-0 p-r-0 bg-white">
			@@include('./canvas-law/canvas-law-image-caption.html') <!-- law-canvas -->
			@@include('./canvas-law/canvas-law-introduction.html') <!-- law-canvas -->
			@@include('./canvas-law/canvas-law-image-multi-text.html') <!-- law-canvas -->
			@@include('./canvas-law/canvas-law-grid.html') <!-- law-canvas -->
			@@include('./canvas-law/canvas-law-multi-text-display.html') <!-- law-canvas -->
			@@include('./canvas-law/canvas-law-image-overlay.html') <!-- law-canvas -->
			@@include('./canvas-law/canvas-law-image-side-caption.html') <!-- law-canvas -->
		</div>
		<!-- story-wrapper -->
	</div>
<!-- main-content -->
