<!-- main-content -->
	<div class="container" id="main-content">
		<div class="row">
			<div id="centerColumn" class="col-md-9 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 center  - this used to be nav548-->

<!-- typography -->

<!-- typography -->
<!-- section START -->
	<section class="section">
		<div class="container" style="width: 100%; padding-left: 0; padding-right: 0;">

<!-- labels -->

					<section class="col-sm-12 p-t-0" style="padding-left: 0; padding-right: 0;">
					<h5 class="label maroon">Organizing labels</h5>
					<div class="spacer-category"></div>
					<h5 class="label black">H5 label</h5>
					<div class="spacer-category"></div>
					<h5 class="label light">H5 label light</h5>
					<div class="spacer-category"></div>
					<h5 class="label display black">H5 label display</h5>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- headlines -->

					<section class="col-sm-12">
					<h5 class="label maroon">Headlines</h5>

					<h1 class="primary display">H1 primary display</h1>
					<p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h1 class="primary-alternate arnhem">H1 primary-alternate </h1>
					<p>Lorem ipsum dolor sit amet, <strong>consectetur adipiscing</strong> elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h2 class="secondary-explainer light">H2 secondary-explainer</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec <em>molestie purus sem guspendisse</em> at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h2 class="secondary-alternate arnhem">H2 secondary-alternate</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec <em>molestie purus sem guspendisse</em> at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h3 class="standalone">H3 standalone</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h4 class="subhead">H4 subhead</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h5 class="label">H5 label</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h6 class="category bold">H6 category bold in it</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h6 class="category light">H6 category light</h6>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat <a href="javascript:void(0);" title="link">vel magna pharetra</a> aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- paragraphs - body -->

					<section class="col-sm-12">
					<h5 class="label maroon">Paragraphs - body</h5>

					<p class="body">This is paragraph body. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas  <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Paragraphs - body - intro</h5>

					<p class="body intro">This is paragraph body intro. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas  <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Paragraphs - body - explode</h5>

					<p class="body explode">This is paragraph body explode. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Paragraphs - body - explainer</h5>

					<p class="body explainer">This is paragraph body explainer. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Paragraphs - body - endnote<br>Includes rule above and spacing</h5>

					<p class="body endnote">This is paragraph body endnote. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- paragraphs-body-alternate -->

					<section class="col-sm-12">
					<h5 class="label maroon">Paragraphs - body - alternate</h5>

					<p class="body alternate">This is paragraph body alternate. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas  <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Paragraphs - body - intro - alternate</h5>

					<p class="body intro alternate">This is paragraph body intro alternate. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas  <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Paragraphs - body - explode - alternate</h5>

					<p class="body explode alternate">This is paragraph body explode alternate. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Paragraphs - body - explainer - alternate</h5>

					<p class="body explainer alternate">This is paragraph body explainer alternate. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Paragraphs - body - endnote - alternate<br>Includes rule above and spacing</h5>

					<p class="body endnote alternate">This is paragraph body endnote alternate. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- dropcaps -->

					<section class="col-sm-12">
					<h5 class="label maroon">Paragraphs - dropcap - body</h5>

					<p class="body"><span class="dropcap">T</span>his is paragraph body dropcap. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas  <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Paragraphs - dropcap - body - intro</h5>

					<p class="body intro"><span class="dropcap">T</span>his is paragraph body intro dropcap. Consectetur <a href="javascript:void(0);" title="link">link here</a> adipiscing elit. Curabitur nec <span class="highlight bg-info">info color</span> posuere odio. Phasellus odio lectus, ultrices non pretium <span class="highlight bg-success">success color</span> ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie <span class="highlight bg-warning">warning color</span> purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas  <span class="highlight bg-danger">danger color</span> tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Paragraphs - dropcap - body - explode</h5>

					<p class="body explode"><span class="dropcap">T</span>his is paragraph body explode dropcap. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies. Phasellus et dui risus. Vestibulum adipiscing, eros quis lobortis dictum.</p>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- Q and A -->

					<section class="col-sm-12">
					<h5 class="label maroon">Q and A</h5>
					<h5 class="label light">Q and A - longform</h5>

					<div class=body-group>
						<p class="body bold">This question is body alternate bold consectetur?</p>
						<p class="body alternate">This answer is paragraph body explainer alternate. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
					</div>
					<div class=body-group>
					<p class="body bold">This question is body alternate bold consectetur?</p>
					<p class="body alternate">This answer is paragraph body explainer alternate. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
					</div>

					<div class="spacer-category"></div>
					<h5 class="label light">Q and A - leadin</h5>

					<div class=body-group>
					<p class="body alternate"><span class="body leadin">This question is body alternate bold consectetur?</span>  •  This answer is paragraph body explainer alternate. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
					</div>

					<div class=body-group>
					<p class="body alternate"><span class="body leadin">This question is body alternate bold consectetur?</span>  •  This answer is paragraph body explainer alternate. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit.</p>
					</div>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- credits -->

					<section class="col-sm-12">
					<h5 class="label maroon">Credits</h5>

					<div class="row">
					<div class="col-sm-12">

					<h5 class="label light">Credits - byline - byline explainer</h5>

							<p class="credit-byline">Credit byline • <span class="credit-byline explainer sentence-case">Byline explainer title herehere (PhD ’09)</span></p>
							<p class="body">This is paragraph body. Consectetur adipiscing elit. Curabitur nec posuere odio. Phasellus odio lectus, ultrices non pretium ac, mollis id elit. Fusce tempor tellus non felis tempus vestibulum. Donec molestie purus sem. Suspendisse at placerat turpis. Duis luctus erat vel magna pharetra aliquet. Maecenas tincidunt feugiat ultricies.</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Credits - tagline</h5>

							<p class="credit-tagline">— Credit tagline</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Credits - personality</h5>

							<div class="personality-wrapper">
								<div class="image-wrapper"><img class="credit-personality-image" src="http://placehold.it/85x110" alt="This is a placeholder image"></div>
								<div class="personality-info">
										<h6 class="credit-personality-title category maroon">Credit personality h5 label maroon</h6>
										<h6 class="credit-personality-name category">Credit personality h5 label</h6>
										<p class="credit-personality explainer">Credit personality explainer</p>
								</div>
							</div>

					</div>
					</div>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- ctas -->

					<section class="col-sm-12">
					<h5 class="label maroon">CTAS</h5>
					<h5 class="label light">CTAS - inline</h5>
						<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Apply now</a></p>
						<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Request Info</a></p>
						<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Visit us</a></p>
						<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Deposit now</a></p>
						<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Register now</a></p>
						<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">RSVP now</a></p>
						<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Learn more</a></p>
						<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Read more</a></p>
						<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. <a href="luc.edu/brandstandards-2016/brandguide/typography" class="cta">Give to Loyola</a></p>

					<div class="spacer-category"></div>
					<h5 class="label light">CTAS - buttons</h5>
					<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Apply now</button></div>
					<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Request info</button></div>
					<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Visit us</button></div>
					<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Register now</button></div>
					<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">RSVP now</button></div>
					<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Learn more</button></div>
					<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Read more</button></div>
					<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Give to Loyola</button></div>
					<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Submit</button></div>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- breakouts -->

					<section class="col-sm-12">
					<h5 class="label maroon">Breakouts</h5>
					<h5 class="label light">Numbers - multiple</h5>
					<div class="row">
					<div class="number col-sm-4">
						<h1 class="display">000</h1>
						<p class="body small">This is text that explains the number. This is text that explains the number.</p>
					</div>
					<div class="number col-sm-4">
						<h1 class="display">00%</h1>
						<p class="body small">This is text that explains the number. This is text that explains the number.</p>
					</div>
					<div class="number col-sm-4 rule-left">
						<h1 class="display">$0.0M</h1>
						<p class="body small">This is text that explains the number. This is text that explains the number.</p>
					</div>
					</div><!-- row - END -->

					<div class="spacer-category"></div>
					<h5 class="label light">Number - single</h5>
						<div class="number display">
							<h1 class="display">$0,000,000</h1>
							<p class="body extra-small">This is text that explains the number. This is text that explains the number.</p>
						</div>

					<div class="spacer-category"></div>
					<h5 class="label light">Blockquotes and pullquotes - bold</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut leo nibh. Aliquam erat volutpat. Fusce porttitor mi et dapibus ornare. Vestibulum et hendrerit lorem, consequat tristique orci. Cras sed porttitor risus, non imperdiet neque. Morbi ultricies lobortis velit, vitae blandit est. Sed leo nulla, faucibus ut ipsum non, volutpat eleifend elit. Sed faucibus euismod nibh sit amet placerat. Aliquam venenatis finibus tincidunt. Aenean lacinia dolor quis nisi porta, et sodales felis tempus.</p>
						<blockquote>
							<p>This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<cite>— Blockquote cite, CEO, <a href="javascript:void(0);" title="Title herehere">Link here</a></cite>
						</blockquote>
						<p>Nulla facilisi. Morbi cursus eleifend elit, vitae convallis nunc molestie vitae. Quisque condimentum porta odio non malesuada. In in diam quis tellus auctor ullamcorper non et massa. Sed lacus mauris, rhoncus et placerat vitae, congue sit amet arcu. Nulla gravida dapibus egestas. Nulla in est hendrerit, imperdiet dolor placerat, hendrerit dui. Pellentesque ullamcorper lorem eget dolor pulvinar interdum eget eget diam. Phasellus aliquam viverra est aliquet consequat. Sed nec lacus a ipsum auctor dapibus quis a sem.</p>

					<div class="spacer-category"></div>
					<h5 class="label light">Blockquotes and pullquotes - light</h5>
						<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse ut leo nibh. Aliquam erat volutpat. Fusce porttitor mi et dapibus ornare. Vestibulum et hendrerit lorem, consequat tristique orci. Cras sed porttitor risus, non imperdiet neque. Morbi ultricies lobortis velit, vitae blandit est. Sed leo nulla, faucibus ut ipsum non, volutpat eleifend elit. Sed faucibus euismod nibh sit amet placerat. Aliquam venenatis finibus tincidunt. Aenean lacinia dolor quis nisi porta, et sodales felis tempus.</p>
						<blockquote>
							<p class="light">This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.</p>
							<cite>— Blockquote cite, CEO, <a href="javascript:void(0);" title="Title herehere">Link here</a></cite>
						</blockquote>
						<p>Nulla facilisi. Morbi cursus eleifend elit, vitae convallis nunc molestie vitae. Quisque condimentum porta odio non malesuada. In in diam quis tellus auctor ullamcorper non et massa. Sed lacus mauris, rhoncus et placerat vitae, congue sit amet arcu. Nulla gravida dapibus egestas. Nulla in est hendrerit, imperdiet dolor placerat, hendrerit dui. Pellentesque ullamcorper lorem eget dolor pulvinar interdum eget eget diam. Phasellus aliquam viverra est aliquet consequat. Sed nec lacus a ipsum auctor dapibus quis a sem.</p>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- images -->

					<section class="col-sm-12">
					<h5 class="label maroon">Images</h5>

					<div class="image">
						<img  src="http://placehold.it/1000x560" alt="This is a placeholder image">
						<p class="credit">Byline Name Herehere</p>
						<p class="caption">This is a caption for this image lorem ipsum unum hereum.</p>
					</div>

					<div class="spacer-category"></div>
					<h5 class="label light">Image - standalone</h5>

					<div class="image">
						<img  src="http://placehold.it/1000x560" alt="This is a placeholder image">
						<p class="credit">Byline Name Herehere</p>
						<h3 class="standalone">h3 standalone headline</h3>
						<p class="caption">This is a caption for this image lorem ipsum unum hereum. This is a caption for this image lorem ipsum unum hereum. This is a caption for this image lorem ipsum unum hereum.</p>
					</div>

					<div class="spacer-category"></div>
					<h5 class="label light">Image - standalone - breakout</h5>

					<div class="image boxed">
						<img  src="http://placehold.it/1000x560" alt="This is a placeholder image">
						<p class="credit">Byline Name Herehere</p>
						<h5 class="label display">h5 standalone headline</h5>
						<p class="caption">This is a caption for this image lorem ipsum unum hereum. This is a caption for this image lorem ipsum unum hereum. This is a caption for this image lorem ipsum unum hereum.</p>
					</div>

					<div class="spacer-category"></div>
					<h5 class="label light">Image - package - gallery</h5>

					<div class="image boxed-dark-gallery">
						<img  src="http://placehold.it/1000x560" alt="This is a placeholder image">
						<p class="credit reverse">Byline Name Herehere</p>
						<h1 class="display reverse">h1 display gallery headline</h1>
						<p class="body intro reverse">This is a caption for this image lorem ipsum unum hereum. This is a caption for this image lorem ipsum unum hereum. This is a caption for this image lorem ipsum unum hereum.</p>
					</div>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>


<!-- infobox -->

					<section class="col-sm-12">
					<h5 class="label maroon">Utility Info</h5>

					<div class="utility">
						<h6 class="category">Namehere Namehere, <span class="light">MBA, ’00</span></h6>
						<p class="body explainer">0000 Streetname Here</p>
						<p class="body explainer">000.000.0000</p>
						<p class="body bold">luc.edu/url</p>
					</div>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- infobox -->

					<section class="col-sm-12">
					<h5 class="label maroon">Info Boxes</h5>

					<div class="infobox">
						<h5 class="label">Meet the provost: Margaret Callahan</h5>
						<p class="body explainer">Lorem ipsum unum hereum lorem hereum ipsum apsi lettuce.</p>
						<h6 class="category">Professional</h6>
						<h6 class="category light">Education</h6>
							<ul>
								<li>BSN, Loyola University Chicago</li>
								<li>BSN, Loyola University Chicago</li>
								<li>BSN, Loyola University Chicago</li>
							</ul>
						<p class="tagline extra-small light">—Tagline</p>
					</div>

					<div class="spacer-category"></div>
					<h5 class="label light">Info boxes - boxed</h5>

					<div class="infobox boxed">
						<h5 class="label">Meet the provost: Margaret Callahan</h5>
						<p class="body explainer">Lorem ipsum unum hereum lorem hereum ipsum apsi lettuce.</p>
						<h6 class="category">Professional</h6>
						<h6 class="category light">Education</h6>
							<ul>
								<li>BSN, Loyola University Chicago</li>
								<li>BSN, Loyola University Chicago</li>
								<li>BSN, Loyola University Chicago</li>
							</ul>
						<p class="tagline extra-small light">—Tagline</p>
					</div>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- list styles -->

					<section class="col-sm-12">
					<h5 class="label maroon">Lists</h5>

					<div class="row">

						<div class="col-sm-12">
						<h5 class="label light">Lists - unordered</h5>
							<ul>
								<li>Lorem Ipsum simply typesetting industry.</li>
								<li>Cras aliquet venenatis sapien fringilla.</li>
								<li>Duis luctus erat vel pharetra aliquet.
									<ul>
										<li>Estnon commodo luctus odio elit.</li>
										<li>Quisque tristique ipsum convallis.</li>
									</ul>
								</li>
								<li>Ovel dolorem fugiat nulla pariatur.</li>
								<li>Numquam eius tempora aliquam quaerat.</li>
							</ul>
						</div>

						<div class="col-sm-12">
						<h5 class="label light" style="margin-top: 40px;">Lists - ordered</h5>
							<ol>
								<li>Lorem Ipsum simply typesetting industry.</li>
								<li>Cras aliquet venenatis sapien fringilla.</li>
								<li>Duis luctus erat vel pharetra aliquet.</li>
								<li>Estnon commodo luctus lacinia odio elit.</li>
								<li>Quisque tristique ipsum accumsan convallis.</li>
								<li>Ovel dolorem fugiat nulla pariatur.</li>
								<li>Numquam eius tempora aliquam quaerat.</li>
							</ol>
						</div>

						<div class="col-sm-12">
						<h5 class="label light" style="margin-top: 40px;">Lists - definition</h5>
							<dl>
								<dt>Lorem Ipsum</dt>
									<dd>Cras aliquet sapien.</dd>
								<dt>Duis luctus pharetra</dt>
									<dd>Estnon commodo luctus.</dd>
								<dt>Quisque tristique</dt>
									<dd>Ovel dolorem pariatur.</dd>
								<dt>Eius tempora</dt>
									<dd>Numquam eius tempora.</dd>
							</dl>
						</div>

						<div class="col-sm-12">
						<h5 class="label light" style="margin-top: 40px;">Lists - breakout</h5>

							<div class="">
								<h3 class="standalone uppercase black">Breakout list h3 standalone headline</h3>
								<h6 class="category bold maroon">Breakout list category</h6>
								<h6 class="category small bold maroon">Breakout list category</h6>
								<p class="body explainer">Body explainer unum hereum lorem hereum ipsum apsi lorem.</p>
								<h6 class="category light">h6 category light</h6>
								<h6 class="category bold">h6 category bold</h6>
								<p class="body"><span class="italic">Span italic 11 a.m.-3 p.m., $45<span class="bullet">•</span></span>Lorem ipsum unum hereum lorem hereum ipsum apsi lettuce.</p>
								<h6 class="category bold">h6 category bold</h6>
								<p class="body"><span class="italic">Span italic 11 a.m.-3 p.m., $45<span class="bullet">•</span></span>Lorem ipsum unum hereum lorem hereum ipsum apsi lettuce.</p>
							</div>
						</div>

						<div class="col-sm-12">
						<h5 class="label light" style="margin-top: 40px;">Lists - breakout - boxed</h5>

							<div class="boxed">
								<h3 class="standalone uppercase black">Breakout list h3 standalone headline</h3>
								<h6 class="category bold maroon">Breakout list category</h6>
								<h6 class="category small bold maroon">Breakout list category</h6>
								<p class="body explainer">Body explainer unum hereum lorem hereum ipsum apsi lorem.</p>
								<h6 class="category light">h6 category light</h6>
								<h6 class="category bold">h6 category bold</h6>
								<p class="body"><span class="italic">Span italic 11 a.m.-3 p.m., $45<span class="bullet">•</span></span>Lorem ipsum unum hereum lorem hereum ipsum apsi lettuce.</p>
								<h6 class="category bold">h6 category bold</h6>
								<p class="body"><span class="italic">Span italic 11 a.m.-3 p.m., $45<span class="bullet">•</span></span>Lorem ipsum unum hereum lorem hereum ipsum apsi lettuce.</p>
							</div>
						</div>

					</div><!-- row END -->
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- calendars -->

					<section class="col-sm-12">
					<h5 class="label maroon">Calendars</h5>

					<div class="calendar">
						<div class="calendar-event">
							<h5 class="label">January</h5>
							<h6 class="category">Men’s basketball game Alumni Reception</h6>
							<div class="calendar-event-info">
								<div class="calendar-box">
									<p class="calendar-date black">10.23</p>
									<p class="calendar-day light">SAT</p>
								</div>
								<p class="explainer">11 a.m., reception; 1p.m., tip-off; Damen Student Center</p>
							</div>
							<p class="body">Nulla facilisi. Morbi cursus eleifend elit, vitae convallis nunc molestie vitae. Quisque condimentum porta odio non malesuada. In in diam quis tellus auctor ullamcorper non et massa. Sed lacus mauris, rhoncus et placerat vitae.</p>
						</div>
					</div>
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- accordion -->

<section class="col-sm-12">
<h5 class="label maroon">Accordion</h5>


<div class="container-fluid p-0">
<div id="story-accordion" class="container" style="width: 100%;">
 <div class="col-md-12 p-0">
	 <div id="accordion" class="m-t-15">
		 <h4 class="accordion">Headline accordion one anim pariatur cliche</h4>
		 <div class="panel">
			 <div class="container-fluid p-0">
			 <div id="story-accordion" class="container" style="width: 100%;">
				 <div class="col-md-12">
					 <div id="accordion-nested" class="m-t-15">
						 <h4 class="accordion-nested">Headline accordion one anim pariatur cliche</h4>
						 <div class="panel-nested">
							 <p class="body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
							 </p>
						 </div>
						 <h4 class="accordion-nested">Headline accordion two anim pariatur cliche</h4>
						 <div class="panel-nested">
							 <p class="body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
						 </div>
						 <h4 class="accordion-nested">Headline accordion three anim pariatur cliche</h4>
						 <div class="panel-nested">
							 <p class="body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
						 </div>
					 </div>
				 </div>
			 </div>
			 </div>

			 </p>
		 </div>
		 <h4 class="accordion">Headline accordion two anim pariatur cliche</h4>
		 <div class="panel">
			 <p class="body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
		 </div>
		 <h4 class="accordion">Headline accordion three anim pariatur cliche</h4>
		 <div class="panel">
			 <p class="body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
		 </div>
	 </div>
 </div>
</div>
</div>

<!-- tabs -->

					<section class="col-sm-12">
					<h5 class="label maroon">Tabs</h5>

					<div id="content-tabs" id="content-specific-tabs">
						<div id="content">
    					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        				<li class="active category"><a href="#highlight-1" data-toggle="tab"><span></span>Tab 1</a></li>
        				<li class="category"><a href="#highlight-2" data-toggle="tab"><span></span>Tab 2</a></li>
        				<li class="category"><a href="#highlight-3" data-toggle="tab"><span></span>Tab 3</a></li>
    					</ul>
							<div id="my-tab-content" class="tab-content">
							<div class="tab-pane fade active in" id="highlight-1">
								<h1 class="primary">Tab headline h1 primary</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.</p>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-2">
								<h1 class="primary">Tab headline h1 primary</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.</p>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-3">
								<h1 class="primary">Tab headline h1 primary</h1>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.</p>
							</div><!-- tab-pane - highlight-1 END -->
							</div><!-- my-tab-content END -->
						</div><!-- content END -->
					</div><!-- content-tabs END -->
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- forms -->

					<section class="col-sm-12">
					<h5 class="label maroon">Forms</h5>

					<div class="form-module col-sm-12 padding-left-right-0">
						<h5>Registration</h5>
						<h1>Form headline herehere</h1>
						<p class="body explainer">Lorem ipsum unum hereum lorem hereum ipsum apsi lettuce. Lorem ipsum unum hereum lorem hereum ipsum apsi lettuce. Lorem ipsum unum hereum lorem hereum ipsum apsi lettuce.</p>
							<div class="form-sub-group col-sm-12 padding-left-right-0">
								<h6 class="category-bold">Participant</h6>
								<p class="body explainer">Lorem ipsum unum hereum lorem hereum ipsum apsi lettuce.</p>
							</div><!-- sub-group END -->
							<form>
								<div class="form-group col-sm-6">
									<input type="text" class="form-control" id="exampleInputFirstName" placeholder="First name">
									<label for="exampleInputFirstName">First name</label>
								</div>
								<div class="form-group col-sm-6">
									<input type="text" class="form-control" id="exampleInputLastName" placeholder="Last name">
									<label for="exampleInputLastName">Last name</label>
								</div>
								<div class="form-group col-sm-9">
									<input type="text" class="form-control" id="exampleInputEmail" placeholder="Email address">
									<label for="exampleInputEmail">Email address</label>
								</div>
								<div class="form-group col-sm-3">
									<input type="text" class="form-control" id="exampleInputDegreeYear" placeholder="Degree year">
									<label for="exampleInputDegreeYear">Degree Year</label>
								</div>
								<div class="form-group col-sm-12">
									<input type="text" class="form-control" id="exampleInputAddress" placeholder="Address">
									<label for="exampleInputAddress">Address</label>
									<span id="helpBlock" class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
								</div>
								<div class="form-group col-sm-6">
									<input type="text" class="form-control" id="exampleInputCity" placeholder="City">
									<label for="exampleInputCity">City</label>
								</div>
								<div class="form-group col-sm-3">
									<input type="text" class="form-control" id="exampleInputState" placeholder="State">
									<label for="exampleInputState">State</label>
								</div>
								<div class="form-group col-sm-3">
									<input type="text" class="form-control" id="exampleInputZip" placeholder="Zip">
									<label for="exampleInputZip">Zip</label>
								</div>
								<div class="form-group col-sm-6">
									<input type="text" class="form-control" id="exampleInputDayPhone" placeholder="Daytime phone">
									<label for="exampleInputDayPhone">Daytime phone</label>
								</div>
								<div class="form-group col-sm-6">
									<input type="text" class="form-control" id="exampleInputEveningPhone" placeholder="Evening phone">
									<label for="exampleInputEveningPhone">Evening phone</label>
								</div>
								<div class="form-group col-sm-12">
									<input class="form-control" id="disabledInput" type="text" placeholder="Disabled" disabled>
									<label for="exampleInputDisabled">disabled</label>
								</div>
								<div class="form-group has-error col-sm-6">
  								<input type="text" id="inputError1" class="form-control" placeholder="Label here">
  								<label class="control-label" for="inputError1">Input with error</label>
								</div>
								<div class="form-group has-warning col-sm-6">
									<input type="text" id="inputWarning1" class="form-control" placeholder="Label here">
									<label class="control-label" for="inputWarning1">Input with warning</label>
								</div>
								<div class="col-sm-12">
								    <input type="file" id="exampleInputFile" class="col-sm-12">
									<label for="exampleInputFile">Upload file here</label>
								</div>
								<div class="form-sub-group col-sm-12 padding-left-right-0">
									<div class="form-group">
										<h6 class="category-bold">Payment</h6>
										<p class="body explainer">Explainer text here here here.</p>
									</div>
									<div class="form-group">
												<div class="checkbox">
  												<label>
  													<input type="checkbox" value=""><span>Option one is ipsum dolor sit amet, consectetur adipiscing elit.</span>
  												</label>
												</div>
												<div class="checkbox disabled">
  												<label>
    												<input type="checkbox" value="" disabled><span>Option two is disabled consectetur adipiscing elit.</span>
    											</label>
												</div>
									</div>
									<div class="form-group col-sm-12">
												<div class="checkbox-inline">
													<label><input type="checkbox"><span>By check (Payable to Loyola University Chicago)</span></label>
												</div>
												<div class="checkbox-inline">
													<label><input type="checkbox"><span>By credit card</span></label>
												</div>
												<div class="col-sm-12">
													<div class="checkbox-inline">
														<label><input type="checkbox"><span>Amex</span></label>
													</div>
													<div class="checkbox-inline">
														<label><input type="checkbox"><span>Discover</span></label>
													</div>
													<div class="checkbox-inline">
														<label><input type="checkbox"><span>Mastercard</span></label>
													</div>
													<div class="checkbox-inline">
														<label><input type="checkbox"><span>Visa</span></label>
													</div>
													<div class="checkbox-inline disabled">
														<label><input type="checkbox" value="" disabled><span>Disabled</span></label>
													</div>
												</div>
									</div>
									<div class="form-group col-sm-9">
								    	<input type="text" class="form-control" id="exampleInputCardNumber" placeholder="Card number">
										<label for="exampleInputCardNumber">Card number</label>
									</div>
									<div class="form-group col-sm-3">
								    	<input type="text" class="form-control" id="exampleInputCardDate" placeholder="Expiration date">
										<label for="exampleInputCardDate">Exp. date</label>
									</div>
									<div class="form-group col-sm-12">
								    	<input type="text" class="form-control" id="exampleInputCardName" placeholder="Name on card">
										<label for="exampleInputCardName">Name as it appears on card</label>
									</div>
									<div class="form-group col-sm-6">
								    	<input type="text" class="form-control" id="exampleInputCardDayPhone" placeholder="Daytime phone">
										<label for="exampleInputCardDayPhone">Daytime phone</label>
									</div>
									<div class="form-group col-sm-6">
								    	<input type="text" class="form-control" id="exampleInputCardEveningPhone" placeholder="Evening phone">
										<label for="exampleInputCardEveningPhone">Evening phone</label>
									</div>
									<div class="form-group col-sm-12">
											<textarea class="form-control"></textarea>
										<label for="exampleInputCardTextArea">Text area input</label>
									</div>
								</div><!-- sub-group END -->

								<div id="select-custom" class="form-group col-sm-12">
               			<div class="btn-group">
                 			<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                   			<span data-bind="label">Select One</span>&nbsp;<span class="select-arrow"></span>
                 			</button>
                 			<ul class="dropdown-menu" role="menu">
                   			<li><a href="#">This is custom item number one</a></li>
                   			<li><a href="#">This is custom item number two</a></li>
                   			<li><a href="#">This is custom item number three</a></li>
                 			</ul>
               			</div>
      					</div><!-- form-group END -->


								<div class="form-sub-group col-sm-12">
										<button type="submit" class="btn cta">Submit</button>
								</div><!-- sub-group END -->
							</form>
					</div><!-- form-module END -->
					</section><!-- col-sm-12 END - WRAPPER! -->

					<section class="col-sm-12">
					<div class="spacer-section"></div>
					</section>

<!-- table -->

					<section class="col-sm-12">
					<h5 class="label maroon">Tables</h5>

					<h5>Faculty Staff Directory</h5>
						<table id="responsive-table" class="stacktable">
							<thead>
								<tr>
          				<th>Name</th>
          				<th>Title</th>
          				<th>Department</th>
          				<th>Phone</th>
          				<th>Building</th>
          				<th>Room</th>
          				<th>Campus</th>
        				</tr>
      				</thead>
      				<tbody>
								<tr>
            			<td><a href="luc.edu/brandstandards-2016/brandguide/typography">Barnes , Bobby J</a></td>
									<td>Instructor</td>
            			<td>Quinlan School of Business-Economics</td>
            			<td>1 (312) 915-6117</td>
            			<td>Maguire Hall</td>
            			<td>561A</td>
            			<td>Water Tower Campus</td>
          			</tr>
								<tr>
            			<td><a href="luc.edu/brandstandards-2016/brandguide/typography">Kraft , Bob</a></td>
            			<td>Senior Web Analyst</td>
            			<td>Information Services</td>
            			<td>1 (773) 508-2931</td>
            			<td>Granada Center</td>
            			<td>218</td>
            			<td>Lake Shore Campus</td>
          			</tr>
							</tbody>
						</table>
						<p class="infobox boxed"> Information obtained from this Phonebook is confidential and may not be used to provide addresses for mailings to employees of Loyola University Chicago. Any solicitation of business, information, contributions or other response from individuals listed in this publication by mail, telephone or other means is forbidden. Improper use is a violation of University policy and could result in discipline action, including termination. This Electronic Phonebook is provided for information to the University community and those who have specific interest in reaching   individual employees or establishing their identity as employees of Loyola University Chicago.</p>
						<div class="table-sub-group">
								<button type="submit" class="btn cta">Go to top</button>
								<button type="submit" class="btn cta">Perform another search</button>
						</div><!-- sub-group END -->
					</section><!-- col-sm-12 END - WRAPPER! -->
<!-- NOT NEEDED FOR T4
					<section class="col-sm-12">
					<div class="spacer-section-no-rule" style="float: left;"></div>
					</div>
-->
		</div><!-- container END -->
	</section><!-- section END -->

<!-- SCRIPT -->
<!--Javascript file stacktable.js -->
<script type="text/javascript" src="js/stacktable.js"></script>

<script>
  $(document).ready(function(e) {
  	$('#responsive-table').stacktable({myClass:'table'});
  	$('#card-table').cardtable();
  	$('#agenda-example').stackcolumns();
  });
</script>

<!-- typography -->

				</div>
			</div>
			<div id="rightColumn" class="col-md-3 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 right_column  - this used to be nav547-->

				</div>
			</div>
		</div>
	</div>
<!-- main-content -->
