<!-- main-content -->
	<div id="main-content" class="container">
		<div id="story-wrapper" class="col-md-12 p-l-0 p-r-0 bg-white">
			@@include('./storyforms/story-carousel-counter.html') <!-- story-carousel-counter -->
			@@include('./storyforms/story-divider-carousel.html')
			@@include('./storyforms/story-image-caption.html') <!-- story-image-caption -->
			@@include('./storyforms/story-divider-image-caption.html')
			@@include('./storyforms/story-introduction.html') <!-- story-image-caption -->
			@@include('./storyforms/story-divider-introduction.html')
		</div>
		<!-- story-wrapper -->
	</div>
<!-- main-content -->
