<!-- main-content -->
	<div id="main-content" class="container">
		<div id="law-programs" class="col-md-12 p-r-0 p-l-0 bg-white container-fluid">
			@@include('./law-programs/law-programs-open.html')
			@@include('./law-programs/law-programs-overview.html')
			<!---@@include('./law-programs/law-programs-objectives.html')-->
			@@include('./law-programs/law-programs-numbers.html')
			@@include('./law-programs/law-programs-curriculum.html')
			@@include('./law-programs/law-programs-admission.html')
			@@include('./law-programs/law-programs-alumni.html')
			@@include('./law-programs/law-programs-tuition.html')
			@@include('./law-programs/law-programs-faqs.html')
			@@include('./law-programs/law-programs-nav.html')
		</div>
		<!-- story-wrapper -->
	</div>
<!-- main-content -->
