<!-- main-content -->
	<div class="container canvas-base" id="main-content">
		<div class="container-fluid fullbleed">
		<div class="row">
			@@include('./b3-canvas/canvas-1-col-accordion.html')
			@@include('./b3-canvas/canvas-2-col-img-accordion.html')
			@@include('./b3-canvas/canvas-2-col-img-text.html') <!-- divider -->
			@@include('./b3-canvas/canvas-2-col-imgs.html')
			@@include('./b3-canvas/canvas-2-col.html') <!-- divider -->
			@@include('./b3-canvas/canvas-3-col-imgs.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->
			@@include('./b3-canvas/canvas-2-col-imgs.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->
			@@include('./b3-canvas/canvas-3-col-imgs.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->
			@@include('./b3-canvas/canvas-4-col-imgs.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->
			@@include('./b3-canvas/canvas-3-col-numbers.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->
			@@include('./b3-canvas/canvas-4-col-numbers.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->
			@@include('./b3-canvas/canvas-combo-col-numbers.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->
			@@include('./b3-canvas/canvas-buttons.html')
			@@include('./b3-canvas/canvas-divider.html') <!-- divider -->
			@@include('./b3-canvas/canvas-2-col-img-accordion.html')
		</div>
	</div>
</div>
<!-- main-content -->
