<!-- JUMBOTRON -->
	<nav class="container-fluid bg-overlay-dark homenav" id="nav-box">
		<div class="container">
			<div class="row">
				<div id="subsite-nav" class="navbar">
					<div class="navbar">
						<a class="btn btn-navbar left smoothscroll" href="#footer"> <i class="glyphicon glyphicon-search"></i> </a> <a class="btn btn-navbar smoothscroll" data-toggle="collapse" data-target=".navbar-collapse" href="#footer"> <i class="glyphicon glyphicon-menu-hamburger"></i> </a> 
						<div class="collapse navbar-collapse" id="navbar-main">
							<ul id="nav" class="nav navbar-nav" role="navigation">
<!-- navigation object : University Menu -->
								<li><a href="/about_loyola.shtml">About</a> 
								<ul class="multilevel-linkul-0">
									<li><a href="/president/index.shtml">Office of the President</a></li>
									<li><a href="/ataglance/">At a Glance</a></li>
									<li><a href="http://www.luc.edu/mission/index.shtml">Jesuit Catholic Identity</a></li>
									<li><a href="/visit.shtml">Visit Campus</a></li>
									<li><a href="/about/chicago.shtml">Loyola and Chicago</a></li>
									<li><a href="/boardoftrustees/">Board of Trustees</a></li>
									<li><a href="/president/governance/presidentscabinet/">President's Cabinet</a></li>
									<li><a href="http://www.luc.edu/regents/index.shtml">Council of Regents</a></li>
									<li><a href="/accreditation/index.shtml">Accreditation</a></li>
								</ul>
								</li>
								<li><a href="/academicsresearch.shtml">Academics</a> 
								<ul class="multilevel-linkul-0">
									<li><a href="http://luc.edu/academicaffairs/">Academic Affairs</a></li>
									<li><a href="/academics/schools.shtml">Colleges and Schools</a></li>
									<li><a href="/academics/depts.shtml">Departments</a></li>
									<li><a href="/academics/programs.shtml">Programs</a></li>
									<li><a href="http://www.luc.edu/online/index.shtml">Online Learning</a></li>
									<li><a href="/academics/schedules/index.shtml">Calendars and Schedules</a></li>
									<li><a href="http://www.luc.edu/ors/index.shtml">Research</a></li>
									<li><a href="http://www.luc.edu/studyabroad/index.shtml">Study Abroad Programs</a></li>
									<li><a href="http://www.luc.edu/academics/catalog/undergrad/index.shtml">Undergraduate Catalog</a></li>
									<li><a href="http://www.luc.edu/health-sciences-division/index.shtml">Health Sciences Division</a></li>
								</ul>
								</li>
								<li><a href="/admission.shtml">Admission</a> 
								<ul class="multilevel-linkul-0">
									<li><a href="http://www.luc.edu/undergrad/">Undergraduate Admission</a></li>
									<li><a href="/gpem/index.html">Grad/Professional Admission</a></li>
									<li><a href="http://www.luc.edu/adult-education/index.shtml">Adult Education</a></li>
									<li><a href="http://www.luc.edu/quinlan/executive-education/index.shtml">Executive Education</a></li>
									<li><a href="http://www.luc.edu/internationaladmission/index.shtml">International Admission</a></li>
									<li><a href="http://www.luc.edu/bursar/tuition.shtml">Tuition and Fees</a></li>
									<li><a href="http://www.luc.edu/finaid/index.shtml">Financial Aid</a></li>
									<li><a href="http://www.luc.edu/studyabroad/">Study Abroad</a></li>
									<li><a href="/januaryterm/index.shtml">J-Term</a></li>
									<li><a href="http://www.luc.edu/summer/">Summer Sessions</a></li>
								</ul>
								</li>
								<li><a href="/alumni/">Alumni</a> 
								<ul class="multilevel-linkul-0">
									<li><a href="http://alumni.luc.edu/s/1548/alumni/index.aspx?sid=1548&gid=2&pgid=804">News</a></li>
									<li><a href="http://alumni.luc.edu/s/1548/alumni/social.aspx?sid=1548&gid=2&pgid=401">Events</a></li>
									<li><a href="http://www.alumni.luc.edu/s/1548/alumni/index.aspx?sid=1548&gid=2&pgid=403">Career Services</a></li>
									<li><a href="http://www.alumni.luc.edu/s/1548/alumni/index.aspx?sid=1548&gid=2&pgid=402">Clubs and Groups</a></li>
									<li><a href="http://alumni.luc.edu/s/1548/alumni/index.aspx?sid=1548&gid=2&pgid=404">Alumni Services</a></li>
									<li><a href="http://alumni.luc.edu/s/1548/alumni/index.aspx?sid=1548&gid=2&pgid=405">Get Involved</a></li>
									<li><a href="http://luc.edu/giving/">Giving to Loyola</a></li>
								</ul>
								</li>
								<li><a href="/campus_community.shtml">Campus Life</a> 
								<ul class="multilevel-linkul-0">
									<li><a href="http://www.loyolaramblers.com/">Athletics</a></li>
									<li><a href="http://www.luc.edu/reslife/index.shtml">Residence Life</a></li>
									<li><a href="http://www.luc.edu/studentdevelopment/index.shtml">Student Development</a></li>
									<li><a href="http://www.luc.edu/saga/">Student Life</a></li>
									<li><a href="http://www.luc.edu/dos/">Dean of Students</a></li>
									<li><a href="/ramblerbuzz/">Rambler Buzz</a></li>
									<li><a href="http://www.luc.edu/campusministry/index.shtml">Campus Ministry</a></li>
									<li><a href="http://www.luc.edu/diversity/">Student Diversity</a></li>
									<li><a href="/about/chicago.shtml">Loyola &amp; Chicago</a></li>
									<li><a href="/luma/index.shtml">Museum of Art</a></li>
									<li><a href="/visit/">Visit</a></li>
									<li><a href="/safety/index.html">Campus Safety</a></li>
								</ul>
								</li>
								<li><a href="/services_resources.shtml">Resources</a> 
								<ul class="multilevel-linkul-0">
									<li><a href="http://locus.luc.edu">LOCUS</a></li>
									<li><a href="http://www.luc.edu/bursar/index.shtml">Bursar and Business Office</a></li>
									<li><a href="/students/careers/index.shtml">Career Centers</a></li>
									<li><a href="http://www.luc.edu/hr/index.shtml">Human Resources</a></li>
									<li><a href="http://www.luc.edu/its/">Information Technology Services</a></li>
									<li><a href="http://www.luc.edu/ic/">Klarchek Information Commons</a></li>
									<li><a href="http://www.luc.edu/onestop/index.shtml">Student Academic Services</a></li>
									<li><a href="http://www.luc.edu/regrec/index.shtml">Registration and Records</a></li>
									<li><a href="http://libraries.luc.edu/">University Libraries</a></li>
									<li><a href="http://www.luc.edu/alumni">Alumni Relations</a></li>
									<li><a href="http://www.luc.edu/news">University Newsroom</a></li>
									<li><a href="http://www.luc.edu/archives/index.shtml">University Archives</a></li>
								</ul>
								</li>
							</ul>
<!-- #nav -->
						</div>
<!-- #navbar-main -->
					</div>
<!-- navbar -->
				</div>
			</div>
<!-- subsite-nav -->
		</div>
<!-- container -->
	</nav>
<!-- nav-box -->
	<nav class="container-fluid bg-smoke navbar-fixed-top subnave" id="nav-box">
		<div class="container">
			<div class="row">
				<div id="subsite-nav" class="navbar navbar-inverse">
					<div class="navbar">
						<a class="btn btn-navbar smoothscroll" id="search-button-position" href="#footer"> <i class="glyphicon glyphicon-search"></i> </a> <a class="btn btn-navbar smoothscroll" data-target=".nav-collapse" href="#footer"> <i class="glyphicon glyphicon-menu-hamburger"></i> </a> 
						<div class="collapse navbar-collapse" id="navbar-main">
							<ul id="nav" class="nav navbar-nav" role="navigation">
<!-- navigation object : Site Menu -->
								<ul id="main-nav" class="topmenugroup">
									<li><a href="/patternlibrary/interior/">Interior</a></li>
									<li><a href="/patternlibrary/modules/">Modules</a></li>
									<li><a href="/patternlibrary/canvasnew/">Canvas NEW</a></li>
									<li><a href="/patternlibrary/umcpattern/">UMC Pattern</a></li>
									<li><a href="/patternlibrary/colorpalette/">Color Palette</a></li>
								</ul>
							</ul>
						</div>
<!-- .nav-collapse -->
					</div>
<!-- navbar -->
				</div>
<!-- subsite-nav -->
			</div>
		</div>
<!-- container -->
	</nav>
<!-- fullbleed -->
<!-- END HEADER -->

</div>
</div>
