<!-- main-content -->
	<div class="container" id="main-content">
		<div class="row">
			<div id="centerColumn" class="col-md-6 col-md-push-3 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 center  - this used to be nav548-->
						<table id="responsive-table" class="stacktable">
							<thead>
								<tr>
          				<th>Name</th>
          				<th>Title</th>
          				<th>Department</th>
          				<th>Phone</th>
          				<th>Building</th>
          				<th>Room</th>
          				<th>Campus</th>
        				</tr>
      				</thead>
      				<tbody>
								<tr>
            			<td><a href="http://www.luc.edu/umc/brandstandards/graphicidentity/typography/">Barnes , Bobby J</a></td>
									<td>Instructor</td>
            			<td>Quinlan School of Business-Economics</td>
            			<td>1 (312) 915-6117</td>
            			<td>Maguire Hall</td>
            			<td>561A</td>
            			<td>Water Tower Campus</td>
          			</tr>
								<tr>
            			<td><a href="http://www.luc.edu/umc/brandstandards/graphicidentity/typography/">Kraft , Bob</a></td>
            			<td>Senior Web Analyst</td>
            			<td>Information Services</td>
            			<td>1 (773) 508-2931</td>
            			<td>Granada Center</td>
            			<td>218</td>
            			<td>Lake Shore Campus</td>
          			</tr>
							</tbody>
						</table>
						
<script>
  $(document).ready(function(e) {
  	$('#responsive-table').stacktable({myClass:'table'});
  	$('#card-table').cardtable();
  	$('#agenda-example').stackcolumns();
  });
</script>
						
				</div>
			</div>
			<div id="rightColumn" class="col-md-3 col-md-push-3 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 right_column  - this used to be nav547-->
					<h1>
						This is hello the main content of the page
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum. Nunc elementum fringilla nisi. Cras sapien urna, molestie ullamcorper imperdiet quis, vulputate ut metus. 
					</p>
				</div>
			</div>
			<div id="leftColumn" class="col-md-3 col-md-pull-9 module">
				<div class="col-sm-12 bg-white col-padding-add">
<!-- navigation object: Get B3 left_column  - this used to be nav546-->
					<h1>
						This is the navigation module
					</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum. Nunc elementum fringilla nisi. Cras sapien urna, molestie ullamcorper imperdiet quis, vulputate ut metus. 
					</p>
				</div>
			</div>
		</div>
	</div>
<!-- main-content -->