/*
http://www.webtype.com
*/

@font-face {
  font-family: "Arnhem Blond";
  src: url("../fonts/arnhem_blond/ArnhemPro-Blond.eot") format("embedded-opentype"),
       url("../fonts/arnhem_blond/ArnhemPro-Blond.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Blond Italic";
  src: url("../fonts/arnhem_blond_italic/ArnhemPro-BlondItalic.eot") format("embedded-opentype"),
       url("../fonts/arnhem_blond_italic/ArnhemPro-BlondItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Bold";
  src: url("../fonts/arnhem_bold/ArnhemPro-Bold.eot") format("embedded-opentype"),
       url("../fonts/arnhem_bold/ArnhemPro-Bold.woff") format("woff");
	font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Bold Italic";
  src: url("../fonts/arnhem_bold_italic/ArnhemPro-BoldItalic.eot") format("embedded-opentype"),
       url("../fonts/arnhem_bold_italic/ArnhemPro-BoldItalic.woff") format("woff");
	font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Black";
  src: url("../fonts/arnhem_black/ArnhemPro-BoldItalic.eot") format("embedded-opentype"),
       url("../fonts/arnhem_black/ArnhemPro-BoldItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Black Italic";
  src: url("../fonts/arnhem_black_italic/ArnhemPro-BlackItalic.eot") format("embedded-opentype"),
       url("../fonts/arnhem_black_italic/ArnhemPro-BlackItalic.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine";
  src: url("../fonts/arnhem_fine/ArnhemFinePro-Normal.eot") format("embedded-opentype"),
       url("../fonts/arnhem_fine/ArnhemFinePro-Normal.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Italic";
  src: url("../fonts/arnhem_fine_italic/ArnhemFinePro-NormalItalic.eot") format("embedded-opentype"),
       url("../fonts/arnhem_fine_italic/ArnhemFinePro-NormalItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Medium";
  src: url("../fonts/arnhem_fine_medium/ArnhemFinePro-Medium.eot") format("embedded-opentype"),
			 url("../fonts/arnhem_fine_medium/ArnhemFinePro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Medium Italic";
  src: url("../fonts/arnhem_fine_medium_italic/ArnhemFinePro-MediumItalic.eot") format("embedded-opentype"),
			 url("../fonts/arnhem_fine_medium_italic/ArnhemFinePro-MediumItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Semibold";
  src: url("../fonts/arnhem_fine_semibold/ArnhemFinePro-SemiBold.eot") format("embedded-opentype"),
			 url("../fonts/arnhem_fine_semibold/ArnhemFinePro-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Semibold Italic";
  src: url("../fonts/arnhem_fine_semibold_italic/ArnhemFinePro-SemiBdItalic.eot") format("embedded-opentype"),
			 url("../fonts/arnhem_fine_semibold_italic/ArnhemFinePro-SemiBdItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* END - ANTENNA */
