/*
http://www.webtype.com
*/

@font-face {
  font-family: "Arnhem Blond";
  src: url("../fonts/arnhem_blond/.eot") format("embedded-opentype"),
       url("../fonts/arnhem_blond/.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Blond Italic";
  src: url("../fonts/arnhem_blond_italic/.eot") format("embedded-opentype"),
       url("../fonts/arnhem_blond_italic/.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Bold";
  src: url("../fonts/arnhem_bold/.eot") format("embedded-opentype"),
       url("../fonts/arnhem_bold/.woff") format("woff");
	font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Bold Italic";
  src: url("../fonts/arnhem_bold_italic/.eot") format("embedded-opentype"),
       url("../fonts/arnhem_bold_italic/.woff") format("woff");
	font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Black";
  src: url("../fonts/arnhem_black/.eot") format("embedded-opentype"),
       url("../fonts/arnhem_black/.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Black Italic";
  src: url("../fonts/arnhem_black_italic/.eot") format("embedded-opentype"),
       url("../fonts/arnhem_black_italic/.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine";
  src: url("../fonts/arnhem_fine/.eot") format("embedded-opentype"),
       url("../fonts/arnhem_fine/.woff") format("woff");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Italic";
  src: url("../fonts/arnhem_fine_italic/.eot") format("embedded-opentype"),
       url("../fonts/arnhem_fine_italic/.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Medium";
  src: url("../fonts/arnhem_fine_medium/.eot") format("embedded-opentype"),
			 url("../fonts/arnhem_fine_medium/.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Medium Italic";
  src: url("../fonts/arnhem_fine_medium_italic/.eot") format("embedded-opentype"),
			 url("../fonts/arnhem_fine_medium_italic/.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Semibold";
  src: url("../fonts/arnhem_fine_semibold/.eot") format("embedded-opentype"),
			 url("../fonts/arnhem_fine_semibold/.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Arnhem Fine Semibold Italic";
  src: url("../fonts/arnhem_fine_semibold_italic/.eot") format("embedded-opentype"),
			 url("../fonts/arnhem_fine_semibold_italic/.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* END - ANTENNA */
