.btn,
.btn:hover,
.btn:focus,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] { background-color: #680013; color: #ffffff; }

.btn-group > .btn, .btn-group > .dropdown-menu, .btn-group > .popover, .cta {
    font-size: 12px;
}

.cta, a.btn.cta {
	margin: 0 0 0 10px;
    font-family: "Antenna", "museo-sans", "Arial", sans-serif;
    font-weight: bold;
	color: #FFF;
	text-align: left;
	letter-spacing: 1px;
	text-transform: uppercase;color: #EEE;
  	text-decoration: none;
	text-shadow: none;
	background-color: #680013;
	background-image: none;
	border-bottom-color: #272727;
	-moz-transition: all 0.2s ease-in;
  	-webkit-transition: all 0.2s ease-in;
  	outline: none;
}

.cta:hover, .btn-group .cta:hover,
.cta:active, .btn-group .cta:active,
.cta:visited, .btn-group .cta:visited {
	color: #FFF;
	background-color: #5C131F;
}