/* SLIDES STYLING */
/* ==============================================*/

.bg-arrupe-dark { background-color: rgba(0,0,0,0); }

.arrupe-padding-intro {
	background: url('../images/pattern-spiration-light.png') #e2e2e2;
	background-color: #e2e2e2;
}

.desaturate {
	-webkit-filter: grayscale(70%);
	-moz-filter: grayscale(70%);
	-ms-filter: grayscale(70%);
	filter: grayscale(70%);
	filter: gray;
	filter: url("data:image/svg+xml;utf8,<svg version='1.1' xmlns='http://www.w3.org/2000/svg' height='0'><filter id='greyscale'><feColorMatrix type='matrix' values='0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0' /></filter></svg>#greyscale");
}

.slide1, .slide2, .slide4, .slide6, .slide8, .slide10, .slide12, .slide14, .slide16 {
	box-shadow: 0px 0px 5px 5px rgba(0,0,0,.15);
}

.slide1{
	background: url('../images/pattern-spiration-light.png');
	background-color: #e2e2e2;
	height: auto;
	z-index: 9000;
}

.slide2{
	background: url('../images/pattern-spiration-light.png');
	background-color: #e2e2e2;
	height: auto;
	z-index: 9001;
}

.slide3{
	background: url('../images/01-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 600px;
	padding: 0;
	background-size: cover;
}

.slide4{
	background: url('../images/pattern-spiration-light.png');
	background-color: #e2e2e2;
	height: auto;
	z-index: 9002;
}

.slide5{
	background: url('../images/02-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 600px;
	padding: 0;
	background-size: cover;
}

.slide6{
	background: url('../images/pattern-spiration-light.png');
	background-color: #e2e2e2;
	height: auto;
	z-index: 9003;
}

.slide7{
	background: url('../images/03-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 600px;
	padding: 0;
	background-size: cover;
}

.slide8{
	background: url('../images/pattern-spiration-light.png');
	background-color: #e2e2e2;
	height: auto;
	z-index: 9004;
}

.slide9{
	background: url('../images/04-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 600px;
	padding: 0;
	background-size: cover;
}

.slide10{
	background: url('../images/pattern-spiration-light.png');
	background-color: #e2e2e2;
	height: auto;
	z-index: 9005;
}

.slide11{
	background: url('../images/05-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 600px;
	padding: 0;
	background-size: cover;
}

.slide12{
	background: url('../images/pattern-spiration-light.png');
	background-color: #e2e2e2;
	height: auto;
	z-index: 9006;
}

.slide13{
	background: url('../images/06-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 600px;
	padding: 0;
	background-size: cover;
}

.slide14{
	background: url('../images/pattern-spiration-light.png');
	background-color: #e2e2e2;
	height: auto;
	z-index: 9007;
}

.slide15{
	background: url('../images/07-canvas-parallax-image-light-fpo-1000-560.jpg') 50% 0 no-repeat fixed;
	height: 600px;
	padding: 0;
	background-size: cover;
}

.slide16{
	background: url('../images/pattern-spiration-light.png');
	background-color: #e2e2e2;
	height: auto;
	z-index: 9008;
}

.slidenews{

	background-color:#666;
	height: auto;
	z-index: 9001;
}

section.arrupe-introduction .image-mobile img, .image-mobile { display: none; }


/*.slide1, .slide3, .slide5, .slide7, .slide9, .slide11, .slide13, .slide15 {
	background: url('http://placehold.it/1000x560') 50% 0 no-repeat fixed;
	background-color: #cccccc;
}*/

.image-mobile img { background-color: #cccccc; }


/* MEDIA QUERIES */
/* ==============================================*/


@media all and (min-device-width : 768px) and (max-device-width : 1024px) {

.slide4, .slide6, .slide8, .slide10, .slide12 { padding: 50px 0; }

.slide1, .slide3, .slide5, .slide7, .slide9, .slide11 { display: none; }

.image-mobile { display: block; margin: 0; padding: 0; min-width: 100%; width: 100%; }

.image-mobile img { min-width: 100%; width: 100%; height: auto; }

.slide2 #aruppe-panel .span6.image-hide,
.slide4 #aruppe-panel .span6.image-hide,
.slide6 #aruppe-panel .span6.image-hide,
.slide8 #aruppe-panel .span6.image-hide,
.slide10 #aruppe-panel .span6.image-hide,
.slide12 #aruppe-panel .span6.image-hide,
.position-ventra-absolute  { display: none; }

.slide4 #arrupe-panel .span6.image-hide { display: none; }

.slide2 #aruppe-panel .span6.full-width,
.slide4 #aruppe-panel .span6.full-width,
.slide6 #aruppe-panel .span6.full-width,
.slide8 #aruppe-panel .span6.full-width,
.slide10 #aruppe-panel .span6.full-width,
.slide12 #aruppe-panel .span6.full-width { float: right; margin-left: 0; width: 81%; }

.slide4 #arrupe-panel .span6.full-width { float: right; margin-left: 0; width: 81%; }

}

@media all and (min-width : 768px) and (max-width : 1024px) {

.slide4, .slide6, .slide8, .slide10, .slide12 { padding: 50px 0; }

.slide1, .slide3, .slide5, .slide7, .slide9, .slide11 { display: none; }

.image-mobile { display: block; margin: 0; padding: 0; min-width: 100%; width: 100%; }

.image-mobile img { min-width: 100%; width: 100%; height: auto; }

.slide2 #aruppe-panel .span6.image-hide,
.slide4 #aruppe-panel .span6.image-hide,
.slide6 #aruppe-panel .span6.image-hide,
.slide8 #aruppe-panel .span6.image-hide,
.slide10 #aruppe-panel .span6.image-hide,
.slide12 #aruppe-panel .span6.image-hide,
.position-ventra-absolute  { display: none; }

.slide4 #arrupe-panel .span6.image-hide { display: none; }

.slide2 #aruppe-panel .span6.full-width,
.slide4 #aruppe-panel .span6.full-width,
.slide6 #aruppe-panel .span6.full-width,
.slide8 #aruppe-panel .span6.full-width,
.slide10 #aruppe-panel .span6.full-width,
.slide12 #aruppe-panel .span6.full-width { float: right; margin-left: 0; width: 81%; }

.slide4 #arrupe-panel .span6.full-width { float: right; margin-left: 0; width: 81%; }

}

@media all and (min-device-width : 320px) and (max-device-width : 767px) {

.slide4, .slide6, .slide8, .slide10, .slide12 { padding: 0; }

.slide1, .slide3, .slide5, .slide7, .slide9, .slide11 { display: none; }

.slide2 #aruppe-panel .span6.image-hide,
.slide4 #aruppe-panel .span6.image-hide,
.slide6 #aruppe-panel .span6.image-hide,
.slide8 #aruppe-panel .span6.image-hide,
.slide10 #aruppe-panel .span6.image-hide,
.position-ventra-absolute  { display: none; }

.slide4 #arrupe-panel .span6.image-hide { display: none; }

.slide2 #aruppe-panel .span6.full-width,
.slide4 #aruppe-panel .span6.full-width,
.slide6 #aruppe-panel .span6.full-width,
.slide8 #aruppe-panel .span6.full-width,
.slide10 #aruppe-panel .span6.full-width { margin-left: 0; width: 100%; }

.slide4 #arrupe-panel .span6.full-width { margin-left: 0; width: 100%; }

section.arrupe-introducton .image-mobile { margin: 0 0 -5px; }

.image-mobile { display: block; margin: 0; padding: 0; min-width: 100%; width: 100%; background-color: #FFFFFF; }

.image-mobile img { min-width: 100%; width: 100%; height: auto; }

}
