/* BACKGROUND GRAY */

.bg-white							{ background-color: $white; }
.bg-gray-dark 				{ background-color: darken( $gray, 16% ); }
.bg-gray-extra-dark 	{ background-color: darken( $gray, 32% ); }
.bg-gray-light 				{ background-color: lighten( $gray, 30% ); }
.bg-gray-extra-light 	{ background-color: lighten( $gray, 36% ); }

/* BACKGROUND GOLD */
.bg-gold 							{ background-color: $gold; }
.bg-gold-dark 				{ background-color: darken( $gold, 15% ); }
.bg.gold-extra-dark 	{ background-color: darken( $gold, 30% ); }

/* BACKGROUND OVERLAY */
.bg-overlay { background-color: $bg-overlay; }
.bg-overlay-dark { background-color: rgba( $bg-overlay, .6 ); }
.bg-overlay-extra-dark { background-color: rgba( $bg-overlay, .8 ); }
.bg-overlay-light { background-color: rgba( $bg-overlay, .3 ); }
.bg-overlay-extra-light { background-color: rgba( $bg-overlay, .2 ); }

/* MAROON */
.maroon { background-color: lighten($maroon, 3%); }
.maroon-dark { background-color: darken( $maroon, 5% ); }
.maroon-extra-dark { background-color: darken( $maroon, 15% ); }
.maroon-light { background-color: lighten( $maroon, 20% ); }
.maroon-extra-light { background-color: lighten( $maroon, 35% ) }

/* GOLD */
.gold { background-color: $gold; }
.gold-dark { background-color: darken( $gold, 15% ); }
.gold-extra-dark { background-color: darken( $gold, 30% ); }
.gold-light { background-color: lighten( $gold, 20% ); }

/* GRAY */
.gray { background-color: lighten( $gray, 5% ); }
.gray-dark { background-color: darken( $gray, 16% ); }
.gray-extra-dark { background-color: darken( $gray, 32% ); }
.gray-light { background-color: lighten( $gray, 30% ); }
.gray-extra-light { background-color: lighten( $gray, 36% ); }

/* LAKE */
.lake { background-color: lighten( $lake, 4% ); }
.lake-dark { background-color: darken( $lake, 9% ); }
.lake-extra-dark { background-color: darken( $lake, 18% ); }
.lake-light { background-color: lighten( $lake, 48% ); }
.lake-extra-light { background-color: hsl(200deg, 70%, 94%); }

/* PATINA */
.patina { background-color: darken( $patina, 0% ); }
.patina-dark { background-color: darken( $patina, 15% ); }
.patina-extra-dark { background-color: darken( $patina, 30% ); }
.patina-light { background-color: lighten( $patina, 38% ); }
.patina-extra-light { background-color: hsl(177deg, 45%, 94%); }

/* TERRACOTTA */
.terracotta { background-color: $terracotta; }
.terracotta-dark { background-color: darken( $terracotta, 20% ); }
.terracotta-extra-dark { background-color: darken( $terracotta, 35% ); }
.terracotta-light { background-color: lighten( $terracotta, 30% ); }
.terracotta-extra-light { background-color: lighten( $terracotta, 41.5% ); }
.terracotta-extra-light { background-color: hsl(31deg, 20%, 94%); }

/* TAUPE */
.taupe { background-color: $taupe; }
.taupe-dark { background-color: darken( $taupe, 20% ); }
.taupe-extra-dark { background-color: darken( $taupe, 32% ); }
.taupe-light { background-color: lighten( $taupe, 28% ); }
.taupe-extra-light { background-color: hsl(55deg, 14%, 94%); }

/* END - COLOR */