#story-wrapper #bullet-one,
#story-wrapper #bullet-two,
#story-wrapper #bullet-three,
#story-wrapper #bullet-four,
#story-wrapper #bullet-five,
#story-wrapper #bullet-six,
#story-wrapper #bullet-seven {
	position: absolute;
	z-index: +1;
}

#story-wrapper #bullet-one {
	top: 22%;
	left: 17%;
}

#story-wrapper #bullet-two {
	top: 30%;
	left: 50%;
}

#story-wrapper #bullet-three {
	top: 60%;
	left: 40%;
}

#story-wrapper #bullet-four {
	top: 70%;
	left: 78%;
}

#story-wrapper #bullet-five {
	top: 82%;
	left: 45%;
}

.repositioned-element-image {
	position: relative;
	float: left;
}

#story-wrapper .bullet-number.display {
    margin: 0;
    width: 30px;
    height: 30px;
    font-size: 1em;
}

#story-wrapper .bullet-number {
    float: left;
    margin: -5px 10px 0 0;
    padding: 2px 4px 4px 4px;
    width: 20px;
    height: 20px;
    font-family: 'Antenna Black', sans-serif;
    font-size: .8em;
    text-align: center;
    color: #e2e2e2;
    border: solid 1px #888888;
    border-radius: 50%;
    background: rgba(0,0,0,.7);
}

a span {
  cursor: pointer !important;
}

#content-populate {
	display: inline-block;
	width: 100%;
}
