$maroon:			#a02051;
$gold:				#febe18;
$gray:				#888888;
$lake:				#056fa9;
$patina:			#08bcc1;
$terracotta:	#aa8761;
$taupe:				#c7a982;
$white:				#ffffff;
$bg-overlay:	rgba(0,0,0,.5);

$antenna: 'Antenna', sans-serif;