body.law {
  background-image: none !important;
}

body.law h1.display,
body.law h4.subhead {
  font-family: 'Arnhem Bold', 'Georgia', serif !important;
}

body.law h2.secondary-explainer {
  font-family: 'Arnhem Blond', 'Georgia', serif !important;
  letter-spacing: -.0175em;
  font-weight: lighter;
  font-style: italic;
}

body.law p.body, body.law p.body.explainer {
  font-family: 'Arnhem Blond', 'Georgia', serif !important;
}
