body.law {
  background-image: none !important;
}

h1.display,
h4.subhead {
  font-family: 'Arnhem Bold', 'Georgia', serif !important;
}

h2.secondary-explainer {
  font-family: 'Arnhem Blond', 'Georgia', serif !important;
  letter-spacing: -.0175em;
  font-weight: lighter;
  font-style: italic;
}

p {
  font-family: 'Arnhem Blond', 'Georgia', serif !important;
}
