/* UG FRAMEWORK */

hr { color: darken($gray, 10%); border-color: darken($gray, 10%); }

body { padding-top: 0; background: rgba(0,0,0,0); }

.d-inline { display: inline; }

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.development-nav {
	margin: 0;
	padding: 30px;
	width: 55%;
	background: $white;
}

.development-nav h5 {
	padding: 0 0 10px 0;
	margin: 0 0 10px 0;
	font-size: 1.25em;
	border-bottom: solid 1px #cccccc;
}

.development-nav ul {
	margin: 0;
	padding-top: 50px;
	padding-bottom: 50px;
	list-style-type: none;
}

.development-nav ul li {
	padding: 5px 0;
	font-family: 'Antenna', sans-serif;
	font-size: 1.25em;
	text-transform: uppercase;
	list-style-image: none !important;
}

.development-nav ul li a,
.development-nav ul li a:visited,
.development-nav ul li a:active { color: $patina; }

.development-nav ul li a:hover { color: lighten($patina, 10%); }


/* PAGE COLUMNS - WRAPPER ==============================
=======================================================*/

body #wrapper {
	background: linear-gradient(to right, #ffffff 0%, #ffffff 50%, rgba(179, 179, 179, 0.5) 50%, rgba(179, 179, 179, 0.5) 100%), url('/images/site/texture-transparent.png');
}

body.canvas #wrapper {
	background: url('/images/backgrounds/bg-shield-dark.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
} /* global wrapper */

#interior-wrapper { padding: 0 15px; }

#interior-wrapper-center {
	padding: 60px 90px 60px 30px;
	@include media-breakpoint-up (lg) {
		min-height:1000px;
	}
@include media-breakpoint-down(md) {
		padding: 60px 30px 60px 30px;
	}
}


/* MAIN-CONTENT =========================================
=======================================================*/

#main-content {
  display: block !important;
  padding-left: 0;
  padding-right: 0;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 300px;
  height: 100%;
	overflow: hidden;
	margin: 0 auto;
	@include media-breakpoint-down(md) {
		background: none;
	}
}

/* PAGE COLUMNS =========================================
=======================================================*/

#leftColumn, #centerColumn, #rightColumn { padding: 0;
  @include media-breakpoint-down(md) {
  	/* JMD taking this out to make content flow in responsive come see me before removing float: left;*/
  	display: block;
  }
}

#leftColumn { display: none; }

#rightColumn { overflow: visible; }

/* CENTERCOLUMN ADJUST - COL-6 TO COL-9 */

#main-content #interior-wrapper #centerColumn.col-md-9 {
	padding-right: 0;
	background: $white;
}

/* UG-BUTTON */
button.btn.btn-default.dropdown-toggle,
button.btn.cta {
	margin: 0;
  padding: 7px 12px 4px;
  font-family: 'Antenna', sans-serif !important;
  font-size: .8em !important;
  color: darken($patina, 8%);
  text-align: left;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: none;
  background-color: $white;
  background-image: none;
  border: solid 1px darken($patina, 8%);
  border-radius: 30px;
  outline: white;
  text-decoration: none;
  -moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  cursor: pointer;
}

button.btn.btn-default.dropdown-toggle {
	margin: 0;
	padding: 12px 20px 10px;
	width: 100%;
	font-family: 'Antenna', sans-serif !important;
	font-size: 1.125em !important;
	color: darken($patina, 12%);
	border-color: darken($patina, 25%);
	background: rgba(0,0,0,.275);
	background-image:url('/images/homepage/homepage-arrow-patina.png') !important;
	background-repeat: no-repeat;
	background-size: 5%;
	background-position: 95% 50%;
}

button.btn.btn-default.dropdown-toggle:hover {
	background-image:url('/images/homepage/homepage-arrow-patina.png') !important;
	background-repeat: no-repeat !important;
	background-size: 5% !important;
	background-position: 95% 50% !important;
	background: rgba(0,0,0,.325);
}

#rightColumn button.btn.cta { background: none; }

#rightColumn button.btn.cta:hover { background: rgba(0,0,0,.1); }

ul.dropdown-menu {
	left: 0;
	right: 0;
	margin-top: 0;
	padding: 20px;
	max-width: 100%;
	height: auto;
	background-color: rgba(0,0,0,.85);
	-moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

#main-sidebar div.dropdown.open > ul.dropdown-menu > li > a {
	white-space: normal !important;
	color: darken($patina, 12%);
	-moz-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
}

#main-sidebar div.dropdown.open > ul.dropdown-menu > li > a:hover {
	color: darken($patina, 8%);
	background: none;
}

button.btn.btn-default.dropdown-toggle span.caret {
	border: none;
}

button.btn.cta:hover { background: rgba(0,0,0,.1); color: darken($patina,8%); }

.rule-bottom {
	margin: 0 0 30px;
	padding: 0 0 30px;
	border-bottom: 1px solid $gray-light;
}
#rightColumn .aside-feed p.explainer.rule-bottom-aside,
.rule-bottom-aside {
	margin: 0 0 20px;
	padding: 0 0 20px;
	border-bottom: 1px solid $gray;
}

#rightColumn .aside-feed h4.subhead { padding-top: 0; }

ul.pagination { border-right: solid 1px darken($patina,8%); border-radius: 0; }

.pagination>li>a, .pagination>li>a>span {
	margin: 0;
	padding: 8px 6px 5px;
	width: 40px;
	font-family: 'Antenna Light', sans-serif;
	font-size: 16px;
	line-height: 1.3;
	color: darken($patina,8%);
	text-align: center;
	border-radius: 0 !important;
	transition: all .25s;
}

/*
.pagination>li:first-of-type> a {
	padding-left: 3px;
	padding-right: 0;
	border-radius: 50% 0 0 50% !important;
	background: $gray-extra-light !important;
}

.pagination>li:last-child> a {
	padding-left: 0;
	padding-right: 3px;
	border-radius: 0 50% 50% 0 !important;
	border-right: none;
	background: $gray-extra-light !important;
}
*/

ul.pagination>li a { background-color: $gray-light; }

.pagination>li>a>span {
	padding: 0;
	font-family: 'Antenna Bold', sans-serif;
	color: darken($patina,8%);
	border: none;
	transition: all .15s;
}

.pagination>ul>li>a:focus,
.pagination>ul>li>a:active,
.pagination>ul>li>a>span:focus,
.pagination>ul>li>a>span:active,
.pagination>li>a:visited,
.pagination>li>a>span:visited {
	color: darken($patina,20%);
	border-left: solid 1px darken($patina,15%);
	border-top: solid 1px darken($patina,15%);
	border-right: none;
	border-bottom: solid 1px darken($patina,15%);
	background: darken($patina,8%);
}

.pagination>li>a:visited,
.pagination>li>a>span:visited {
	color: $gray;
	background: $gray-light;
}

.pagination>li>a:hover {
	color: $patina-dark;
	background: darken($patina,8%);
	&:hover span { color: $patina-dark; }
}

.pagination>li>a, .pagination>li>a:hover, .pagination>li>a:focus {
	border-left: solid 1px darken($patina,8%);
	border-top: solid 1px darken($patina,8%);
	border-right: none;
	border-bottom: solid 1px darken($patina,8%);
}

.pagination>li>a:visited { border-right: none; }

.pagination>li:first-of-type> a,
.pagination>li:last-child> a {
	background: darken($patina,10%) !important;
}

.pagination>li:first-of-type> a>span,
.pagination>li:last-child> a>span {
	color: darken($patina,20%) !important;
}

/* ASIDE - QUOTES - NUMBERS - ICONS =====================
=======================================================*/

#rightColumn[class*="col-"] { padding: 0; }

#rightColumn .aside-caption,
#rightColumn .aside-quote,
#rightColumn .aside-number,
#rightColumn .aside-content,
#rightColumn .aside-icon,
#rightColumn .aside-feed {
	box-sizing: border-box;
	padding: 0px 30px 30px 50px;
	max-width: 100%;
	width: 100%;
}

#rightColumn .aside-caption {
	@include media-breakpoint-down(md) {
		display: none;
	}
}

#rightColumn .aside-quote, #rightColumn .aside-feed {
@include media-breakpoint-down(md) {
		margin-top: 0;
		padding-top: 0;
	}
}

#rightColumn .aside-caption p.explainer,
#rightColumn .aside-feed p.explainer { margin: 0; }

#rightColumn .aside-image { /* aside image wrapper */
	margin: 0;
	position: relative;
	overflow: visible;
    @include media-breakpoint-down(md) {
    	display: none;
    }
}

#interior-wrapper-right {
	padding-left:0;
	padding-top:70px;
}

#rightColumn .aside-image-panel { /* aside image gold panel - extends off right edge */
	right: -10000px;
	width: 400%;
	background: url('../images/site/texture-transparent.png') $gold; /* texture */
}

.icon-image {
	background-color: transparent !important;
}

#rightColumn .aside-quote blockquote {
	margin: 0 0 5px 0 !important;
	line-height: 1.65;
	letter-spacing: -.015em;
	text-transform: none;
	@include media-breakpoint-down(md) {
		margin-top: 30px !important;
		padding-top: 30px !important;
		border-top: solid 1px $gray-light;
	}
}

#rightColumn .aside-quote cite p {
	margin: 10px 0 0 0 !important;
	font-family: 'Antenna Bold', sans-serif;
	font-size: .85em;
	font-style: normal;
	color: $gray-extra-dark;
}

#rightColumn .aside-quote cite p.explainer {
	margin: 0 0 10px 0 !important;
	font-family: 'Antenna', sans-serif;
	font-style: italic;
}

#rightColumn .aside-image-panel [class*="col-"],
#rightColumn #interior-wrapper-right-panel [class*="col-"] { float: none; padding: 0; }

#rightColumn .aside-image-panel img {
	margin: 0;
}

#rightColumn .aside-number { margin: 0; }

#interior-wrapper-right div.aside-quote blockquote {
	font-family: 'Antenna Light', san-serif;
	font-size:1.2em;
}

/* HEADER ===============================================
=======================================================*/

/* UG-HEADER */

#header.ug-header {
	position: relative;
	margin: 0;
	padding: 30px 0 20px;
	height: auto;
	background: $white;
  z-index: 3011111;
	@include media-breakpoint-down(lg) {
		padding: 20px 0 15px;
	}
	@include media-breakpoint-down(md) {
		padding: 10px 15px 6px;
	}
	@include media-breakpoint-down(sm) {
		padding: 10px 15px 1px;
	}
	@include media-breakpoint-down(xs) {
		padding: 10px 15px 2px;
	}
}

#header { width: 100%; }

#header.ug-header .container {
	@include media-breakpoint-down(xs) {
		padding-left: 0;
		padding-right: 0;
	}
}

#header.ug-header.affix {
@include media-breakpoint-down(sm) {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 30000;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 2px 2px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 2px 2px 0px rgba(0, 0, 0, 0.35);
  }
}

#header.ug-header h6.label {
	display: inline;
	width: auto;
	font-family: 'Antenna Light', sans-serif;
}


/* WORDMARK */
.ug-global-nav-wrapper.affix {
@include media-breakpoint-down(sm) {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 29000;
    }
}

#header #wordmark-wrapper { position: relative; padding-left: 0; }

#header #wordmark-wrapper #wordmark {
	float: left;
	@include media-breakpoint-down(md) { max-width: 175px; }
	@include media-breakpoint-down(sm) { padding-top: 0; border: 0; }
}

@media only screen
and (max-width : 320px) {
	#header #wordmark-wrapper #wordmark {
		max-width: 162px;
		height: 40px;
	}
}

#header #wordmark, #footer-address #wordmark-tag {
    margin-top: 0;
    margin-bottom: 0;
    height: auto;
    width: auto;
}

#undergrad-admission.col-lg-9 {
	@include media-breakpoint-down(lg) {
		margin: 20px 10px 0 0;
		width: 70%;
	}
	@include media-breakpoint-down(md) {
		margin: 0;
		padding: 0;
	}
}

#undergrad-admission h6, #undergrad-admission a h6 {
	float: right;
	margin: 25px 10px 0 0;
	padding: 0;
	font-family: 'Antenna Bold', sans-serif;
	font-size: 1.45em;
	letter-spacing: -.015em;
	color: $gray-extra-dark !important;
	text-align: right;
	@include media-breakpoint-down(lg) {
		margin: 0 10px 0 0;
	}
	@include media-breakpoint-down(md) {
		display: none;
	}
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

.home-circle {
	float: right;
	margin: 20px 0 0 0;
	padding: 0;
	width:30px;
	height: 30px;
	border-radius: 50%;
	color: $gray-extra-light;
	border: solid 1px darken($patina,8%);
	background-color: none;
	background-image: url("../images/homepage/home.png");
	background-repeat: no-repeat;
	background-size: 80%;
	background-position: 50% 40%;
	@include media-breakpoint-down(lg) {
		margin: 0;
	}
	@include media-breakpoint-down(md) {
		float: left;
		margin: -2px 0 0 0;
		width: 30px;
		height: 30px;
		background-position: 49% 40%;
	}
	@include media-breakpoint-down(sm) {
		margin: -2px 0 0 10px;
		width: 35px;
		height: 35px;
		background-position: 49% 40%;
	}
	@include media-breakpoint-down(xs) {
		margin: -2px 0 0 10px;
		width: 26px !important;
		height: 27px !important;
		background-position: 49% 40%;
	}
}

@media only screen
and (max-width : 320px) {
	.home-circle {
		margin: -2px 0 0 10px;
		width: 30px;
		height: 30px;
	}
}


/* FOOTER ===============================================
=======================================================*/

footer {
	bottom: 0;
	width: 100%;
}

body.parallax footer{
	@media-breakpoint-up (md) {
	position: fixed;;
	}
}

footer .container-fluid {
  padding-right: 0;
  padding-left: 0;
  margin-right: auto;
  margin-left: auto;
}

footer .col-sm-12 { padding: 0; } /* footer-address wrapper */

#footer-address {
  padding: 10px 0;
  background-color: darken($gray-light, 10%);
	@include media-breakpoint-down(sm) {
		padding: 10px 20px;
		font-size: .85em;
	}
}

#footer-address .vcard { font-size: .9em; }

footer .col-sm-3 { padding-right: 0; } /* footer wordmark wrapper */

#footer-address #wordmark-tag {
	@include media-breakpoint-down(sm) {
		display: none;
	}
}

#ug-footer-cta-wrapper {
	height: auto;
	background: $gray-extra-dark;
}

#ug-footer-address-wrapper {
	height: auto;
	background: $gold;
}

/* UG-NAV - UG-CTA - INSET-NAV ==========================
=======================================================*/

#ug-nav.container-fluid {
	-webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.35);
	-moz-box-shadow:    0px 2px 2px 0px rgba(0, 0, 0, 0.35);
	box-shadow:         0px 2px 2px 0px rgba(0, 0, 0, 0.35);
	@include media-breakpoint-down(sm) {
		top: 50px;
		padding-left: 0;
		padding-right: 0;
	}
}

#ug-nav.container-fluid,
#ug-cta.container-fluid,
#ug-explore.container-fluid {
	position: relative;
	padding-top: 0;
	padding-bottom: 0;
	background: $gray-extra-dark;
	z-index: 30000;
}

#ug-explore.container-fluid {
	display: none;
}

.navbar-nav .row {
	@include media-breakpoint-down(sm) {
		margin: 0;
		padding: 0;
	}
}

.navbar-nav {
	width: 100%;
	@include media-breakpoint-down(sm) {
		margin: 0px;
		padding: 0;
	}
}
@media (max-width: 320px) { .navbar-nav { margin: 0 5px; } }
#ug-nav #navbar, #footer #ug-cta ul#nav {
	float: left;
	width: 80%;
	@include media-breakpoint-down(sm) {
		float: left;
		font-size: .85em;
	}
}

#ug-nav #navbar {
	@include media-breakpoint-down(md) { width: 100%; }
}

#footer #ug-cta ul#nav {
	@include media-breakpoint-down(md) {
		float: left;
		width: 70%;
	}
	@include media-breakpoint-down(sm) {
		width: 75%;
	}
}

#ug-nav ul li,
#ug-nav ul li a,
#ug-cta ul li,
#ug-cta ul li a,
#ug-explore ul li,
#ug-explore ul li a {
	width: auto;
	font-family: 'Antenna', sans-serif;
	font-size: 1.05em;
	color: $gray-light;
	text-transform: uppercase;
	border-left: 2px solid darken($gray, 50%);
	transition: all .25s;
	@include media-breakpoint-down(lg) { font-size: 1em; }
}

#ug-nav ul li, #ug-cta ul li, #ug-explore ul li { float: left; margin: 0; width: auto; }

#ug-cta ul {
	float: left;
	margin: 0;
	padding: 0;
	list-style: none;
}
#ug-cta ul.nav,#ug-cta ul.social,#ug-social-wrapper {
  @include media-breakpoint-down(sm) {  margin: 0 auto;
    float: none!important;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;}
}

#ug-social-wrapper {
	 @include media-breakpoint-down(sm) {
		padding: 2px 20px 35px 0px !important;
		background-color: lighten($gray-dark, 5%);
	}
}

#ug-nav ul li a,
#ug-cta ul li a,
#ug-explore li a {
	padding: 15px 20px;
	border-left: solid 1px $gray-dark;
	color:$gray;
	span {
	@include media-breakpoint-down(md) { display: none; }
	}
	@include media-breakpoint-down(sm) { padding: 10px 5px; font-size: .875em; }
}

#ug-nav ul li:first-child,
#ug-cta ul li:first-child,
#ug-nav ul li:first-child a,
#ug-cta ul li:first-child a {
	@include media-breakpoint-down(sm) {
		border-left: none;
	}
}

#ug-nav ul li:hover,#ug-nav ul li:active,
#ug-cta ul li:hover,
#ug-explore ul li:hover {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	color: $gray-extra-light;
	background-color: darken($patina, 10%);
}

#ug-nav ul li a:hover,#ug-nav ul li a:active,
#ug-cta ul li a:hover,
#ug-explore ul li a:hover {
	box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
	color: $gray-extra-light;
	background-color: darken($patina, 5%);
}

#inset-nav {
	display: inline block;
	margin: 30px 0 30px;
	padding:20px;
	width: 100%;
	border-top: solid 1px $gray-light;
	border-bottom: solid 1px $gray-light;
	h5.label, ul {
		margin: 0;
	}
}


/* UG-GLOBAL-NAV - MENU AND SEARCH ======================
=======================================================*/

.ug-global-nav-wrapper.affix {
	@include media-breakpoint-down(sm) {
    	right: 0;
    	top: 0;
    	z-index: 30000;
    }
}

.ug-global-nav-wrapper:after, .sb-controls:after {
	position: relative;
	content: "";
	padding-left: 120px;
}

.ug-global-nav-wrapper, .sb-controls {
	position: absolute;
	top: 0;
	right: 0;
	overflow: visible;
	height: 50px;
}

.ug-global-nav, .ug-global-search, .ug-global-close {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 20%;
	width: 40%;
	height: 100%;
	color: darken($patina-dark, 8%);
	background-color: darken($patina, 8%);
	transition: background-color .25s;
	&:hover {
		background-color: darken($patina, 5%);
		color: darken($patina-dark, 5%);
	}
}

[data-simplersidebar="closed"] .ug-global-close{
	display:none;
}

.ug-global-nav {
	background: darken($patina, 8%);
	color: darken($patina-dark, 12%);
}

.ug-global-search {
	right: 40%;
	background: darken($patina, 8%);
	color: darken($patina-dark, 12%);
}

.ug-global-close {
	display: block;
	left: -233%;
	background: darken($patina, 8%);
	background: none;
	color: $patina-dark;
	transition: all .2s;
	@include media-breakpoint-down(md) {
		left: -120%;
	}
}

.ug-global-close {
	&:hover { color: darken($patina, 8%); background: none !important; }
}

.ug-global-search .glyphicon,
.ug-global-nav .glyphicon,
.ug-global-close .glyphicon {
	position: absolute !important;
	left: 25%;
	top: 25%;
	font-size: 24px;
}

.ug-global-close .glyphicon {
	left: 50%;
	@include media-breakpoint-down(lg) { left: -180%; }
	@include media-breakpoint-down(sm) { left: -10px; }
}

@media only screen
and (min-device-width : 1024px)
and (max-device-width : 1366px)
and (orientation : portrait) { .ug-global-close .glyphicon { left: 25px; }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) { .ug-global-close .glyphicon { left: -180px; }
}

@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) { .ug-global-close .glyphicon { left: 50%; }
}

.ug-global-search { width: 60%; }

.ug-global-search .glyphicon { left: 24%; }

.ug-global-nav .glyphicon { left: 26%; }

.ug-global-close {
	@include media-breakpoint-down(md) {
		display: inline-block;
		width: 50%;
		}
}

.ug-global-nav-wrapper-desktop {
	@include media-breakpoint-down(md) { display: none; }
}

.ug-global-nav-wrapper-mobile:after {
	position: relative;
	content: "";
	padding-left: 100px;
}

.ug-global-nav-wrapper-mobile {
	display: none;
	@include media-breakpoint-down(md) {
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		margin: 0;
		width: auto;
		z-index: 30001;
		@include media-breakpoint-down(sm) {
			right: 0;
		}
	}
}

.ug-global-nav-wrapper-mobile .ug-global-nav,
#main-sidebar .ug-global-nav {
	padding: 0;
	width: 100%;
	@include media-breakpoint-down(xs) {
		width: 100%;
	}
}

.ug-global-nav-wrapper-mobile .ug-global-nav .glyphicon,
#main-sidebar .ug-global-nav .glyphicon {
	width: auto;
	height: auto;
}

.ug-global-nav-wrapper-mobile .ug-global-nav #search-icon,
#main-sidebar .ug-global-nav #search-icon { left: 15%; }

.ug-global-nav-wrapper-mobile .ug-global-nav #menu-icon,
#main-sidebar .ug-global-nav #menu-icon { left: 60%; }

.ug-global-nav-wrapper-mobile .ug-global-nav #menu-icon, #main-sidebar .ug-global-nav #menu-icon {
	@include media-breakpoint-down(md) {
		left: 65%;
	}
}

.glyphicon-search:before {
	display: inline;
	margin-left: 0;
	vertical-align: middle;
	font-family: 'Antenna Black', sans-serif;
	font-size: .6em;
	color: darken($patina-dark, 15%);
	content: "MENU";
	text-transform: uppercase;
	@include media-breakpoint-down(md) {
		font-size: .55em;
	}
}

#hidden-menu {
	position: fixed;
	top: 0;
	right: 0;
	opacity: 0;
	transition: all .25s;
}

#hidden-menu.show-menu {
	display: block;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 30000;
	opacity: 1;
}

#ug-nav > div.ug-global-nav-wrapper.ug-global-nav-wrapper-desktop > h5 {
	position: relative;
	top: -1px;
	right: 60px;
	width: auto;
	font-family: 'Antenna', sans-serif;
	font-size: 1.1em;
	color: darken($gray, 8%);
	text-transform: uppercase;
}

/* NEW MENU STYLE AND BUILD */

.ug-global-search,
#main-sidebar .ug-global-nav #search-icon,
.ug-global-nav-wrapper-mobile .ug-global-nav #search-icon { display: none; }

.ug-global-nav {
	width: 100%;
	@include media-breakpoint-down(xs) {
	height: 103%;
	}
}

@media only screen and (max-device-width : 767px) {
	.ug-global-nav-wrapper-mobile {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			margin: 0;
			width: auto;
			z-index: 10500;
	}
	.ug-global-nav-wrapper.affix {
    position: fixed;
    right: 0;
    top: 0;
	}
}

.ug-global-nav-wrapper-mobile .ug-global-nav { width: 50%; }

.ug-global-nav .glyphicon,
#main-sidebar .ug-global-nav #menu-icon { top: 26%; left: 68%; }s

#header.ug-header .container #menu-icon,
.ug-global-nav-wrapper-mobile .ug-global-nav #menu-icon { top: 28%; left: 30%; }

.ug-global-nav h5 {
	display: table-cell;
	position: relative;
	top: 2px;
	left: -5px;
	font-family: 'Antenna Bold', sans-serif;
	font-size: .85em;
	line-height: 0;
	color: darken($patina-dark, 15%);
	content: "MENU";
	text-transform: uppercase;
}

#main-sidebar .ug-global-nav h5 {
	top: 26px;
	left: 15px;
	font-size: 1em;
}

.ug-global-nav {
	color: darken($patina-dark, 14%);
	background-color: darken($patina, 8%);
	&:hover {
		color: darken($patina-dark, 14%);
		background-color: darken($patina, 5%);
	}
}

/* END - UG FRAMEWORK */


/* EQUAL HEIGHT COLUMNS - INTERIOR PAGES ================
=======================================================*/

.inside {
  margin-top: 20px;
  margin-bottom: 20px;
}
.inside-full-height {
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}
.row-height {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.col-height {
  display: table-cell;
  float: none;
  height: 100%;
}
.col-top { vertical-align: top; }
.col-middle { vertical-align: middle; }
.col-bottom { vertical-align: bottom; }

@media (min-width: 480px) {
.row-xs-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.col-xs-height {
    display: table-cell;
    float: none;
    height: 100%;
}
.col-xs-top { vertical-align: top; }
.col-xs-middle { vertical-align: middle; }
.col-xs-bottom { vertical-align: bottom; }
}

@media (min-width: 768px) {
.row-sm-height {
	display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.col-sm-height {
    display: table-cell;
    float: none;
    height: 100%;
}
.col-sm-top { vertical-align: top; }
.col-sm-middle { vertical-align: middle; }
.col-sm-bottom { vertical-align: bottom; }
}

@media (min-width: 992px) {
.row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.col-md-height {
  /*  display: table-cell;
    float: none;*/
    height: 100%;
}
.col-md-top { vertical-align: top; }
.col-md-middle { vertical-align: middle; }
.col-md-bottom { vertical-align: bottom; }
}

@media (min-width: 1200px) {
.row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
}
.col-lg-height {
    /*   display: table-cell;
    float: none;*/
    height: 100%;
}
.col-lg-top { vertical-align: top; }
.col-lg-middle { vertical-align: middle; }
.col-lg-bottom { vertical-align: bottom; }
}

/* ===============================================
MEDIA ASSETS ================================== */

section#video, .videoplayer { margin: 0 0 30px 0; }

#ug-body a[style] { font-weight: normal !important; }
