/* The side navigation menu */

#wrapper { transition: margin-right .5s; }

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    transition: background-color .5s;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

#profileContent01 {
  float: left;
  padding: 0 50px 30px 30px;
}

.sidenav {
  position: fixed;
  top: 0;
  right: 0;
  padding: 0;
  width: 0;
  height: 100%;
  background-color: rgba(255,255,255,.9);
  transition: 0.5s;
  overflow-x: hidden;
  z-index: +10 !important;
}

.sidenav a {
  transition: 0.3s;
  :hover {
    color: #f1f1f1;
  }
}

.sidenav a, .sidenav a.closebtn {
  display: block;
  text-decoration: none;
  font-size: 25px;
  color: $gray-extra-dark;
}

.sidenav a.closebtn { padding: 55px 60px 20px 25px; font-size: 36px; }

#main { transition: margin-left .5s; padding: 16px; }

@media screen and (max-height: 450px) {
  .sidenav { padding-top: 0; }
}
