.story-content-padding { padding: 80px 100px 80px 100px; }

/* border rule */

.rule-left {
  padding-left: 50px;
  border-left: solid 1px darken($gray-light, 5%);
}

.rule-left-spacing {
  padding-right: 50px;
}

.rule-right {
  padding-right: 50px;
  border-right: solid 1px darken($gray-light, 5%);
}

.rule-right-spacing {
  padding-left: 50px;
}

.rule-left-small {
  padding-left: 15px;
  border-left: solid 1px darken($gray-light, 5%);
}

.rule-left-small-spacing {
  padding-right: 15px;
}

.rule-right-small {
  padding-right: 15px;
  border-right: solid 1px darken($gray-light, 5%);
}

.rule-right-small-spacing {
  padding-left: 15px;
}

.rule-bottom {
  margin-bottom: 20px !important;
  padding-bottom: 25px;
  border-bottom: solid 1px darken($gray-light, 5%);
}

.equal-box-container {
  display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.equal-box-container .equal-box {
  height: 100%;
}

/* aside image */

.col-md-3 img { margin: 10px 0 20px; }

/* typography */

.medium { font-size: 1em; }

h4.subhead { margin: 20px 0 20px 0; line-height: 1.65; }

p.intro { margin: 0 0 20px 0; line-height: 2; }

p.body { line-height: 1.85; }

.leadin {
  font-family: 'Antenna Bold', sans-serif;
  font-size: .9em;
  text-transform: uppercase;
}

h1.number { letter-spacing: -.0525em; line-height: 1; }

cite.cite.small {
  font-family: 'Antenna', sans-serif;
  font-size: .675em !important; color: $gray-dark }
