.story-content-padding { padding: 80px 100px 80px 100px;
@include media-breakpoint-down(sm) { padding: 20px; }
}

/* border rule */

.rule-left {
  padding-left: 50px;
  border-left: solid 1px darken($gray-light, 5%);
}

.rule-left-spacing {
  padding-right: 50px;
}

.rule-right {
  padding-right: 50px;
  border-right: solid 1px darken($gray-light, 5%);
}

.rule-right-spacing {
  padding-left: 50px;
}

.rule-left-small {
  padding-left: 15px;
  border-left: solid 1px darken($gray-light, 5%);
}

.rule-left-small-spacing {
  padding-right: 15px;
}

.rule-right-small {
  padding-right: 15px;
  border-right: solid 1px darken($gray-light, 5%);
}

.rule-right-small-spacing {
  padding-left: 15px;
}

.rule-bottom {
  margin-bottom: 20px !important;
  padding-bottom: 25px;
  border-bottom: solid 1px darken($gray-light, 5%);
}

.equal-box-container {
  display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

.equal-box-container .equal-box {
  height: 100%;
  @include media-breakpoint-down(md) { height: auto; }
}

/* aside image */

.col-md-3 img { margin: 10px 0 20px; }

/* square images */

.image-object-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* typography */

.medium { font-size: 1em; }

h4.subhead { margin: 20px 0 15px 0; line-height: 1.65; }

p.intro { margin: 0 0 20px 0; line-height: 2; }

p.body { line-height: 1.75; }

.leadin {
  font-family: 'Antenna Bold', sans-serif;
  font-size: .9em;
  text-transform: uppercase;
  color: $gray-extra-dark;
}

h1.number { letter-spacing: -.0525em; line-height: 1; }

cite.cite.small {
  font-family: 'Antenna', sans-serif;
  font-size: .675em !important;
  color: $gray-extra-dark;
}

/* charts */

.chart-wrapper { width: 100%; }

[class*="c3-line"] {
  stroke-width: 5px !important;
}

.c3-ygrid-line line {
    stroke: red;
}

.c3-circle {
  width: 10px !important;
  height: 10px !important;
  fill: white !important;
  stroke: currentColor !important;
  stroke-width: 2px;
}

.c3.element {
  clip: rect(0px, 0px, 0px, 0px);
}

.c3-chart-arc text {
  font-family: 'Antenna Bold', sans-serif !important;
  font-size: 1.35em;
  font-weight: bold;
  letter-spacing: -.025em;
  fill: #fff;
  text-shadow: 0px 0px 10px rgba(0,0,0,.25);
}

ul.key {
    float: left;
    margin: 0;
    width: 100%;
    li {
      list-style: none;
    }
}

li span.key-box {
    display: inline-block;
    float: left;
    margin: 3px 12px 10px 0;
    width: 12px !important;
    height: 12px !important;
    background-color: red;
}

li span.key-box.one    { background-color: #680013; }
li span.key-box.two    { background-color: #272727; }
li span.key-box.three { background-color: #525252; }
li span.key-box.four   { background-color: #888888; }
li span.key-box.five    { background-color: #cccccc; }

/* TOOLTIPS - POPULATE */

.tooltip-populate {
  position: relative;
  display: inline-block;
}

.tooltip-populate .tooltip-content {
  position: absolute;
  left: 35px;
  padding: 15px;
  width: 500px;
  color: $gray-extra-light;
  border-radius: 3px;
  background-color: $bg-overlay-extra-dark;
  visibility: hidden;
  opacity: 0;
  transition: opacity .5s ease-out;
}

.tooltip-populate:hover { z-index: 10000 !important; }

.tooltip-populate:hover .tooltip-content {
  visibility: visible;
  opacity: 1;
}

.bg-gray-extra-dark h4,
.bg-gray-extra-dark p { color: $gray; }
