/*================================================
STORY - CAROUSEL - 121017
================================================*/

@charset "UTF-8";
/* CSS Document */
#carousel-example-generic .carousel {
    position: relative;
}

#carousel-example-generic .controllers {
    top: 0px;
}

#carousel-example-generic .carousel-control.left,
#carousel-example-generic.carousel-control.right {
    background-image: none;
	font-size: 40px;
}

#carousel-example-generic .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	font-size: 20px;
	text-align: center;
	margin-top: -14.5px;
	width: 2px;
  margin-left: -19px;
  margin-right: -14px;
}

#carousel-example-generic .carousel-control.left {
	margin-left: 33%;
	margin-top: 7%;
	z-index: 10;
}

#carousel-example-generic .carousel-control.right {
	margin-right: 70%;
	margin-top: 7%;
	z-index: 2;
}

#carousel-example-generic .circle {
	height: 50px;
	width: 50px;
	background-color: rgba(0,0,0, 0.7);
	border-radius: 50%;
	left: 61.9%;
  margin-top: 10%;
	z-index: 1;
  position:absolute;

}

#carousel-example-generic .carousel-caption-split {
	margin-top: 50%;
	padding-right: 30px;
	padding-left: 30px;
	overflow-y: scroll;
	text-align: left !important;
	height: 450px;
}

#carousel-example-generic .holder {
	height: 800px;
}

#carousel-example-generic .carousel-inner {
	background-color: #e1e1e1;
}

#magazine-story img.horizontal {
	margin-top: 105px;
}

#carousel-example-generic img {
  margin-top: 0px;
}

#carousel-example-generic .carousel-control.right {
  background-image: none;
}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	#carousel-example-generic .carousel-inner{
		height: 727px;
	}
	#carousel-example-generic .circle {
		margin-top: -68%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#magazine-story img.horizontal {
	margin-top: 0px !important;
	}
	#carousel-example-generic .carousel-caption-split {
    margin-top: 5%;
    text-align: left !important;
	height: auto;
	overflow-y: scroll;
	padding-bottom: 10px;
	}
	#carousel-example-generic .vertical {
	overflow-y: scroll;
	}
	#carousel-example-generic .holder {
	height:auto;
	}
	#carousel-example-generic .carousel-inner {
	padding-bottom: 5%;
	height: 1100px;
	overflow-y: scroll;
    }
	#carousel-example-generic .circle {
    margin-top: 2%;
	   left: 83%;
	}
}

.carousel a:visited, .carousel a:hover, .carousel a:focus {
  color:#f1f1f1;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	#carousel-example-generic .carousel-caption-split {
    margin-top: 5%;
	}
	#carousel-example-generic .holder {
	height:auto;
	}
	#carousel-example-generic .carousel-inner {
	padding-bottom: 5%;
	height:auto;
    }
	#carousel-example-generic .circle {
    margin-top: -4%;
	}
	#carousel-example-generic .carousel-control.left {
	margin-left: 19%;
	margin-top: 8%;
	z-index: 10;
	}
	#carousel-example-generic .carousel-control.right {
	margin-right: 59%;
	margin-top: 8%;
	z-index: 2;
	}
}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	#carousel-example-generic .carousel-caption-split .vertical {
    margin-top: 5%;
    padding-bottom: 5%;
	height: 131px !important;
	overflow-y: scroll;
	}
	#carousel-example-generic .vertical {
	padding-bottom: 20px;
	}
	#carousel-example-generic .carousel-caption-split {
    margin-top: 5%;
    padding-bottom: 5%;
	height: 262px !important;
	}
	#carousel-example-generic .circle {
    margin-top: -7%;
	left: 80%;
	}
	#carousel-example-generic .carousel-control.left {
	margin-left: 19%;
	margin-top: 8px !important;
	}
	#carousel-example-generic .carousel-control.right {
	margin-right: 59%;
	margin-top: 8px !important;
	z-index: 2;
	}
	#sub-header #masthead h2.label-chapter.display {
	font-size: .95em;
}
}
