/*================================================
STORY - CAROUSEL - 121017
================================================*/

@charset "UTF-8";
/* CSS Document */

.carousel-inner > .item > img,
.carousel-inner > .item > a > img { width: 120%; margin: auto; }

/* this hides nav bullets and ol numbers */
ol.carousel-indicators li { display:none !important; }

/* this is the control arrows */
.carousel a:link { color: $gray-extra-light; }

.carousel-control.left {
  background-image: -webkit-gradient(linear,right top,left top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.15)));
  background-image: linear-gradient(to left,rgba(0,0,0,.0001) 0,rgba(0,0,0,.15) 100%);
  opacity: 1;
}

.carousel-control.right {
  background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,.0001)),to(rgba(0,0,0,.15)));
  background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.15) 100%);
  opacity: 1;
}

.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right { text-shadow: none; }

/* carousel-caption */
.carousel-caption {
  position: relative;
  right: 0px;
  bottom: 0px;
  left: 0px;
  height: auto;
  z-index: 10;
  padding-top: 0;
  padding-bottom: 0;
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
  color: #fff;
  text-shadow: none;
	background-color: $gray-light;
	p.caption {
		margin: 0;
    padding: 20px 10px;
    width: 95%;
		color: $gray-dark;
	}
	p.caption a {
		margin: 0 0 0 5px;
		color: $patina;
	}
}

/* counter */
.counter {
	position: absolute;
	right: 0;
	bottom: 0;
  padding: 10px;
  height: auto;
  font-family: 'Antenna', sans-serif;
  font-size: .85em;
  letter-spacing: .05em;
  color: $gray-light;
  background: $gray-dark;
}

/*fade effect on carousel*/
.carousel-fade .carousel-inner .item {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .item,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  opacity: 0;
}
.carousel-fade .carousel-inner .active,
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-inner .next,
.carousel-fade .carousel-inner .prev,
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.carousel-fade .carousel-control {
  z-index: 2;
}

.container-fluid.carousel.slide { padding: 0px; }
