.carousel img { margin: 0; }

.story-content-padding { padding: 80px 100px 80px 100px; }

.caption { font-size: .925em; line-height: 1.5; margin: 0; padding: 15px 1%; }

.credit { color: darken($gray,10%); }
