.playa input[type=range] {
  -webkit-appearance: none;
  -moz-apperance: none;
  background-color: $gray-dark;
	height: auto;
	border-radius: 1px;
  width: auto;
	margin: -2px;
	padding: 0 !important;
	line-height: 0;
}
 input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  -moz-apperance: none;
	z-index: 3;
  padding: 3px 0;
	height: 5px;
	width: 1.5em;
	border-radius: 1em;
	border: none;
}

.playa, .playa .row {
	padding: 0;
  margin: 0;
  width: 100%;
  min-width: 100%;
}

.playa .btn-group {
  float: left;
  width: auto;
}

.playa .thumbnail  {
	width: 96%;
	padding: 5px 1.5%;
}

#story-audio button,
#story-audio .btn.btn-default,
#story-audio input[type=range] {
  margin: 0 !important;
  float: left;
  width: auto;
  min-width: auto;
}

#story-audio input[type=range] {
  position: relative;
  top: 25%;
  width: 100%;
  height: 50%;
  background: lighten($gray-dark, 10%) !important;
  outline: none;
}

#story-audio input[type=range].seek {
  color: lighten($gray-dark, 10%) !important;
  background: lighten($gray-dark, 10%) !important;
  outline: none;
}

.playa .btn-group .btn { padding: 0 20px; margin: 0 20px; }

#story-audio .well.playa button,
.playa .btn,
.playa .btn:focus,
.playa .btn:active,
.playa .btn.active,
.playa .btn.disabled,
.playa .btn[disabled],
.playa .btn-group  {
	text-align: center;
  background-color: $gray;
  border: solid 1px lighten($gray, 10%);
  outline: none !important;
}

.playa.well, .well,
.playa section.btn-group {
  border: 0 none;
  background-color: rgba(0,0,0,0);
}

.playa .btn-group .btn {
	padding: 4px 15px;
	margin: auto;
	display: inline-block;
	float: none;
}

input::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 20px;
  height: 9px !important;
  border: 1px solid black;
  -webkit-border-radius: 0 !important;
  border-radius: 10px;
  background: $maroon; /* Old browsers */
}
