<div class="container-fluid p-0">
<div class="carousel-container">
<div id="story-full-carousel home" class="p-0 carousel slide carousel-fade" data-interval="false">
	<div id="home-carousel-content-cta" class="container">
		<h6 class="category text-center reverse" style="margin: 0 0 10px 0; font-family: 'Antenna Light', sans-serif;"> School of Law</h5>
		<h1 class="home-lede text-center text-center reverse">Big headgline our community</h1>
		<p class="body home-lede">
			More story here and here
			<a class="cta" href="https://luc.edu"> Read more</a>
		</p>
	</div>
	<div class="carousel-inner" role="listbox">
		<div class="item active">
			<img src="http://placehold.it/1800x450">
		</div>

			</div>
		</div>
	</div>
</div>
