<div id="rail-modules" class="container-fluid p-0 p-t-30 m-b-30">
  <div class="container">
    <div class="col-md-4 flex">
      <div id="rail">
        <h4 class="rail-module"> Our programs</h4>
        <div class="x">
          <h4 class="accordion"><a href="#">Full-Time Juris Doctorate</a></h4>
        </div>
        <div class="x">
          <h4 class="accordion"><a href="#">Part-Time Jusis Doctorate</a></h4>
        </div>
        <div class="x">
          <h4 class="accordion"><a href="#">Dual Degree Programs</a></h4></div>
        <div class="x after">
          <h4 class="accordion"><a href="#">MJ Degrees</a></h4>
          <div class="multilevel-linkdiv-0 panel">
            <a href="#">Juris Doctorate</a><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110093&amp;chid=8&amp;lang=en">MJ</a><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110094&amp;chid=8&amp;lang=en">LLM</a>
            <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110216&amp;chid=8&amp;lang=en">Certificate</a>
          </div>
        </div>
        <div class="x after">
          <h4 class="accordion"><a href="#">LLM Degrees</a></h4>
          <div class="multilevel-linkdiv-0 panel">
            <a href="#">Juris Doctorate</a><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110093&amp;chid=8&amp;lang=en">MJ</a><a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110094&amp;chid=8&amp;lang=en">LLM</a>
            <a href="SiteManager?ctfn=publish&amp;fnno=30&amp;sid=110216&amp;chid=8&amp;lang=en">Certificate</a>
          </div>
        </div>
      </div>
    </div>
    <div id="calendar" class="col-md-4 rule-left">
      <h4 class="rail-module"> Our events</h4>
      <div class="media-container col-md-12 p-0 p-b-20">
        <div class="event">
          <a href="#">
            <div class="calendar-box event-box">
              <span class="day event-day">
                  <p>Wed</p>
			      </span>
              <div class="home-event-date event-date">
                <p>Jun 13</p>
              </div>
            </div>
          </a>
          <div class="media-body">
            <h6 class="category published-date m-b-10" style="margin-top: 10px; font-family: 'Antenna', sans-serif;">00/00/00</h6>
            <a class="#"><h4 class="media-heading">Event name here</h4></a>
          </div>
        </div>
      </div>
      <div class="media-container col-md-12 p-0 p-b-20">
        <div class="event">
          <a href="#">
            <div class="calendar-box event-box">
              <span class="day event-day">
                  <p>Wed</p>
            </span>
              <div class="home-event-date event-date">
                <p>Jun 13</p>
              </div>
            </div>
          </a>
          <div class="media-body">
            <h6 class="category published-date m-b-10" style="margin-top: 10px; font-family: 'Antenna', sans-serif;">00/00/00</h6>
            <a class="#"><h4 class="media-heading">Event name here</h4></a>
          </div>
        </div>
      </div>
      <div class="media-container col-md-12 p-0 p-b-20">
        <div class="event">
          <a href="#">
            <div class="calendar-box event-box">
              <span class="day event-day">
                  <p>Wed</p>
            </span>
              <div class="home-event-date event-date">
                <p>Jun 13</p>
              </div>
            </div>
          </a>
          <div class="media-body">
            <h6 class="category published-date m-b-10" style="margin-top: 10px; font-family: 'Antenna', sans-serif;">00/00/00</h6>
            <a class="#"><h4 class="media-heading">Event name here</h4></a>
          </div>
        </div>
      </div>
      <div class="more">
        <a href="#"><h6 class="category"> See more events </h6></a>
      </div>

    </div>

    <div id="story-module" class="col-md-4 rule-left">
      <h4 class="rail-module"> Our stories</h4>
      <div class="media-container col-md-12 p-0 p-b-20">
        <div class="media-body rule-bottom">
          <a class="#"><h4 class="story-heading">This is a story or headline can go two lines</h4></a>
        </div>
      </div>
      <div class="media-container col-md-12 p-0 p-b-20">
        <div class="media-body rule-bottom">
          <a class="#"><h4 class="story-heading">This is a story or headline</h4></a>
        </div>
      </div>
      <div class="media-container col-md-12 p-0 p-b-20">
        <div class="media-body">
          <a class="#"><h4 class="story-heading">This is a story or headline may be two lines</h4></a>
        </div>
      </div>
    </div>
  </div>
</div>
