<!-- panel - tabs -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h1 class="display">
				Hedgeline is here.
			</h1>
			<p class="body intro">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a>
			</p>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#tab1">Tab one</a></li>
				<li><a data-toggle="tab" href="#tab2">Tab two</a></li>
				<li><a data-toggle="tab" href="#tab3">Tab three</a></li>
			</ul>
			<div class="tab-content">
				<div id="tab1" class="tab-pane fade in active">
					<h2>
						Headline for content here
					</h2>
					<p class="body intro">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a>
					</p>
				</div>
				<div id="tab2" class="tab-pane fade">
					<h2>
						Headline for content here
					</h2>
					<p class="body intro">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a>
					</p>
				</div>
				<div id="tab3" class="tab-pane fade">
					<h2>
						Headline for content here
					</h2>
					<p class="body intro">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</div>
