<!-- panel - canvas-buttons -->
<div id="admission-sites" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 col-sm-12 table-content p-b-10">
			<h5 class="label m-b-0">Canvas panel headline here</h5>
		</div>
		<div class="col-md-12 col-sm-12 buttons-inline p-t-0">
    	<div><a href="###"><button type="submit" class="btn cta">Button label here</button></a></div>
   		<div><a href="###"><button type="submit" class="btn cta">Button label here</button></a></div>
    	<div><a href="###"><button type="submit" class="btn cta">Button label here</button></a></div>
      <div><a href="###"><button type="submit" class="btn cta">Button label here</button></a></div>
		</div>
	</div>
	</div>
</div>
