<!-- panel - canvas-tabs -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
                	<!--<h5 class="label display black">Other ADMISSION SITES</h5>-->
              <div id="content-tabs">
    					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        				<li class="active category"><a href="#highlight-1" data-toggle="tab"><span></span>RICCI Scholars</a></li>
        				<li class="category"><a href="#highlight-2" data-toggle="tab"><span></span>Chicago Center</a></li>
        				<li class="category"><a href="#highlight-3" data-toggle="tab"><span></span>International Students</a></li>
                                        <li class="category"><a href="#highlight-4" data-toggle="tab"><span></span>English as Second Language</a></li>
    					</ul>
							<div id="my-tab-content" class="tab-content">
							<div class="tab-pane fade active in" id="highlight-1">
								<div class="col-md-6">
                                                                <h3 class="standalone">Ricci Scholars</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.<a class="cta" href="http://www.luc.edu/ricci/"> Read more</a> </p> </div>
                                                         <div class="col-md-6">  <a href="http://placehold.it"><img src="http://placehold.it/1000x560"></a> </div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-2">
                                                                <div class="col-md-6">
								<h3 class="standalone">Chicago Center</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.<a class="cta" href="http://luc.edu/chicagocenter/"> Read more</a> </p></div>
                                                        <div class="col-md-6">  <a href="http://placehold.it"><img src="http://placehold.it/1000x560"></a> </div>
							</div><!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-3">
                                                                <div class="col-md-6">
								<h3 class="standalone">International</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.<a class="cta" href="http://www.luc.edu/internationaladmission/"> Read more</a> </p> </div>
                                                        <div class="col-md-6">  <a href="http://placehold.it"><img src="http://placehold.it/1000x560"></a> </div>
							</div><!-- tab-pane - highlight-1 END -->
                                                        <div class="tab-pane fade" id="highlight-4">
                                                                <div class="col-md-6">
								<h3 class="standalone">English Language Learning Program</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.<a class="cta" href="http://www.luc.edu/esl/"> Read more</a></p></div>
                                                        <div class="col-md-6">  <a href="http://placehold.it"><img src="http://placehold.it/1000x560"></a> </div>
							</div><!-- tab-pane - highlight-1 END -->
							</div><!-- my-tab-content END -->
					</div>
		</div>
	</div>
</div>
