<!-- panel - canvas-2-col-accordion -->
<div id="academics-excellence" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-6 table-content width-100">
			<h5 class="label display black m-b-20">Canvas panel headline here</h5>
			<p class="body">Our Centers of Excellence combine academics with action to address some of society’s largest challenges.</p>

			<div class="panel-group accord-blk" id="accordion">
				<div class="panel">
					<div class="panel-heading">
						<h4 class="subhead">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">Accordion 1<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a> 
						</h4>
					</div>
					<div id="collapseOne" class="panel-collapse collapse">
						<div class="panel-body">
							<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p> 
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h4 class="subhead">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Accordion 2<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a> 
						</h4>
					</div>
					<div id="collapseTwo" class="panel-collapse collapse">
						<div class="panel-body">
							<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p> 
						</div>
					</div>
				</div>
				<div class="panel">
					<div class="panel-heading">
						<h4 class="subhead">
							<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Accordion 3<i class="indicator glyphicon glyphicon-chevron-right pull-right"></i></a> 
						</h4>
					</div>
					<div id="collapseThree" class="panel-collapse collapse">
						<div class="panel-body">
							<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
						</div>
					</div>
				</div>
			</div>
			<!-- accordion close -->
			<div class="vertical-rule-left"></div>
		</div>
		
		@@include('canvas-divider-mobile.html')<!-- divider -->
		
		<div class="col-md-6 table-content">
			<div class="vertical-rule-right"></div>
      	<h5 class="label display black m-b-20">Canvas panel headline here</h5>
				<img src="http://placehold.it/1000x560"/>
				<p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.</p>
      	<div style="width: 100%; margin: 10px 0;"><button type="submit" class="btn cta">Read message</button></div>
		</div>
	</div>
</div>