<!-- panel - fullbleed -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-4">
			<img src="http://placehold.it/1000x560"/>
			<h4>Hedgeline is here.</h4>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
		</div>
		<div class="col-md-4">
		<img src="http://placehold.it/1000x560"/>
			<h4>Hedgeline is here.</h4>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
			</div>
		<div class="col-md-4">
			<img src="http://placehold.it/1000x560"/>
			<h4>Hedgeline is here.</h4>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
		</div>
	</div>
</div>