<!-- panel - canvas-4-col-numbers -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label m-b-20">Canvas panel headline here</h5>
		<div class="number col-sm-2 table-content">
			<div class="icon"></div>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-2 table-content">
			<div class="vertical-rule-right"></div>
			<div class="icon"></div>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"></div>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"></div>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"></div>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-sm-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"></div>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit.<a class="cta"> Read more</a></p>
		</div>
	</div>
</div>
