<!-- panel - canvas-image-overlay -->
<div class="container-fluid canvas-base fullbleed enlarge-300 horizontal-08-vertical-03">
	<div class="container-fluid bg-overlay">
	<div class="container canvas-content">
		<div class="col-md-12">
		<h1 class="display">Hedgeline is here.</h1>
		<p class="body intro">Lorem ipsum dolor sit amet, <a href="">consectetur adipiscing</a> elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
		</div>
	</div>
	</div>
</div>
<div id="lead-panel-mobile" class="container-fluid canvas-panel">
	<div class="container canvas-content">
		<div class="col-md-12">
		<h1 class="display">Hedgeline is here.</h1>
		<p class="body intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
		</div>
	</div>
</div>