<!-- panel - canvas-2-col-imgs -->
<div class="container-fluid canvas-base grid">
	<div class="col-md-12">
		<div class="col-md-3"><img src="images/grid/tree-boots.jpg"></div>
		<div class="col-md-3"><img src="images/grid/tree-chainsaw.jpg"></div>
		<div class="col-md-3"><img src="images/grid/tree-crane.jpg"></div>
		<div class="col-md-3"><img src="images/grid/tree-cutting.jpg"></div>
	</div>
	<div class="col-md-12">
		<div class="col-md-3"><img src="images/grid/tree-measure.jpg"></div>
		<div class="col-md-3"><img src="images/grid/tree-night.jpg"></div>
		<div class="col-md-3"><img src="images/grid/tree-roadside.jpg"></div>
		<div class="col-md-3"><img src="images/grid/tree-sharpening.jpg"></div>
	</div>
	<div class="col-md-12">
		<div class="col-md-3"><img src="images/grid/tree-stack.jpg"></div>
		<div class="col-md-3"><img src="images/grid/tree-survey.jpg"></div>
		<div class="col-md-3"><img src="images/grid/tree-truck.jpg"></div>
		<div class="col-md-3"><img src="images/grid/tree-woods.jpg"></div>
	</div>
</div>
