<!-- panel - canvas-2-col-accordion -->
<div id="" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label m-b-20">Canvas panel headline here</h5>
			<p class="body">Our Centers of Excellence combine academics with action to address some of society’s largest challenges.</p>
		</div>
				<div class="card-hover">
					<img class="image" src="http://placehold.it/1000x560"/>
					<div class="overlay">
    				<div class="text">
							“(My internship) taught me the role that social workers and government agencies play in helping immigrants in their new country—and it encouraged me to one day pursue a career in public service.”
						</br><span class="antenna"><a hef="#">–Aqela Rahman</a></span>
					</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="http://placehold.it/1000x560"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="http://placehold.it/1000x560"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="http://placehold.it/1000x560"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="http://placehold.it/1000x560"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="http://placehold.it/1000x560"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="http://placehold.it/1000x560"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="http://placehold.it/1000x560"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
				<div class="card-hover">
					<img class="image" src="http://placehold.it/1000x560"/>
					<div class="overlay">
    				<div class="text">Hello World</div>
  				</div>
				</div>
			</div>
		</div>
