<!-- panel - canvas-buttons -->
<div id="admission-sites" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
			<h5 class="label display black">Canvas panel headline here</h5>
		</div>
		<div class="col-md-12 buttons-inline">
    	<div><a href="###"><button type="submit" class="btn cta">Button label here</button></a></div>
   		<div><a href="###"><button type="submit" class="btn cta">Button label here</button></a></div>
    	<div><a href="###"><button type="submit" class="btn cta">Button label here</button></a></div>
      <div><a href="###"><button type="submit" class="btn cta">Button label here</button></a></div>
		</div>
	</div>
</div>