<!-- panel - fullbleed -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="number col-sm-4">
			<h1 class="display number">0000</h1>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
		</div>
		<div class="number col-sm-4">
			<h1 class="display number">0000</h1>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
			</div>
		<div class="number col-sm-4">
			<h1 class="display number">0000</h1>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
		</div>
	</div>
</div>