<!-- panel - canvas-2-col-accordion -->
<div id="academics-excellence" class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-6 table-content">
			<h5 class="label m-b-20">Canvas panel headline here</h5>
			<h3>Hedgeline is here.</h3>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>

		<div class="col-md-6 table-content">
			<div class="vertical-rule-right"></div>
				<img src="http://placehold.it/1000x560"/>
				<p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.</p>
		</div>
	</div>
</div>
