<!-- panel - canvas-2-col -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12">
			<h5 class="label m-b-20">Canvas panel headline here</h5>
		</div>
		<div class="col-md-6 table-content">
			<h3>Hedgeline is here.</h3>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="col-md-6 table-content">
			<div class="vertical-rule-right"></div>
			<h3>Hedgeline is here.</h3>
			<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a <a href="">justo dignissim</a>, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
		</div>
	</div>
</div>
