<!-- panel - quote overlay -->
	<div class="quote container-fluid canvas-base">
		<div class="row">
				<div class="container canvas-content blockquote-spacing">
					<h5 class="label m-b-20">Canvas panel headline here</h5>
					<div class="col-md-2 bigquote-left">
						<img src="images/site/blockquote-L.png">
					</div>
					<div class="col-md-8">
						<blockquote>
							<p>
								<span class="small-quote">&ldquo;</span>This is a blockquote breakout, ipsum dolor sit amet. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit. Consectetur adipiscing elit ipsum dolor sit amet, consectetur adipiscing elit.<span class="small-quote">&rdquo;</span>
							</p>
						<cite>— Blockquote cite, CEO</cite>
						</blockquote>
					</div>
					<!-- <div class="blockquote-right"> -->
					<div class="col-md-2 bigquote-right">
						<img src="images/site/blockquote-R.png">
					</div>
				</div>
			</div>
	</div>
