<!-- panel - canvas-tabs -->
<div class="container-fluid canvas-base">
	<div class="container canvas-content">
		<div class="col-md-12 table-content">
                	<!--<h5 class="label display black">Other ADMISSION SITES</h5>-->
              <div id="content-tabs">
    					<ul id="tabs" class="nav nav-tabs" data-tabs="tabs">
        				<li class="active category"><a href="#highlight-5" data-toggle="tab"><span></span>Freshman</a></li>
        				<li class="category"><a href="#highlight-6" data-toggle="tab"><span></span>Transfer</a></li>
        				<li class="category"><a href="#highlight-7" data-toggle="tab"><span></span>International</a></li>
							</ul>

							<div id="my-tab-content" class="tab-content">
							<div class="tab-pane fade active in" id="highlight-5">
								<div class="col-md-4 table-content">
                <h4>Lorem ipsum</h4>
								<div class="panel-group accord-blk" id="accordion">
									<div class="panel">
										<div class="panel-heading">
											<h4 class="subhead">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Accordion 1<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
											</h4>
										</div>
										<div id="collapseFive" class="panel-collapse collapse">
											<div class="panel-body">
												<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
											</div>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h4 class="subhead">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Accordion 2<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
											</h4>
										</div>
										<div id="collapseSix" class="panel-collapse collapse">
											<div class="panel-body">
												<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
											</div>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h4 class="subhead">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">Accordion 3<i class="indicator glyphicon glyphicon-chevron-right pull-right"></i></a>
											</h4>
										</div>
										<div id="collapseSeven" class="panel-collapse collapse">
											<div class="panel-body">
												<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
											</div>
										</div>
									</div>
								</div>
							</div>
              <div class="col-md-4 table-content">
								<h4>Lorem ipsum</h4>
								<div class="panel-group accord-blk" id="accordion">
									<div class="panel">
										<div class="panel-heading">
											<h4 class="subhead">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">Accordion 1<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
											</h4>
										</div>
										<div id="collapseEight" class="panel-collapse collapse">
											<div class="panel-body">
												<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
											</div>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h4 class="subhead">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseNine">Accordion 2<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
											</h4>
										</div>
										<div id="collapseNine" class="panel-collapse collapse">
											<div class="panel-body">
												<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
											</div>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h4 class="subhead">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">Accordion 3<i class="indicator glyphicon glyphicon-chevron-right pull-right"></i></a>
											</h4>
										</div>
										<div id="collapseTen" class="panel-collapse collapse">
											<div class="panel-body">
												<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
											</div>
										</div>
									</div>
								</div>
								<div class="vertical-rule-right"></div>
							</div>

							<div class="col-md-4 table-content">
								<h4>Lorem ipsum</h4>
								<div class="panel-group accord-blk" id="accordion">
									<div class="panel">
										<div class="panel-heading">
											<h4 class="subhead">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseEleven">Accordion 1<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
											</h4>
										</div>
										<div id="collapseEleven" class="panel-collapse collapse">
											<div class="panel-body">
												<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
											</div>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h4 class="subhead">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwelve">Accordion 2<i class="indicator glyphicon glyphicon-chevron-right  pull-right"></i></a>
											</h4>
										</div>
										<div id="collapseTwelve" class="panel-collapse collapse">
											<div class="panel-body">
												<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
											</div>
										</div>
									</div>
									<div class="panel">
										<div class="panel-heading">
											<h4 class="subhead">
												<a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThirteen">Accordion 3<i class="indicator glyphicon glyphicon-chevron-right pull-right"></i></a>
											</h4>
										</div>
										<div id="collapseThirteen" class="panel-collapse collapse">
											<div class="panel-body">
												<p class="body small">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.</p>
											</div>
										</div>
									</div>
								</div>

								<div class="vertical-rule-right"></div>
							</div>
				</div>
<!-- tab-pane - highlight-1 END -->
							<div class="tab-pane fade" id="highlight-6">
                                                                <div class="col-md-6">
								<h3 class="standalone">Chicago Center</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.<a class="cta" href="http://luc.edu/chicagocenter/"> Read more</a> </p></div>
                                                        <div class="col-md-6">  <a href="http://placehold.it"><img src="http://placehold.it/1000x560"></a> </div>
							</div><!-- tab-pane - highlight-1 END -->

                                                        <div class="tab-pane fade" id="highlight-7">
                                                                <div class="col-md-6">
								<h3 class="standalone">English Language Learning Program</h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.<a class="cta" href="http://www.luc.edu/esl/"> Read more</a></p></div>
                                                        <div class="col-md-6">  <a href="http://placehold.it"><img src="http://placehold.it/1000x560"></a> </div>
							</div><!-- tab-pane - highlight-1 END -->
							</div><!-- my-tab-content END -->
					</div>
		</div>
	</div>
</div>
