<div id="resources" class="container-fluid canvas-base">
	<div class="container canvas-content">
	<div class="col-md-12 table-content space">
             <h5 class="label">You might also be interested in...</h5>
		<div class="number first-number col-md-2 table-content">
			<div class="icon"> <img src="images/cost/cost-paulette-saldana.jpg"/> </div>
			<h5 class="label-small bold">Life at Loyola</h5>
			<p class="body small"> </p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
			<div class="vertical-rule-right"></div>
			<div class="icon"> <img src="<t4 type="media" id="472893" formatter="path/*"/>"> </div>
			<h5 class="label-small bold">Sustainability</h5>
			<p class="body small"></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"> <img src="<t4 type="media" id="472165" formatter="path/*"/>"> </div>
			<h5 class="label-small bold">Chicago</h5>
			<p class="body small"></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"> <img src="<t4 type="media" id="472161" formatter="path/*"/>"> </div>
			<h5 class="label-small bold">Study Abroad</h5>
			<p class="body small"></p>
			<div class="vertical-rule-left"></div>
		</div>
		<div class="number col-md-2 table-content">
		<div class="vertical-rule-right"></div>
			<div class="icon"> <img src="<t4 type="media" id="472163" formatter="path/*"/>"> </div>
			<h5 class="label-small bold">Alumni Outcomes</h5>
			<p class="body small"></p>
			<div class="vertical-rule-left"></div>
		</div>
	   </div>
      </div>
</div>
