<div class="container-fluid p-0 overlay-relative">
  <img class="float-left m-0" src="http://placehold.it/1800x735"/>
  <div class="overlay-absolute overlay-40 equal-box-container">
    <div class="container story-content-padding equal-box p-r-0 p-l-0">
      <div class="flex-bottom-vertically">
        <blockquote class="blockquote-overlay display uppercase"><span class="open-quote">&lsquo;</span>Blockquote Lorem ipsum dolor sit amet elit.</blockquote>
        <cite class="cite-overlay m-t-0 m-b-0">— Someone Namehere <a class="cta">Learn more</a></cite>
      </div>
    </div>
  </div>
</div>
