<div id="story-multi-text-display" class="container-fluid story-content-padding equal-box-container">
  <div class="col-md-12 p-0">
    <div class="col-md-4 rule-left-small-spacing equal-box">
      <h1 class="number m-t-0 m-b-0">00,000</h1>
      <p class="caption display medium m-b-0 p-b-0"><span class="leadin">Lorem ipsum dolor sit amet.</span> Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit.</p>
    </div>
    <div class="col-md-4 p-0 rule-left-small rule-left-small-spacing equal-box">
      <h1 class="number m-t-0 m-b-0">00,000</h1>
      <p class="caption display medium m-b-0 p-b-0"><span class="leadin">Lorem ipsum dolor sit amet.</span> Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit.</p>
    </div>
    <div class="col-md-4 rule-left-small equal-box">
      <h1 class="number m-t-0 m-b-0">00,000</h1>
      <p class="caption display medium m-b-0 p-b-0"><span class="leadin">Lorem ipsum dolor sit amet.</span> Ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit.</p>
    </div>
  </div>
</div>
