<div class="container-fluid bg-white story-content-padding">
  <div class="container p-l-0 p-r-0">
  <div class="col-md-12 m-b-30">
    <h5 class="label light">Label readout hereher</h5>
    <h1 class="display m-b-30">Headgline here here</h1>
  </div>
  <div class="col-md-12 rule-left-spacing">
    <p class="intro display">
      <span class="leadin">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</span> Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor.
    </p>
  </div>
</div>
</div>
