<div class="col-md-12 row" id="overview">
<p class="intro">
      Loyola's Juris Doctor (JD) program combines the academic rigor you expect with the practical experience you'll need to rise above the competition. We know there's more to a legal education than mastering "black letter" law. Working with our nationally-recognized faculty, you'll learn to effectively apply the law to real-world scenarios. As a Loyola graduate, you'll be prepared for practice from day one, ready to meet (and exceed) the demands of prospective clients and employers.
</p>
<h6 class="category">Our commitment to you</h6>
<p class="body">
Upon graduation with a JD degree from Loyola, you will possess the following knowledge, skills, and professional values necessary to commence the ethical practice of law:
</p>

<div class="panel-group accord-blk" id="faq">

  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq" href="#collapseOb1">
          Knowledge
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseOb1" class="panel-collapse collapse">
      <div class="panel-body">
        <p class="body">
          You will be proficient in substantive and procedural law, including the influence of the administrative state, political institutions, and other academic disciplines.
        </p>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->

  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOb2">
          Skills
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseOb2" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="col-md-12">
          <p class="body">You will be able to:</p>
          <ul>
            <li>Utilize skills derived from participation in supervised live-client experience, externships, or litigation and transactional practice simulations, such as interviewing, counseling, negotiation, mediation, fact development and analysis, trial practice, document drafting, and collaborative work;</li>
            <li>Determine your clients' needs and objectives;</li>
            <li>Determine relevant facts and understand their relevance to your client's legal position;</li>
            <li>Conduct legal research;</li>
            <li>Analyze and apply relevant legal principles;</li>
            <li>Find solutions to legal problems; and</li>
            <li>Communicate legal concepts clearly and effectively, both orally and in writing.</li>
        </div>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->

  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOb3">
          Professional Values
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseOb3" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="col-md-12">
          <p class="body">You will have a solid foundation that will prepare you to use your knowledge and skills to promote truth, justice, and the rule of law. You will be able to:</p>
          <ul>
            <li>Integrate professional values;</li>
            <li>Exercise ethically responsible judgment in your legal practice and your work within the legal system;</li>
            <li>Understand the rules, ethics, and values of the legal profession, such as honesty, civility and work-ethic;</li>
            <li>Know the significance of a commitment to your clients and to the legal system; and</li>
            <li>Understand the importance of using your knowledge and skills in the service to those less fortunate and in need of legal assistance.</li>
        </div>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
</div>

</div>
