<div class="col-md-12 row section-top" id="Curriculum">
<h2 class="secondary-explainer">Curriculum</h2>
<p class="body">
  In your first year at Loyola, you’ll work closely with our highly regarded faculty to learn the art of legal analysis and foundations of the American legal system. You're also eligible to choose an elective course of interest to you. If you decide to specialize, our programs offer everything you need.
</p>

<div class="panel-group accord-blk" id="accordion">
  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          First Year Fall Semester
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-group accord-blk nested" id="accordion-2">

          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse1">
                  Civil Procedure (4 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                Civil Procedure provides an introduction to and analysis of the concepts and doctrines that govern the procedure followed in civil litigation.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2">
                  Property (4 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse-2" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Property is a study of interests in land and personal property emphasizing the modern law of donative transfers, estates and future interests, co-tenancy, conveyancing, and land title assurance.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-3">
                  Torts (4 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse-3" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Torts introduces the substantive law governing compensation for injuries to property and to the person, including negligence, malpractice, intentional wrongs, strict and products liability, and invasions of personal integrity.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-4">
                  Legal Writing (2 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse-4" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Legal Writing I focuses on analyzing and applying legal authorities to particular fact situations. Through a series of legal memoranda writing assignments, students develop their analytical and writing skills.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
        </div> <!-- close nested -->
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->

  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          First Year Spring Semester
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-group accord-blk nested" id="accordion-3">

          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapse5">
                  Constitutional Law (4 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                Constitutional Law is an introduction to the United States Constitution. Subjects include the role of the United States Supreme Court, federalism, and separation of powers.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapse6">
                  Contracts (4 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Contracts provides an analysis of the formation, transfer, and termination of contract rights and duties, and the legal and equitable remedies available upon breach of contract.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapse7">
                  Criminal Law (3 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse7" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Criminal Law utilizes primarily statutes to examine principles that apply to many crimes, explaining the elements of specific crimes, and explores theories of punishment.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapse9">
                  Legal Writing II (2 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse9" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                Legal Writing II builds on the basic writing, analysis, and research skills learned in Legal Writing I and introduces persuasive writing skills.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapse8">
                Perspective Elective (2-3 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse8" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Students can choose from an elective course that examines perspectives on the law and justice. All students must complete a perspective elective before graduation.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
        </div> <!-- close nested -->
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->

  <div class="panel">
    <div class="panel-heading uppercase">
      <h4 class="subhead display">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Second Year Fall Semester
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-group accord-blk nested" id="accordion-4">

          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-4" href="#collapse10">
                  Advocacy (2 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse10" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
               Advocacy focuses on persuasive written and oral communication skills which are necessary for critical analysis and the competent representation of all clients.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
        </div> <!-- close nested -->
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->

  <div class="panel">
    <div class="panel-heading uppercase">
      <h4 class="subhead display">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
         Upper Level Required Courses
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseFour" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-group accord-blk nested" id="accordion-5">

          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-5" href="#collapse11">
                  Skills Training Course (2 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse11" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
               A skills class is one that offers substantial instruction in the professional skills generally regarded as necessary for effective and responsible participation in the legal profession. All J.D. students are required to complete the skills course requirement prior to graduation.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-5" href="#collapse12">
                  Experiential Learning (6 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse12" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                   Experiential learning classes enable students to perform their legal knowledge, skills and values in a real or simulated practice setting with intense, ongoing law school supervision and assessment. Examples include live-client clinics, judicial or non-judicial externships, practica, or comprehensive simulations.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-5" href="#collapse13">
                  Professional Responsibility (3 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse13" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                   Professional Responsibility focuses on ethical questions in the practice of law, and examines the basic premises underlying the lawyer-client relationship and the duties assumed by the members of the legal profession.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
        </div> <!-- close nested -->
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Highly Recommended Courses
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseFive" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-group accord-blk nested" id="accordion-6">

          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-6" href="#collapse14">
                  Administrative Law (3 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse14" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                Administrative Law examines the rules by which federal administrative agencies operate, including the source of administrative authority and procedures governing the exercise of that authority.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-6" href="#collapse15">
                  Business Organizations (4 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse15" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Business Organizations focuses on the law governing the organization and functioning of corporations and other business entities
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-6" href="#collapse16">
                  Evidence (4 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse16" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Evidence provides an evaluation of the rules used to present information to a fact finder in a trial with a focus on the rules of relevancy, the rules governing witnesses, and the rules against hearsay.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-6" href="#collapse17">
                  Federal Income Tax (3 credits)
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse17" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                Federal Income Tax introduces and analyzes the basic concepts underlying the law of federal income taxation, including gross income, identification of the taxpayer, deductions, timing of income, and characterization and recognition.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-6" href="#collapse18">
                  Rigorous Writing Course
                  <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse18" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Lorem ipsum description to come.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
        </div> <!-- close nested -->
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
</div>

<div class="footnote">
<h6 class="faq small">  Degree Requirements  </h6>
        <p class="body small">To earn a JD degree, you must complete 86 credit hours of coursework. A minimum of 6 credit hours of experiential learning are required. Your first year coursework provides a strong, structured foundation. During the next two years you will tailor your courses, experiential learning, and course delivery to meet your goals and interests. Visit our Registrar for a complete list of degree requirements, academic calendars, and registration process.</p>
</div>
</div>
