<div class="col-md-12 row section-top" id="Admission">
<h2 class="secondary-explainer">Admission</h2>
<p class="body">
  Juris Doctor (JD) applicants are required to take the Law School Admission Test (LSAT). LSAT registration can be completed in the LSAC website. The test is offered four times each year.
</p>

<div class="panel-group accord-blk" id="accordion">

  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-8" href="#collapseAdmission">
          Admission Requirements
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseAdmission" class="panel-collapse collapse">
      <div class="panel-body">
        <p class="body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
        </p>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->

  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-8" href="#collapseDates">
          Dates and Deadlines &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseDates" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="col-md-6">
          <p class="body small">
            <span class="leadin">Anim pariatur cliche reprehenderit</span>
          </p>
        </div>
        <div class="col-md-6">
          <p class="body small">
            <span class="leadin">Nihil anim keffiyeh helvetica</span>
          </p>
        </div>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->

</div>
</div>
