<div id="story-introduction" class="container-fluid bg-white story-content-padding">
  <div class="col-md-12">
    <h5 class="label">Label herehere <span style="font-family: 'Antenna Light', sans-serif;"> Label readout herehere</span></h5>
    <h1 class="display m-b-30">JD Program</h1>
    <h2 class="secondary-explainer">Overview</h2>
  </div>
  <div class="col-md-9 rule-left-spacing">
    <p class="intro">
     Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Donec auctor iaculis maximus. Morbi nulla erat, lacinia ut lacus et, pulvinar cursus nunc. Proin id imperdiet velit, ac accumsan lacus. Mauris bibendum eget magna at tempor. Duis sed enim ac enim porttitor viverra eu id ligula. Suspendisse iaculis est sed dictum vehicula. Duis sed justo at nibh aliquam aliquam. Pellentesque eu mi eu enim dictum dictum.
    </p>
    <hr>
    <h2 class="secondary-explainer">Curriculum</h2>
    <p class="body">
      In your first year at Loyola, you’ll work closely with our highly regarded faculty to learn the art of legal analysis and foundations of the American legal system. You're also eligible to choose an elective course of interest to you. If you decide to specialize, our programs offer everything you need.
    </p>
  </div>
  <div class="col-md-3 col-sm-6 rule-left">
    <h4 class="subhead m-t-0">Navigation</h4>
    <img src="http://placehold.it/1000x1500">
    <p class="body small">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim.
    </p>
  </div>
</div>
