<div class="col-md-12 row section-top" id="Outcomes">
<h2 class="secondary-explainer">Outcomes</h2>
<p class="body">
  The School of Law and Loyola's Office of Student Financial Assistance are committed to helping students secure the necessary financial resources to make their legal education at Loyola affordable.
</p>

<div class="col-md-12 p-0 m-t-20">
<div class="col-md-4 p-l-0">
<img src="http://via.placeholder.com/1000x560">
<p class="name m-t-10 m-b-0">Firstname Lastname, JD '10</p>
<p class="number small m-t-0">Title or firm</p>
<blockquote class="small">“The technology Loyola utilizes outside of the classroom allows students to study at times that fit their busy schedules.”</blockquote>
<a class="cta small m-l-0">Read more</a>
</div>
<div class="col-md-4 p-l-0">
<img src="http://via.placeholder.com/1000x560">
<p class="name m-t-10 m-b-0">Firstname Lastname, JD '10</p>
<p class="number small m-t-0">Title or firm</p>
<blockquote class="small">“The technology Loyola utilizes outside of the classroom allows students to study at times that fit their busy schedules.”</blockquote>
<a class="cta small m-l-0">Read more</a>
</div>
<div class="col-md-4 p-l-0">
<img src="http://via.placeholder.com/1000x560">
<p class="name m-t-10 m-b-0">Firstname Lastname, JD '10</p>
<p class="number small m-t-0">Title or firm</p>
<blockquote class="small">“The technology Loyola utilizes outside of the classroom allows students to study at times that fit their busy schedules.”</blockquote>
<a class="cta small m-l-0">Read more</a>
</div>
</div>
</div>
