<div class="col-md-12 row section-top" id="Admission">
<h2 class="secondary-explainer">Admission</h2>
<p class="body">
  Juris Doctor (JD) applicants are required to take the Law School Admission Test (LSAT). LSAT registration can be completed in the LSAC website. The test is offered four times each year.
</p>

<div class="container-fluid p-0">
<div id="story-accordion" class="container story-content-padding p-0" style="width: 100%;">
  <div class="col-md-12 p-0">
    <div id="accordion" class="m-t-15">
      <h4 class="accordion">Headline accordion one anim pariatur cliche</h4>
      <div class="panel">
        <div class="container-fluid p-0">
        <div id="story-accordion" class="container story-content-padding" style="width: 100%;">
          <div class="col-md-12">
            <div id="accordion-nested" class="m-t-15">
              <h4 class="accordion-nested">Headline accordion one anim pariatur cliche</h4>
              <div class="panel-nested">
                <p class="body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.
                </p>
              </div>
              <h4 class="accordion-nested">Headline accordion two anim pariatur cliche</h4>
              <div class="panel-nested">
                <p class="body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
              </div>
              <h4 class="accordion-nested">Headline accordion three anim pariatur cliche</h4>
              <div class="panel-nested">
                <p class="body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
              </div>
            </div>
          </div>
        </div>
        </div>

        </p>
      </div>
      <h4 class="accordion">Headline accordion two anim pariatur cliche</h4>
      <div class="panel">
        <p class="body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
      </div>
      <h4 class="accordion">Headline accordion three anim pariatur cliche</h4>
      <div class="panel">
        <p class="body">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et.</p>
      </div>
    </div>
  </div>
</div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function(event) {
    var acc = document.getElementsByClassName("accordion");
    var panel = document.getElementsByClassName('panel');
    for (var i = 0; i < acc.length; i++) {
      acc[i].onclick = function() {
        var setClasses = !this.classList.contains('active');
        setClass(acc, 'active', 'remove');
        setClass(panel, 'show', 'remove');
        if (setClasses) {
          this.classList.toggle("active");
          this.nextElementSibling.classList.toggle("show");
        }
      }
    }
    function setClass(els, className, fnName) {
      for (var i = 0; i < els.length; i++) {
        els[i].classList[fnName](className);
      }
    }
  });

  document.addEventListener("DOMContentLoaded", function(event) {

  var acc = document.getElementsByClassName("accordion-nested");
  var panel = document.getElementsByClassName('panel-nested');

  for (var i = 0; i < acc.length; i++) {
     acc[i].onclick = function() {
         var setClasses = !this.classList.contains('active');
         setClass(acc, 'active', 'remove');
         setClass(panel, 'show', 'remove');
         if (setClasses) {
             this.classList.toggle("active");
             this.nextElementSibling.classList.toggle("show");
         }
     }
  }

  function setClass(els, className, fnName) {
     for (var i = 0; i < els.length; i++) {
         els[i].classList[fnName](className);
     }
  }

  });

</script>


<div class="panel-group accord-blk" id="accordion">

  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseAdmission">
          Admission Requirements
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseAdmission" class="panel-collapse collapse">
      <div class="panel-body">
        <p class="body">
        To apply for the JD program, you must possess a Bachelor's degree from an accredited college or university or the international equivalent. You must take and submit the Law School Admission Test (LSAT).
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->

  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseDates">
          Dates and Deadlines
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseDates" class="panel-collapse collapse">
      <div class="panel-body">
          <ul>
            <li><span class="antenna">October 1:</span> Application for admission opens</li>
            <li><span class="antenna">January 15:</span> Early Notification Deadline</li>
            <li><span class="antenna">April 1:</span> Priority deadline for submission of application for admission</li>
            <li><span class="antenna">April 30:</span> Priority deadline for submission of documentation to complete application</li>
            <li><span class="antenna">July 1:</span> Final deadline for submission of application for admission</li>
            <li><span class="antenna">July 15:</span> Final deadline for submission of documentation to complete application</li>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->

</div>
</div>
