<div class="col-md-12 row rule-top" id="Admission">
<h2 class="secondary-explainer">Admission</h2>
<p class="body">
  Juris Doctor (JD) applicants are required to take the Law School Admission Test (LSAT). LSAT registration can be completed in the LSAC website. The test is offered four times each year.
</p>

<div class="panel-group accord-blk" id="accordion">
  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwenty">
          Admission Requirements
          <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseTwenty" class="panel-collapse collapse">
      <div class="panel-body">

          </div><!-- panel -->
        </div><!-- panel -->
      </div>

          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapseEight">
                  Dates and Deadlines
                  <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapseEight" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Legal Writing I focuses on analyzing and applying legal authorities to particular fact situations. Through a series of legal memoranda writing assignments, students develop their analytical and writing skills.
                </p>
              </div>

      </div><!-- panel-collapse -->
    </div><!-- panel -->
  </div>

</div>
