<div>
<p class="intro">
      The Juris Doctor (JD) program at Loyola University Chicago School of Law creates a learning environment balancing academic rigor with practical experience. Our students, professors, and administrators share a passion for using their knowledge to serve the community. Annually, more than two-thirds of the student body participate in public service activities.
</p>
<p class="intro">
  Employers are increasingly demanding practice-ready law graduates. Our students complete at least six credit hours in externships, comprehensive simulation courses, clinics, or practica. Working with a faculty of nationally-recognized leaders in their fields, you’ll learn to apply substantive law in service to clients in a real practice setting before graduation.
</p>
</div>
