<div class="col-md-12 row rule-top section-top" id="Faqs">
<h2 class="secondary-explainer">Frequently Asked Questions</h2>

<div class="panel-group accord-blk" id="faq">
  <div class="panel">
    <div class="panel-heading">
      <p class="faq">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq" href="#collapseFAQ1">
          Which undergraduate courses do I need to take to be prepared for law school?
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </p>
    </div><!-- panel-heading -->
    <div id="collapseFAQ1" class="panel-collapse collapse">
      <div class="panel-body">
        <p class="body">There is no required or recommended undergraduate major or set of courses to prepare for law school. Students are admitted to law school each year from a wide range of academic majors. Some choose to major in somewhat traditional areas such as political science, English, history, etc. others in subjects such as music, engineering and fine arts. It is recommended that you select a major and choose courses that are both challenging and of interest to you. For applicants to Loyola, the five most popular majors are Economics, English, Finance, Political Science and Psychology.
        </p>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->

  <div class="panel">
    <div class="panel-heading">
      <p class="faq">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq" href="#collapseFAQ2">
           How long does it usually take to graduate from law school?
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </p>
    </div><!-- panel-heading -->
    <div id="collapseFAQ2" class="panel-collapse collapse">
      <div class="panel-body">
<p class="body">It typically takes three years to graduate from the Full-time JD program and four years to complete the Weekend JD program. This time frame does not include summer classes.</p>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
  <div class="panel">
    <div class="panel-heading">
      <p class="faq">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq" href="#collapseFAQ3">
           How do I register for the LSAT?
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </p>
    </div><!-- panel-heading -->
    <div id="collapseFAQ3" class="panel-collapse collapse">
      <div class="panel-body">
<p class="body">You can go to the Law School Admission Council's (LSAC) website to register for the LSAT. The exam is offered four (4) times a year: June, October, December, and February. Your score is active for five years with LSAC.</p>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
  <div class="panel">
    <div class="panel-heading">
      <p class="faq">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq" href="#collapseFAQ4">
           Will applying by the Early Notification deadline increase my chances of being admitted?
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </p>
    </div><!-- panel-heading -->
    <div id="collapseFAQ4" class="panel-collapse collapse">
      <div class="panel-body">
<p class="body">The same standards and criteria are used to evaluate all applicants, whether the application is completed early or not. However, Loyola has several special scholarships/fellowships with a March 1 deadline. You must be admitted by this date to be considered.</p>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
  <div class="panel">
    <div class="panel-heading">
      <p class="faq">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq" href="#collapseFAQ5">
           How can I check the status of my application?
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </p>
    </div><!-- panel-heading -->
    <div id="collapseFAQ5" class="panel-collapse collapse">
      <div class="panel-body">
<p class="body">Once you submit an application, you can check the status of your application online. You should monitor the status of your application and report from LSAC to ensure the School of Law has received all required application materials.</p>
<p class="body">The Admission Committee begins reviewing applications in late December. To qualify for early notification, which is non-binding, we need all required documents by January 15. You will then receive a decision no later than February 15. All admission decisions will be sent by email.</p>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
  <div class="panel">
    <div class="panel-heading">
      <p class="faq">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq" href="#collapseFAQ6">
           Do you grant deferrals on offers of admission?
          <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
        </a>
      </p>
    </div><!-- panel-heading -->
    <div id="collapseFAQ6" class="panel-collapse collapse">
      <div class="panel-body">
<p class="body">Deferrals will only be granted on a case-by-case basis. Candidates need to submit a formal request. There is also a financial deposit associated with deferment. Teach for America participants and those called for active military duty automatically receive a deferment upon request.</p>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
</div>
<div class="panel">
  <div class="panel-heading">
    <p class="faq">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq" href="#collapseFAQ7">
        What are the LSAT/GPA ranges for admission to Loyola?
        <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
      </a>
    </p>
  </div><!-- panel-heading -->
  <div id="collapseFAQ7" class="panel-collapse collapse">
    <div class="panel-body">
<p class="body">For the Fall 2017 entering class, the range was:</br>
LSAT - 25th% = 154, 50th% = 158, 75th% = 160</br>
GPA - 25th% = 3.09, 50th% = 3.30, 75th% = 3.64</p>
  </div><!-- panel-collapse -->
</div><!-- panel -->
</div>
<div class="panel">
  <div class="panel-heading">
    <p class="faq">
      <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#faq" href="#collapseFAQ7">
        What are the qualifications for Admission to the Bar?
        <span class="accordion-icon"><img src="images/luc-edu-accordion-arrow.png"></span>
      </a>
    </p>
  </div><!-- panel-heading -->
  <div id="collapseFAQ7" class="panel-collapse collapse">
    <div class="panel-body">
<p class="body">In addition to a bar examination, there are character, fitness, and other qualifications for admission to the bar in every U.S. jurisdiction. You are encouraged to determine the specific requirements by contacting any jurisdiction in which you intend to seek admission. The National Conference of Bar Examiners offers contact information for all relevant agencies.</p>
  </div><!-- panel-collapse -->
</div><!-- panel -->
</div>
</div>
</div>
