<div class="col-md-12 row rule-top" id="Faqs">
<h2 class="secondary-explainer">Frequently Asked Questions</h2>
<p class="body">
  In your first year at Loyola, you’ll work closely with our highly regarded faculty to learn the art of legal analysis and foundations of the American legal system. You're also eligible to choose an elective course of interest to you. If you decide to specialize, our programs offer everything you need.
</p>

<div class="panel-group accord-blk" id="accordion">
  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          Which undergraduate courses do I need to take to be prepared and more competitive for law school?
          <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseOne" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-group accord-blk nested" id="accordion-2">

          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse1">
                  Civil Procedure (4 credits)
                  <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse1" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                Civil Procedure provides an introduction to and analysis of the concepts and doctrines that govern the procedure followed in civil litigation.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-2">
                  Property (4 credits)
                  <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse-2" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Property is a study of interests in land and personal property emphasizing the modern law of donative transfers, estates and future interests, co-tenancy, conveyancing, and land title assurance.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-3">
                  Torts (4 credits)
                  <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse-3" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Torts introduces the substantive law governing compensation for injuries to property and to the person, including negligence, malpractice, intentional wrongs, strict and products liability, and invasions of personal integrity.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-2" href="#collapse-4">
                  Legal Writing (2 credits)
                  <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse-4" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Legal Writing I focuses on analyzing and applying legal authorities to particular fact situations. Through a series of legal memoranda writing assignments, students develop their analytical and writing skills.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
        </div> <!-- close nested -->
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->

  <div class="panel">
    <div class="panel-heading">
      <h4 class="subhead uppercase">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Spring 1L Semester
          <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h4>
    </div><!-- panel-heading -->
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
        <div class="panel-group accord-blk nested" id="accordion-3">

          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapse5">
                  Constitutional Law (4 credits)
                  <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse5" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                Constitutional Law is an introduction to the United States Constitution. Subjects include the role of the United States Supreme Court, federalism, and separation of powers.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapse6">
                  Contracts (4 credits)
                  <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse6" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Contracts provides an analysis of the formation, transfer, and termination of contract rights and duties, and the legal and equitable remedies available upon breach of contract.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapse7">
                  Criminal Law (3 credits)
                  <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse7" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Criminal Law utilizes primarily statutes to examine principles that apply to many crimes, explaining the elements of specific crimes, and explores theories of punishment.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapse9">
                  Legal Writing II (2 credits)
                  <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse9" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                Legal Writing II builds on the basic writing, analysis, and research skills learned in Legal Writing I and introduces persuasive writing skills.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
          <div class="panel">
            <div class="panel-heading">
              <h4 class="subhead uppercase">
                <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion-3" href="#collapse8">
                Perspective Elective (2-3 credits)
                  <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
                </a>
              </h4>
            </div><!-- panel-heading -->
            <div id="collapse8" class="panel-collapse collapse">
              <div class="panel-body">
                <p class="body">
                  Students can choose from an elective course that examines perspectives on the law and justice. All students must complete a perspective elective before graduation.
                </p>
              </div>
            </div><!-- panel-collapse -->
          </div><!-- panel -->
        </div> <!-- close nested -->
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
</div>
</div>
