<div class="col-md-12 row rule-top" id="Faqs">
<h2 class="secondary-explainer">Frequently Asked Questions</h2>

<div class="panel-group accord-blk" id="accordion">
  <div class="panel">
    <div class="panel-heading">
      <h6 class="faq">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFAQ1">
          Which undergraduate courses do I need to take to be prepared and more competitive for law school?
          <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h6>
    </div><!-- panel-heading -->
    <div id="collapseFAQ1" class="panel-collapse collapse">
      <div class="panel-body">
        <p class="body">There is no required or recommended undergraduate major or set of courses to prepare for law school. Students are admitted to law school each year from a wide range of academic majors. Some choose to major in somewhat traditional areas such as political science, English, history, etc. others in subjects such as music, engineering and fine arts. It is recommended that you select a major and choose courses that are both challenging and of interest to you. For applicants to Loyola, the five most popular majors are Economics, English, Finance, Political Science and Psychology.
        </p>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->

  <div class="panel">
    <div class="panel-heading">
      <h6 class="faq">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFAQ2">
           How long does it usually take to graduate from law school?
          <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h6>
    </div><!-- panel-heading -->
    <div id="collapseFAQ2" class="panel-collapse collapse">
      <div class="panel-body">
<p class="body">It typically takes three years to graduate from the Full-time JD program and four years to complete the Weekend JD program. This time frame does not include summer classes.</p>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
  <div class="panel">
    <div class="panel-heading">
      <h6 class="faq">
        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFAQ3">
           How do I register for the LSAT?
          <span class="accordion-icon"><img src="/images/luc-edu-accordion-arrow.png"></span>
        </a>
      </h6>
    </div><!-- panel-heading -->
    <div id="collapseFAQ3" class="panel-collapse collapse">
      <div class="panel-body">
<p class="body">You can go to the Law School Admission Council's (LSAC) website to register for the LSAT. The exam is offered four (4) times a year: June, October, December, and February. Your score is active for five years with LSAC.</p>
      </div>
    </div><!-- panel-collapse -->
  </div><!-- panel -->
</div>
</div>
