<!-- panel - canvas-2-col-accordion -->
<div id="parallax-panel-two" class="container-fluid bg-white canvas-parallax-panel slide2">
	<div class="container canvas-parallax-panel-padding">
		<div class="col-md-12">
			<div class="col-md-6 p-l-0">
				<h5 class="label m-b-20">Canvas panel headline here</h5>
				<h1 class="display">Hedgeline is here.</h1>
				<p class="body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.<a class="cta"> Read more</a></p>
			</div>
			<div class="col-md-6 p-r-0">
					<img src="http://placehold.it/1000x560"/>
					<p class="caption">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur blandit ligula a justo dignissim, in suscipit magna lobortis.</p>
			</div>
		</div>
	</div>
</div>
