<!-- SLIDE 1 - LEAD ----------------------------------->
<!-- SLIDE 1 - IMAGE ----------------------------------->

<section id="slide1" class="bg-gray-dark">
	<div id="slide1" class="container-fluid p-0">
		<img class="p-0 m-0" src="images/00-canvas-parallax-image-light-fpo-1800-735.jpg">
		<div id="overlay-headline-panel" class="container-fluid">
			<div class="container">
				<div class="col-md-12 overlay-headline">
					<h1 class="uppercase">
						<a class="reverse" href="###">Headline here</a>
							<span class="overlay-headline-separator reverse" style="font-family: 'Antenna Thin', sans-serif !important; margin: 0 10px; position: relative; top: -2px;">
								&#124;
							</span>
						<a class="smooth-scroll reverse" href="#anchor-panel-id-two">Headline here</a>
								<ul id="social">
									<li><a class="icon-fb" title="Follow us on Facebook" href="https://facebook.com/arrupechicago"></a></li>
									<li><a class="icon-tw" title="Follow us on Twitter" href="https://twitter.com/arrupechicago"></a></li>
									<li><a class="icon-yt" title="Follow us on Youtube" href="https://www.youtube.com/channel/UCuIaornYrkFXe81Pkc8mhBw "></a></li>
								</ul>
					</h1>
				</div>
			</div>
		</div>
	</div>
</section>
