<div class="container-fluid bg-white story-content-padding">
  		<div class="card-hover">
  			<img class="image" src="/images/1000x560-image1-exp2.png" />
  			<div class="overlay">
  				<img class="image" src="/images/1000x560-image2-exp2.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/1000x560-image1-exp2.png" />
  			<div class="overlay">
  				<img class="image" src="/images/1000x560-image2-exp2.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/1000x560-image1-exp2.png" />
  			<div class="overlay">
  				<img class="image" src="/images/1000x560-image2-exp2.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/1000x560-image1-exp2.png" />
  			<div class="overlay">
  				<img class="image" src="/images/1000x560-image2-exp2.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/1000x560-image1-exp2.png" />
  			<div class="overlay">
  				<img class="image" src="/images/1000x560-image2-exp2.png" />
  			</div>
  		</div>
  		<div class="card-hover">
  			<img class="image" src="/images/1000x560-image1-exp2.png" />
  			<div class="overlay">
  				<img class="image" src="/images/1000x560-image2-exp2.png" />
  			</div>
  		</div>
</div>
