<div id="story-opacity-slider" class="container-fluid story-content-padding">
  <div class="col-md-12 p-0">
		<div class="col-md-6">
			<div class="opacity-slider-wrapper">
				<div class="opacity-slider-layer-01"></div>
				<div class="opacity-slider-layer-02"></div>
			</div>
		</div>
		<div class="col-md-6">
			<form id="story-opacity-slider-control">
				<label>Use the slider to learn more</label>
				<input type="range" name="bgopacity" id="bgopacity" value="50" min="0" max="100" step="1" onchange="rangevalue.value=value">
				<output id="rangevalue">50</output>
			</form>
		</div>
	</div>
</div>
