<!-- module - pano -->
<div class="col-md-12 module-base pano"
data-image-link="http://www.luc.edu/media/lucedu/patternlibrary/images/pattern-library-campus.jpg"
adjsize="enlarge-200 horizontal-08-vertical-09" style="background-image:url('http://www.luc.edu/media/lucedu/patternlibrary/images/pattern-library-campus.jpg')">
	<h6>
		Label herehere
	</h6>
	<div class="col-md-12 overlay">
		<h1 class="display">
			<a href="###">Headline herehere</a>
		</h1>
		<h4 class="subhead reverse">
			Lorem ipsum unum hereum unum lorem ipsum hereumerum unim lorimnus ibus unim lorem. <a class="cta-link" href="###">Read More</a>
		</h4>
	</div>
</div>
