body#crime-scene {
  padding-top: 0;
  background: transparent;
  background: url(../images/forensic-crime-scene-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bullet-number.bullet-number-crime {
  color: #eeeeee !important;
  background: teal !important;
  box-shadow: 0px 0px 5px rgba(0,0,0,.35) !important;
  transition: background .2s !important;
}

#story-wrapper .bullet-number.bullet-number-inline {
  display: inline;
  margin: 0 10px 0 14px;
  padding: 0px 8px 0px 8px;
  width: 36px !important;
  min-width: 36px !important;
  height: 30px !important;
  font-size: .95em;
  box-shadow: 0px 0px 5px rgba(0,0,0,.15);
}

.bullet-number.bullet-number-crime:hover {
  background: teal !important;
}
