body#crime-scene {
  padding-top: 0;
  background: transparent;
  background: url('../images/forensic-crime-scene-bg.jpg') no-repeat center center fixed !important;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  -o-background-size: cover !important;
  background-size: cover !important;
}

.bullet-number.bullet-number-crime {
  color: #eeeeee !important;
  background: #057478 !important;
  box-shadow: 0px 0px 5px rgba(0,0,0,.35) !important;
  -webkit-transition: background-color .2s ease-out;
  -moz-transition: background-color .2s ease-out;
  -o-transition: background-color .2s ease-out;
  transition: background-color .2s ease-out;
}

#story-wrapper .bullet-number.bullet-number-inline {
  display: inline;
  margin: 0 10px 0 14px;
  padding: 0px 8px 0px 8px;
  width: 36px !important;
  min-width: 36px !important;
  height: 30px !important;
  font-size: .95em;
  box-shadow: 0px 0px 5px rgba(0,0,0,.15);
}

.bullet-number.bullet-number-crime:hover {
  background-color: #08BCC1 !important;
}
