    <div id="get-started">
      <div id="accordion" class="m-t-15">
  <h4 class="accordion">Knowledge</h4>
  <div class="panel">
      <p class="body">You will be proficient in substantive and procedural law, including the influence of the administrative state, political institutions, and other academic disciplines.</p>
  </div>
  <h4 class="accordion">Skills</h4>
  <div class="panel">
    <ul>
      You will be able to:
      <li>Utilize skills derived from participation in supervised live-client experience, externships, or litigation and transactional practice simulations, such as interviewing, counseling, negotiation, mediation, fact development and analysis, trial practice, document drafting, and collaborative work;</li>
      <li>Determine your clients' needs and objectives;</li>
      <li>Determine relevant facts and understand their relevance to your client's legal position;</li>
      <li>Conduct legal research;</li>
      <li>Analyze and apply relevant legal principles;</li>
      <li>Find solutions to legal problems; and</li>
      <li>Communicate legal concepts clearly and effectively, both orally and in writing.</li>
    </ul>
  </div>
  <h4 class="accordion">Professional Values</h4>
  <div class="panel">
    <p class="body">You will have a solid foundation that will prepare you to use your knowledge and skills to promote truth, justice, and the rule of law. You will be able to:</p>
    <ul>
      <li>Integrate professional values;</li>
      <li>Exercise ethically responsible judgment in your legal practice and your work within the legal system;</li>
      <li>Understand the rules, ethics, and values of the legal profession, such as honesty, civility and work-ethic;</li>
      <li>Know the significance of a commitment to your clients and to the legal system; and</li>
      <li>Understand the importance of using your knowledge and skills in the service to those less fortunate and in need of legal assistance.</li>
    </ul>
  </div>
</div>

</div>
</div>

</div>
</div>
</div>
</div>
