<div class="col-md-9 p-0 m-t-20">
<div id="get-started" class="p-0">
<div id="accordion">
  <h4 class="accordion">Explore <span class="subhead">One of the country's top legal centers</span> </h4>
  <div class="panel">
    <div class="col-md-12 m-t-20 m-b-20">
    <h2>Opportunity abounds</h2>
    <p class="body">Chicago is home to many of the nation’s top trial and transactional lawyers. You'll want to investigate the externships and clinics which emphasize our commitment to public service and social justice. You'll see how our approach will help you become the ethical, practice-ready attorney expected by today's leading law firms.</p>
    <p class="body">And we'll encourage you to use your knowledge to help others. Our students make a difference in culturally and economically diverse areas across the city, throughout the country and around the world.</p>
    <p class="body">Our programs are designed to meet your needs. In addition to our full-time JD degree, we offer a flexible weekend JD to fit your professional schedule. Whether you choose our full-time or weekend program, you'll benefit from:</p>
    <ul>
      <li>Opportunities for specialization</li>
      <li>Integration of academic rigor and practical experience</li>
      <li>Our distinguished faculty</li>
    </ul>
  </div>
  </div>
</div>
</div>
<div id="get-started" class="p-0">
<div id="accordion">
  <h4 class="accordion">Visit <span class="subhead">Welcome to the neighborhood</span> </h4>
  <div class="panel">
    <div class="col-md-12 m-t-20 m-b-20">
    <h2>Get a firsthand look</h2>
    <p class="body">Our location in the heart of Chicago's Magnificent Mile places you at the hub of the city and its opportunities. See for yourself. Our facilities will tell you a great deal about who we are and what we value. We hope you'll take the time to:</p>
    <ul>
      <li>Take a campus tour</li>
      <li>Watch a law class in session</li>
      <li>Join a question-and-answer discussion</li>
      <li>Explore our vibrant Gold Coast neighborhood</li>
    </ul>
    <p class="body">And, just in case you can't get here, we'll bring our story to you. Check our schedule to see when we'll be visiting your area.</p>
  </div>
  </div>
</div>
</div>
<div id="get-started" class="p-0">
<div id="accordion">
  <h4 class="accordion">Apply<span class="subhead">Look to the LSAC</span> </h4>
  <div class="panel">
    <div class="col-md-12 m-t-20 m-b-20">
    <h2>Help us get to know you</h2>
    <p class="body">Let's break the process down to a few initial steps. If you haven't done so already, create your account at LSAC. Use this account to:</p>
    <ul>
      <li>Register for the LSAT</li>
      <li>Review important dates and deadlines</li>
      <li>Sign up for their Credential Assembly Service (CAS)</li>
      <li>Get complete application details from the Admissions office</li>
      <li>Complete your JD application</li>
      <li>Submit your academic transcript, letter(s) of recommendation and other required documentation</li>
    </ul>
    <p class="body">Prospective International students are required to follow some additional steps. Get all the details you need regarding International Admission.</p>
  </div>
  </div>
</div>
</div>
<div id="get-started" class="p-0">
<div id="accordion">
  <h4 class="accordion">Check Your Status<span class="subhead">After you apply</span> </h4>
  <div class="panel">
    <div class="col-md-12 m-t-20 m-b-20">
    <h2>Visit your Status Page on LSAC</h2>
    <p class="body">The <a href="#">LSAC</a> website will acknowledge receipt of your application. We'll review your application and let you know if anything is missing. And we'll keep you updated on your admission process from application through acceptance.</p>
  </div>
  </div>
</div>
</div>
<div id="get-started" class="p-0">
<div id="accordion">
  <h4 class="accordion">Pay For Your Education <span class="subhead">Invest in your future</span> </h4>
  <div class="panel">
    <div class="col-md-12 m-t-20 m-b-20">
    <h2>Our graduates are proof of our value</h2>
    <p class="body">Law school is a substantial investment. At Loyola University Chicago School of Law, we will do everything we can to help you secure financial support for your legal education. Explore these potential sources of financial assistance.</p>
    <ul>
      <li>Merit scholarships (automatically reviewed with your application)</li>
      <li>Fellowships (require deadline-sensitive special application)</li>
      <li>Specialized scholarships (require deadline-sensitive special application)</li>
      <li>Need-based scholarships</li>
      <li>Outside Scholarships</li>
      <li>Federal loans</li>
    </ul>
  </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
