<div class="container-fluid p-0 p-t-30 p-b-30">
  <div class="col-md-12 m-0 p-0">
    <div class="container-fluid p-0">
    <div class="container p-0" style="width: 100%;">
      <div class="col-md-9 p-0">
        <h1 class="display">Let’s Get Started</h1>
        <h2 class="secondary-explainer">We know you’re busy, so we’ll be brief.</h2>
        <p class="body intro">We've created the following short steps to help you get to know us. And in the process, we'll ease your navigation of the application process at Loyola University Chicago School of Law.
        </p>
      </div>
