<div class="container-fluid story-content-padding p-b-0">
  <div class="col-md-12">
    <div class="col-md-4 p-0 p-r-20">
      <img class="m-t-0" src="http://placehold.it/1000x560"/>
    </div>
    <div class="col-md-8 p-0">
      <blockquote class="blockquote-standard blockquote-sentence-case m-t-0 m-b-20">“We're a small piece of the process. We don't solve anything. When people visit our labs, I want people to get a real snapshot of what forensics is like.”</blockquote>
      <cite class="cite-standard m-t-0 m-b-0" style="text-transform: none;">— Anne Grauer, PhD, chair of Anthropology and forensic anthropologist for Cook County</cite>
    </div>
    <div class="col-md-12 p-0 m-t-30">
      <p class="body"><span class="leadin">Forensic Anthropology</span> applies the science of biological anthropology to the legal process. These anthropologists help law enforcement determine if bones are human or animal and help with identification when the cause of death is uncertain and when there are minimal human remains.</p>
    </div>
  </div>
</div>
