<div id="content-populate">
	<div class="col-md-12 p-0">
		<div class="repositioned-element-image">
			<div id="bullet-two" class="tooltip-populate">
				<a><span class="bullet-number display bullet-number-crime">+</span></a>
				<span class="tooltip-content top-center">
				 <div class="col-md-12 p-0 tooltip-content-text">
						<h5 class="label reverse m-t-0 m-b-10">The body</h5>
						<p class="body">Although this human skeleton is decomposing, it can tell us a lot, including age at death, sex, ancestry, stature, indications of trauma, and past conditions/diseases.</p>
				 </div>
				</span>
			</div>
			<div id="bullet-three" class="tooltip-populate">
				<a><span class="bullet-number display bullet-number-crime">+</span></a>
				<span class="tooltip-content top-center">
 					<div class="col-md-5 p-0">
 					 <img class="m-t-0 m-b-0" src="images/crime-evidence-gun.png">
 				 </div>
 				 <div class="col-md-7 tooltip-content-text">
 						<h5 class="label reverse m-t-0 m-b-10">Handgun</h5>
 						<p class="body">The gun may have fingerprints that could be traced to the victim or possibly the perpetrator. This pattern evidence may help in identifying the victim or others involved in the crime.</p>
 				 </div>
 				</span>
			</div>
			<div id="bullet-four" class="tooltip-populate">
				<a><span class="bullet-number display bullet-number-crime">+</span></a>
				<span class="tooltip-content top-center">
 					<div class="col-md-5 p-0">
 					 <img class="m-t-0 m-b-0" src="images/crime-evidence-shirt.png">
 				 </div>
 				 <div class="col-md-7 tooltip-content-text">
 						<h5 class="label reverse m-t-0 m-b-10">Torn clothing</h5>
 						<p class="body">The clothing may have biological samples-such as bodily fluids-that could be tested to help reveal the identity of the victim or possibly perpetrator.</p>
 				 </div>
 				</span>
			</div>
			<div id="bullet-five" class="tooltip-populate">
				<a><span class="bullet-number display bullet-number-crime">+</span></a>
				<span class="tooltip-content top-right">
 					<div class="col-md-5 p-0">
 					 <img class="m-t-0 m-b-0" src="images/crime-evidence-packet.png">
 				 </div>
 				 <div class="col-md-7 tooltip-content-text">
					 <h5 class="label reverse m-t-0 m-b-10">Baggie and substance</h5>
 						<p class="body">The unknown contents will be analyzed by drug chemists and toxicologists for identification. Any DNA found in the substance could also be used in identifying the victim or others involved.</p>
 				 </div>
 				</span>
			</div>
			<div id="bullet-six" class="tooltip-populate">
				<a><span class="bullet-number display bullet-number-crime">+</span></a>
				<span class="tooltip-content top-left">
 				 <div class="col-md-12 p-0 tooltip-content-text">
 						<h5 class="label reverse m-t-0 m-b-10">Human skull</h5>
 						<p class="body">The skull will be examined to determine the events leading up to death and analyze any alterations to the skull, as in this case what appears to be trauma.</p>
 				 </div>
 				</span>
			</div>
			<div class="col-md-12 p-0">
				<img class="m-t-0 m-b-0" src="images/forensic-crime-scene-illustration.jpg">
			</div>
		</div>
	</div>
