<div class="container-fluid story-content-padding equal-box-container p-t-20">
  <div class="col-md-12 p-0 p-b-20">
    <div class="col-md-4 rule-left-small-spacing equal-box">
      <img class="float-left m-t-0" src="images/crime-biology-500-280.jpg"/>
      <p class="caption m-b-0 p-b-0"><span class="leadin">Biology -</span> Forensic biologists and DNA analysts analyze and identify evidence for bodily fluids such as semen, saliva, and blood. From that information, they can connect the materials to real people and potentially perform a DNA analysis.</p>
    </div>
    <div class="col-md-4 p-0 rule-left-small rule-left-small-spacing equal-box">
      <img class="float-left m-t-0" src="images/crime-chemistry-500-280.jpg"/>
      <p class="caption m-b-0 p-b-0"><span class="leadin">Chemistry -</span> A forensic drug chemist will identify unknown substances. If any biological samples-human tissue or body fluid-are found, a forensic toxicologist will use those to identify any drugs. Samples come from almost any part of the body including fluids (blood, urine, vitreous humor (gel from your eyes), saliva, sweat, ear wax), breath, internal organs (liver, heart, stomach), hair, and fingernails.</p>
    </div>
    <div class="col-md-4 rule-left-small equal-box">
      <img class="float-left m-t-0" src="images/crime-criminal-500-280.jpg"/>
      <p class="caption m-b-0 p-b-0"><span class="leadin">Criminal Justice -</span>The system though which crimes and criminals are identified, apprehended, tried, and punished. Law enforcement officials, drug enforcement agents, investigators, judges, lawyers, and policymakers all work within this system.</p>
    </div>
  </div>
</div>
