<div id="introduction" class="container-fluid bg-white story-content-padding">
  <div class="col-md-12">
    <h5 class="label small">Label herehere <span style="font-family: 'Antenna Light', sans-serif;"> Label readout herehere</span></h5>
    <h1 class="display m-b-30">Headgline here here</h1>
  </div>
  <div class="col-md-12">
    <p class="intro">
      <span class="leadin">A crime scene is a puzzle</span> that hold the clues to solving a case—but it takes expert training to be able to crack those clues. Seniors from Evanston Township High School (ETHS) recently got a firsthand lesson in how to do just that when they visited Loyola’s Forensic Science undergraduate labs to learn about crime scene investigation (CSI).
    </p>
    <p class="body">
      <span class="leadin">Loyola’s nationally ranked interdisciplinary program</span> combines Biology, Anthropology, Chemistry, and Criminal Justice. Using tools from these disciplines, students investigated a replicated crime scene, one that could easily appear in the Chicago area.
    </p>
  </div>
</div>
