<div id="content-populate">
	<div class="col-md-12 p-0">
		<div class="repositioned-element-image">
			<div id="bullet-one" class="tooltip-populate">
				<a><span class="bullet-number display" style="font-family: 'Times', serif;">i</span></a>
			</div>
			<div id="bullet-two" class="tooltip-populate">
				<a><span class="bullet-number display">+</span></a>
				<span class="tooltip-content top-center">
				 <div class="col-md-12 p-0 tooltip-content-text">
						<h6 class="category reverse small m-t-0">The body</h6>
						<p class="body small">Although this human skeleton is decomposing, it can tell us a lot, including age at death, sex, ancestry, stature, indications of trauma, and past conditions/diseases.</p>
				 </div>
				</span>
			</div>
			<div id="bullet-three" class="tooltip-populate">
				<a><span class="bullet-number display">+</span></a>
				<span class="tooltip-content top-center">
 					<div class="col-md-5 p-0">
 					 <img class="m-t-0 m-b-0" src="http://via.placeholder.com/950x650">
 				 </div>
 				 <div class="col-md-7 tooltip-content-text">
 						<h6 class="category reverse small m-t-0">Handgun</h6>
 						<p class="body small">The gun may have fingerprints that could be traced to the victim or possibly the perpetrator. This pattern evidence may help in identifying the victim or others involved in the crime.</p>
 				 </div>
 				</span>
			</div>
			<div id="bullet-four" class="tooltip-populate">
				<a><span class="bullet-number display">+</span></a>
				<span class="tooltip-content top-center">
 					<div class="col-md-5 p-0">
 					 <img class="m-t-0 m-b-0" src="http://via.placeholder.com/950x650">
 				 </div>
 				 <div class="col-md-7 tooltip-content-text">
 						<h6 class="category reverse small m-t-0">Torn clothing</h6>
 						<p class="body small">The clothing may have biological samples-such as bodily fluids-that could be tested to help reveal the identity of the victim or possibly perpetrator.</p>
 				 </div>
 				</span>
			</div>
			<div id="bullet-five" class="tooltip-populate">
				<a><span class="bullet-number display">+</span></a>
				<span class="tooltip-content top-right">
 					<div class="col-md-5 p-0">
 					 <img class="m-t-0 m-b-0" src="http://via.placeholder.com/950x650">
 				 </div>
 				 <div class="col-md-7 tooltip-content-text">
 						<h6 class="category reverse small m-t-0">Baggie and substance</h6>
 						<p class="body small">The unknown contents will be analyzed by drug chemists and toxicologists for identification. Any DNA found in the substance could also be used in identifying the victim or others involved.</p>
 				 </div>
 				</span>
			</div>
			<div id="bullet-six" class="tooltip-populate">
				<a><span class="bullet-number display">+</span></a>
				<span class="tooltip-content top-left">
 				 <div class="col-md-12 p-0 tooltip-content-text">
 						<h6 class="category reverse small m-t-0">Human skull</h6>
 						<p class="body small">The skull will be examined to determine the events leading up to death and analyze any alterations to the skull, as in this case what appears to be trauma.</p>
 				 </div>
 				</span>
			</div>
			<div class="col-md-12 p-0">
				<img class="m-t-0 m-b-0" src="images/forensic-crime-scene-illustration.jpg">
			</div>
		</div>
	</div>
	<div id="hidden-details" class="col-md-12 story-content-padding">
		<div id="content-one" style="display:block;">
			<div class="col-md-12">
				<p class="body"><span class="leadin">Clues and evidence at a crime scene are a key for investigators.</span> Law enforcement detectives are usually first on a scene. Then, evidence technicians come to collect any trace of evidence. This is sent to a crime lab, where each item is distributed to select areas within forensics. If there is a body, a medical examiner will perform an autopsy and could potentially consult with forensic anthropologist if they have unanswered questions.</p>
			</div>
		</div>
		<div id="content-two" style="display:none;">
			<div class="col-md-4 p-0">
				<img src="http://via.placeholder.com/1000x560">
			</div>
			<div class="col-md-8 p-0 p-l-20">
				<p class="body leadin m-t-0 m-b-10" style="font-family: Antenna Light, sans-serif; font-size: .8em;">LAB: Bones</p>
				<p class="body"><span class="leadin">Forensic anthropologists</span> will inspect the skeletal remains to find any patterns-holes, fractures, length/shape of bones-in the skull or body that will help create a timeline of any trauma.</p>
			</div>
		</div>
		<div id="content-three" style="display:none;">
			<div class="col-md-4 p-0">
				<img src="http://via.placeholder.com/1000x560">
			</div>
			<div class="col-md-8 p-0 p-l-20">
				<p class="body leadin m-t-0 m-b-10" style="font-family: Antenna Light, sans-serif; font-size: .85em;">LAB: The gun</p>
				<p class="body"><span class="leadin">A pattern evidence examiner</span> could take photographs, dust, or use special lighting to reveal possible fingerprints on the gun. Prints would then be lifted in several possible ways, such as using tape. Special care must always be taken to preserve any prints.</p>
			</div>
		</div>
		<div id="content-four" style="display:none;">
			<div class="col-md-4 p-0">
				<img src="http://via.placeholder.com/1000x560">
			</div>
			<div class="col-md-8 p-0 p-l-20">
				<p class="body leadin m-t-0 m-b-10" style="font-family: Antenna Light, sans-serif; font-size: .85em;">LAB: Clothing</p>
				<p class="body"><span class="leadin">Forensic analysts</span> will run any number of tests from clothing samples by using a number of various tests, including a dye test where a dye is applied to the fluid to indicate the presence of blood, semen, or saliva.</p>
			</div>
		</div>
		<div id="content-five" style="display:none;">
			<div class="col-md-4 p-0">
				<img src="http://via.placeholder.com/1000x560">
			</div>
			<div class="col-md-8 p-0 p-l-20">
				<p class="body leadin m-t-0 m-b-10" style="font-family: Antenna Light, sans-serif; font-size: .85em;">LAB: Substances</p>
				<p class="body"><span class="leadin">Forensic chemists</span> and toxicologists will take a sample from the bag and conduct drug screening tests like one that uses antibodies to detect a reaction to specific substances. That reaction will determine if a sample is positive or negative for a drug.</p>
			</div>
		</div>
		<div id="content-six" style="display:none;">
			<div class="col-md-4 p-0">
				<img src="http://via.placeholder.com/1000x560">
			</div>
			<div class="col-md-8 p-0 p-l-20">
				<p class="body leadin m-t-0 m-b-10" style="font-family: Antenna Light, sans-serif; font-size: .85em;">LAB: XXXXX</p>
				<p class="body"><span class="leadin">Forensic anthropologists</span> will inspect the skeletal remains to find any patterns-holes, fractures, length/shape of bones-in the skull or body that will help create a timeline of any trauma.</p>
			</div>
		</div>
	</div>
</div>

<style>

	#hidden-details { background: #aaaaaa; }

	#hidden-details p.body { font-size: 1em; }

	#story-wrapper #bullet-one {
		left: 16%;
		top: 45%;
	}

	#story-wrapper #bullet-two {
		left: 30%;
		top: 78%;
	}

	#story-wrapper #bullet-three {
		left: 43%;
		top: 92%;
	}

	#story-wrapper #bullet-four {
		left: 30%;
		top: 63%;
	}

	#story-wrapper #bullet-five {
		left: 67%;
		top: 63%;
	}

	#story-wrapper #bullet-six {
		left: 16%;
		top: 63%;
	}

	#story-wrapper #bullet-seven {
		left: 60%;
		top: 60%;
	}

	#story-wrapper #bullet-eight {
		left: 70%;
		top: 70%;
	}
</style>

<script>
	$(document).ready(function() {
		$("#bullet-one").click(function() {
			$('#content-one').show().siblings("div").hide();
		});
		$("#bullet-two").click(function() {
			$('#content-two').show().siblings("div").hide();
		});
		$("#bullet-three").click(function() {
			$('#content-three').show().siblings("div").hide();
		});
		$("#bullet-four").click(function() {
			$('#content-four').show().siblings("div").hide();
		});
		$("#bullet-five").click(function() {
			$('#content-five').show().siblings("div").hide();
		});
		$("#bullet-six").click(function() {
			$('#content-six').show().siblings("div").hide();
		});
		$("#bullet-seven").click(function() {
			$('#content-seven').show().siblings("div").hide();
		});
	});
</script>
