<div class="container-fluid story-content-padding" style="background: #272727;">
	<h4 class="display m-0 p-l-15 p-r-15" style="font-family: 'Antenna', sans-serif; line-height: 1.75; color: #cccccc;"><span class="uppercase" style="font-family: 'Antenna Bold', sans-serif">Anatomy of a crime scene:</span> Learn how lorem ipsum unum herum lorem herum dosm</h4>
</div>
<div id="introduction" class="container-fluid bg-white story-content-padding">
  <div class="col-md-12">
    <h4 class="subhead" style="line-height: 2.25;">
      <span class="leadin">A crime scene is a puzzle</span> that hold the clues to solving a case—but it takes expert training to be able to crack those clues. Seniors from Evanston Township High School (ETHS) recently got a firsthand lesson in how to do just that when they visited Loyola’s Forensic Science undergraduate labs to learn about crime scene investigation (CSI).
    </h4>
  </div>
</div>
<div class="container-fluid story-content-padding p-t-20 p-b-20" style="background: #cccccc;">
	<p class="body m-0 p-l-15 p-r-15" style="font-family: 'Antenna', sans-serif;">Each <span class="bullet-number bullet-number-inline">+</span> below reveals key evidence. Click the <span class="bullet-number bullet-number-inline">+</span> to see what was discovered in the labs.</p>
</div>

<style>
  #story-wrapper .bullet-number.bullet-number-inline, .inline {
    float: none;
    display: inline-block;
    margin: 0 3px;
    padding-top: 0;
    font-size: 1em;
  }
</style>
