<div id="content-populate">
	<div class="col-md-9">
		<div class="repositioned-element-image row">
			<div id="bullet-one" class="tooltip-populate">
				<a><span class="bullet-number display">+</span></a>
				<span class="tooltip-content">
					<div class="col-md-5 p-0">
					 <img class="m-t-0 m-b-0" src="http://via.placeholder.com/950x650">
				 </div>
				 <div class="col-md-7 tooltip-content-text">
						<h6 class="category reverse small m-t-0">Label here</h6>
						<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula.</p>
				 </div>
				</span>
			</div>
			 <div id="bullet-two" class="tooltip-populate">
				 <a><span class="bullet-number display">+</span></a>
				 <span class="tooltip-content">
 					<div class="col-md-5 p-0">
 					 <img class="m-t-0 m-b-0" src="http://via.placeholder.com/950x650">
 				 </div>
 				 <div class="col-md-7 tooltip-content-text">
 						<h6 class="category reverse small m-t-0">Label here</h6>
 						<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula.</p>
 				 </div>
 				</span>
			 </div>
			 <div id="bullet-three" class="tooltip-populate">
				 <a><span class="bullet-number display">+</span></a>
				 <span class="tooltip-content">
 					<div class="col-md-5 p-0">
 					 <img class="m-t-0 m-b-0" src="http://via.placeholder.com/950x650">
 				 </div>
 				 <div class="col-md-7 tooltip-content-text">
 						<h6 class="category reverse small m-t-0">Label here</h6>
 						<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula.</p>
 				 </div>
 				</span>
			 </div>
			 <div id="bullet-four" class="tooltip-populate">
				 <a><span class="bullet-number display">+</span></a>
				 <span class="tooltip-content">
 					<div class="col-md-5 p-0">
 					 <img class="m-t-0 m-b-0" src="http://via.placeholder.com/950x650">
 				 </div>
 				 <div class="col-md-7 tooltip-content-text">
 						<h6 class="category reverse small m-t-0">Label here</h6>
 						<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula.</p>
 				 </div>
 				</span>
			 </div>
			 <div id="bullet-five" class="tooltip-populate">
				 <a><span class="bullet-number display">+</span></a>
				 <span class="tooltip-content">
 					<div class="col-md-5 p-0">
 					 <img class="m-t-0 m-b-0" src="http://via.placeholder.com/950x650">
 				 </div>
 				 <div class="col-md-7 tooltip-content-text">
 						<h6 class="category reverse small m-t-0">Label here</h6>
 						<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula.</p>
 				 </div>
 				</span>
			 </div>
			 <div id="bullet-six" class="tooltip-populate">
				 <a><span class="bullet-number display">+</span></a>
				 <span class="tooltip-content">
 					<div class="col-md-5 p-0">
 					 <img class="m-t-0 m-b-0" src="http://via.placeholder.com/950x650">
 				 </div>
 				 <div class="col-md-7 tooltip-content-text">
 						<h6 class="category reverse small m-t-0">Label here</h6>
 						<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula.</p>
 				 </div>
 				</span>
			 </div>
			 <div id="bullet-seven" class="tooltip-populate">
				 <a><span class="bullet-number display">+</span></a>
				 <span class="tooltip-content">
 					<div class="col-md-5 p-0">
 					 <img class="m-t-0 m-b-0" src="http://via.placeholder.com/950x650">
 				 </div>
 				 <div class="col-md-7 tooltip-content-text">
 						<h6 class="category reverse small m-t-0">Label here</h6>
 						<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula. Aenean vitae feugiat velit. Aliquam ut nisi sagittis, cursus leo at, auctor diam. Ut ut odio non massa consequat porta eget vel ligula.</p>
 				 </div>
 				</span>
			 </div>
			 <img class="graphic-main-image m-t-0 m-b-0" src="http://via.placeholder.com/950x650">
		</div>
	</div>
	<div id="hidden-details" class="col-md-3 p-0">
		<div id="content-one" style="display:block;">
			<img src="http://via.placeholder.com/1000x560">
			<h4 class="subhead">Label one goes here</h4>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div id="content-two" style="display:none;">
			<img src="http://via.placeholder.com/1000x560">
			<h4 class="subhead">Label two goes here</h4>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div id="content-three" style="display:none;">
			<img src="http://via.placeholder.com/1000x560">
			<h4 class="subhead">Label three goes here</h4>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div id="content-four" style="display:none;">
			<img src="http://via.placeholder.com/1000x560">
			<h4 class="subhead">Label four goes here</h4>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div id="content-five" style="display:none;">
			<img src="http://via.placeholder.com/1000x560">
			<h4 class="subhead">Label five goes here</h4>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div id="content-six" style="display:none;">
			<img src="http://via.placeholder.com/1000x560">
			<h4 class="subhead">Label six goes here</h4>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
		<div id="content-seven" style="display:none;">
			<img src="http://via.placeholder.com/1000x560">
			<h4 class="subhead">Label seven goes here</h4>
			<p class="body small">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
		</div>
	</div>
</div>

<style>
	#story-wrapper #bullet-one { left: 10%; top: 10%; }
	#story-wrapper #bullet-two { left: 20%; top: 20%; }
	#story-wrapper #bullet-three { left: 30%; top: 30%; }
	#story-wrapper #bullet-four { left: 40%; top: 40%; }
	#story-wrapper #bullet-five { left: 50%; top: 50%; }
	#story-wrapper #bullet-six { left: 60%; top: 60%; }
	#story-wrapper #bullet-seven { left: 70%; top: 70%; }
</style>

<script>
$(document).ready(function(){
		$("#bullet-one").click(function(){
			  $('#content-one').show().siblings("div").hide();
		});
		$("#bullet-two").click(function(){
				$('#content-two').show().siblings("div").hide();
		});
		$("#bullet-three").click(function(){
				$('#content-three').show().siblings("div").hide();
		});
		$("#bullet-four").click(function(){
				$('#content-four').show().siblings("div").hide();
		});
		$("#bullet-five").click(function(){
				$('#content-five').show().siblings("div").hide();
		});
		$("#bullet-six").click(function(){
				$('#content-six').show().siblings("div").hide();
		});
		$("#bullet-seven").click(function(){
				$('#content-seven').show().siblings("div").hide();
		});
});
</script>
