<div id="story-audio" class="container-fluid story-content-padding p-b-20" style="display: block; width: 100%; clear: both; background: #cccccc;">
  <div class="col-md-12">
    <p class="body m-b-20"><span class="leadin">What did forensics investigators find at this crime scene?</span> Listen to [person name, ’00] break down the details.</p>
    <audio controls>
			<source src="audio/forensic-summary.ogg" type="audio/ogg" />
			<source src="audio/forensic-summary.mp3" type="audio/mpeg" />
			<a href="audio/forensic-summary.mp3">What did forensics investigators find at this crime scene? Listen to [person name] break down the details:</a>
		</audio>
  </div>
</div>
