<div class="container-fluid story-content-padding p-b-30" style="background: #cccccc;">
	<p class="body intro bold p-l-15 p-r-15" style="font-family: 'Antenna', sans-serif; text-transform: none;">
    Loyola's nationally ranked interdisciplinary program combines
    <a class="link bold" style="color: #680013;" href="">Biology</a>,
    <a class="link bold" style="color: #680013;" href="">Anthropology</a>,
    <a class="link bold" style="color: #680013;" href="">Chemistry</a> and
    <a class="link bold" style="color: #680013;" href="">Criminal Justice</a>.
    Using tools from these disciplines, students investigated a replicated crime scene, one that could easily appear in the Chicago area.</h5>
</div>
