<div class="container-fluid story-content-padding p-t-20 p-b-0">
  <div class="col-md-12 m-b-30">
    <h2 class="display m-t-20 m-b-0" style="font-size: 1.65em;">The building blocks of CSI</h2>
    <!-- <p class="body caption m-b-0  p-t-0 p-b-0"><span class="leadin"></span>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p> -->
  </div>
  <div class="col-md-12 rule-bottom" style="box-sizing: border-box; padding-left: 0; padding-right: 0; margin-left: 15px; margin-right: 15px; padding-bottom: 20px !important; width: auto;">
    <div class="col-md-4 p-0 p-r-20">
      <img class="m-t-0 m-b-0" src="images/crime-anthropology-anne.jpg"/>
    </div>
    <div class="col-md-7 p-0">
        <p class="body caption m-b-0 p-t-0 p-b-0"><span class="leadin">Forensic Anthropology -</span> By applying the science of biological anthropology to the legal process, these anthropologists help law enforcement determine if bones are human or animal. They also help with identification when the cause of death is uncertain and when there are minimal human remains. <span class="explainer"> ( Anne Grauer, PhD, left )</span></p>
    </div>
  </div>
</div>
