<div class="container-fluid p-t-20 p-b-20" style="background: rgba(0,0,0,.9)">
  <h6 class="category text-center" style="margin: 0; color: #666666;">Text</h6>
</div>
<div id="story-audio" class="container-fluid story-content-padding">
  <div class="col-md-12 p-0">
    <audio controls>
			<source src="audio/forensic-summary.ogg" type="audio/ogg" />
			<source src="audio/forensic-summary.mp3" type="audio/mpeg" />
			<a href="audio/forensic-summary.mp3">###</a>
		</audio>
  </div>
</div>
<div class="container-fluid p-t-20 p-b-20" style="background: rgba(0,0,0,.9)">
  <h6 class="category text-center" style="margin: 0; color: #666666;">Text</h6>
</div>
