<div class="container-fluid story-content-padding" style="display: inline-block; margin-bottom: -10px; width: 100%; background: #272727;">
    <div class="col-md-12 p-0" style="overflow: hidden;">
      <div class="col-md-4 m-t-0">
        <audio controls style="max-width: 100%; display: block;">
          <source src="audio/forensic-summary.mp3">
          <p>Your browser does not support the audio element.</p>
        </audio>
      </div>
      <div class="col-md-7 p-l-0 p-t-15">
        <span class="leadin reverse">Listen to a summary of the case</span>
        <span class="reverse byline p-l-10">By Someone here, ’00</span>
      </div>
    </div>
</div>
